@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "广东快乐十分定位三走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "广东快乐十分定位三走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "广东快乐十分定位三走势图近" + pageSize + "期,查看更多广东快乐十分定位三走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "广东快乐十分定位三走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "广东快乐十分定位三走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的广东快乐十分定位三走势图,其中包括第三个开奖号码的大小、奇偶、质合、012路分布走势情况,让彩民朋友更直观的分析广东快乐十分定位三走势图.";
    }
    var DataList = ViewBag.DataList as LotteryData.Core.GDKLSF_DW3_InfoCollection;
    var a = 0;  
}
@{Html.RenderAction("ThendLink", "lotteryTrend");}
<div id="container">
    <div class="cont_box" style="width: 1003px; overflow-x: scroll;">
        <table width="100%" style="width: 1003px;" cellspacing="1" cellpadding="0" border="0"
            id="chartsTable" class="table_box">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="31">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="85" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td width="100" class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td colspan="10">
                        小区
                    </td>
                    <td colspan="10" class="line_r">
                        大区
                    </td>
                    <td colspan="2" class="line_r">
                        大小
                    </td>
                    <td colspan="2" class="line_r">
                        奇偶
                    </td>
                    <td colspan="2" class="line_r">
                        质合
                    </td>
                    <td colspan="3">
                        012路
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="23" nowrap="nowrap">
                        01
                    </td>
                    <td width="23" nowrap="nowrap">
                        02
                    </td>
                    <td width="23" nowrap="nowrap">
                        03
                    </td>
                    <td width="23" nowrap="nowrap">
                        04
                    </td>
                    <td width="23" nowrap="nowrap">
                        05
                    </td>
                    <td width="23" nowrap="nowrap">
                        06
                    </td>
                    <td width="23" nowrap="nowrap">
                        07
                    </td>
                    <td width="23" nowrap="nowrap">
                        08
                    </td>
                    <td width="23" nowrap="nowrap">
                        09
                    </td>
                    <td width="23" nowrap="nowrap">
                        10
                    </td>
                    <td width="23" nowrap="nowrap">
                        11
                    </td>
                    <td width="23" nowrap="nowrap">
                        12
                    </td>
                    <td width="23" nowrap="nowrap">
                        13
                    </td>
                    <td width="23" nowrap="nowrap">
                        14
                    </td>
                    <td width="23" nowrap="nowrap">
                        15
                    </td>
                    <td width="23" nowrap="nowrap">
                        16
                    </td>
                    <td width="23" nowrap="nowrap">
                        17
                    </td>
                    <td width="23" nowrap="nowrap">
                        18
                    </td>
                    <td width="23" nowrap="nowrap">
                        19
                    </td>
                    <td width="23" nowrap="nowrap" class="line_r">
                        20
                    </td>
                    <td width="20">
                        大
                    </td>
                    <td width="20" class="line_r">
                        小
                    </td>
                    <td width="20">
                        奇
                    </td>
                    <td width="20" class="line_r">
                        偶
                    </td>
                    <td width="20">
                        质
                    </td>
                    <td width="20" class="line_r">
                        合
                    </td>
                    <td width="20">
                        0
                    </td>
                    <td width="20">
                        1
                    </td>
                    <td width="20">
                        2
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="31">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="line_r">
                            @item.WinNumber.Substring(0, 6)<span class="tred">@item.WinNumber.Substring(6, 2)</span>@item.WinNumber.Substring(8, 15)
                        </td>
                        <td class="@(item.Red_01 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_01 == 0 ? "01" : item.Red_01.ToString())
                        </td>
                        <td class="@(item.Red_02 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_02 == 0 ? "02" : item.Red_02.ToString())
                        </td>
                        <td class="@(item.Red_03 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_03 == 0 ? "03" : item.Red_03.ToString())
                        </td>
                        <td class="@(item.Red_04 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_04 == 0 ? "04" : item.Red_04.ToString())
                        </td>
                        <td class="@(item.Red_05 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_05 == 0 ? "05" : item.Red_05.ToString())
                        </td>
                        <td class="@(item.Red_06 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_06 == 0 ? "06" : item.Red_06.ToString())
                        </td>
                        <td class="@(item.Red_07 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_07 == 0 ? "07" : item.Red_07.ToString())
                        </td>
                        <td class="@(item.Red_08 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_08 == 0 ? "08" : item.Red_08.ToString())
                        </td>
                        <td class="@(item.Red_09 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_09 == 0 ? "09" : item.Red_09.ToString())
                        </td>
                        <td class="@(item.Red_10 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_10 == 0 ? "10" : item.Red_10.ToString())
                        </td>
                        <td class="@(item.Red_11 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_11 == 0 ? "11" : item.Red_11.ToString())
                        </td>
                        <td class="@(item.Red_12 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_12 == 0 ? "12" : item.Red_12.ToString())
                        </td>
                        <td class="@(item.Red_13 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_13 == 0 ? "13" : item.Red_13.ToString())
                        </td>
                        <td class="@(item.Red_14 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_14 == 0 ? "14" : item.Red_14.ToString())
                        </td>
                        <td class="@(item.Red_15 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_15 == 0 ? "15" : item.Red_15.ToString())
                        </td>
                        <td class="@(item.Red_16 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_16 == 0 ? "16" : item.Red_16.ToString())
                        </td>
                        <td class="@(item.Red_17 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_17 == 0 ? "17" : item.Red_17.ToString())
                        </td>
                        <td class="@(item.Red_18 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_18 == 0 ? "18" : item.Red_18.ToString())
                        </td>
                        <td class="@(item.Red_19 == 0 ? "cbg hot11" : "y101")">
                            @(item.Red_19 == 0 ? "19" : item.Red_19.ToString())
                        </td>
                        <td class="@(item.Red_20 == 0 ? "cbg hot11 line_r" : "y101 line_r")">
                            @(item.Red_20 == 0 ? "20" : item.Red_20.ToString())
                        </td>
                        <td class="@(item.NODX_D == 0 ? "bigsmall" : "y101")">
                            @(item.NODX_D == 0 ? "大" : item.NODX_D.ToString())
                        </td>
                        <td class="@(item.NODX_X == 0 ? "bigsmall line_r" : "y101 line_r")">
                            @(item.NODX_X == 0 ? "小" : item.NODX_X.ToString())
                        </td>
                        <td class="@(item.NOJO_J == 0 ? "oddeven" : "y101")">
                            @(item.NOJO_J == 0 ? "奇" : item.NOJO_J.ToString())
                        </td>
                        <td class="@(item.NOJO_O == 0 ? "oddeven line_r" : "y101 line_r")">
                            @(item.NOJO_O == 0 ? "偶" : item.NOJO_O.ToString())
                        </td>
                        <td class="@(item.NOZH_Z == 0 ? "primecomposite" : "y101")">
                            @(item.NOZH_Z == 0 ? "质" : item.NOZH_Z.ToString())
                        </td>
                        <td class="@(item.NOZH_H == 0 ? "primecomposite line_r" : "y101 line_r")">
                            @(item.NOZH_H == 0 ? "和" : item.NOZH_H.ToString())
                        </td>
                        <td class="@(item.Yu_0 == 0 ? "c3" : "y101")">
                            @(item.Yu_0 == 0 ? 0 : item.Yu_0)
                        </td>
                        <td class="@(item.Yu_1 == 0 ? "c3" : "y101")">
                            @(item.Yu_1 == 0 ? 1 : item.Yu_1)
                        </td>
                        <td class="@(item.Yu_2 == 0 ? "c3 line_r" : "y101 line_r")">
                            @(item.Yu_2 == 0 ? 2 : item.Yu_2)
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="calculate">
                <tr>
                    <td align="center" class="bdtop line_r" colspan="2">
                        出现次数
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_01 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_02 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_03 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_04 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_05 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_06 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_07 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_08 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_09 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_12 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_13 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_14 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_15 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_16 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_17 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_18 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Red_19 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.Red_20 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NODX_D == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NODX_X == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NOJO_J == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NOJO_O == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NOZH_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NOZH_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Yu_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Yu_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.Yu_2 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        平均遗漏
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_01) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_02) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_03) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_04) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_05) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_06) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_07) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_08) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_09) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_10) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_11) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_12) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_13) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_14) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_15) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_16) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_17) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_18) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Red_19) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.Red_20) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NODX_D) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NODX_X) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NOJO_J) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NOJO_O) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NOZH_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NOZH_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Yu_0) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Yu_1) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.Yu_2) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        最大遗漏
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_01))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_02))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_03))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_04))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_05))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_06))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_07))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_08))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_09))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_10))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_11))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_12))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_13))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_14))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_15))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_16))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_17))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_18))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Red_19))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.Red_20))
                    </td>
                    <td>
                        @(DataList.Max(p => p.NODX_D))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NODX_X))
                    </td>
                    <td>
                        @(DataList.Max(p => p.NOJO_J))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NOJO_O))
                    </td>
                    <td>
                        @(DataList.Max(p => p.NOZH_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NOZH_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Yu_0))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Yu_1))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.Yu_2))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        当前遗漏
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_01)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_01)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_02)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_02)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_03)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_03)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_04)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_04)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_05)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_05)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_06)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_06)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_07)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_07)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_08)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_08)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_09)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_09)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].Red_10)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_10)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_11)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_11)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_12)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_12)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_13)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_13)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_14)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_14)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_15)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_15)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_16)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_16)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_17)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_17)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_18)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_18)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Red_19)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_19)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].Red_20)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Red_20)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].NODX_D)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NODX_D)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].NODX_X)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NODX_X)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].NOJO_J)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NOJO_J)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].NOJO_O)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NOJO_O)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].NOZH_Z)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NOZH_Z)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].NOZH_H)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].NOZH_H)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Yu_0)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Yu_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].Yu_1)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Yu_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r" valign="bottom">
                        @(DataList[DataList.Count - 1].Yu_2)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].Yu_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td width="85" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td width="100" class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td width="23" nowrap="nowrap">
                        01
                    </td>
                    <td width="23" nowrap="nowrap">
                        02
                    </td>
                    <td width="23" nowrap="nowrap">
                        03
                    </td>
                    <td width="23" nowrap="nowrap">
                        04
                    </td>
                    <td width="23" nowrap="nowrap">
                        05
                    </td>
                    <td width="23" nowrap="nowrap">
                        06
                    </td>
                    <td width="23" nowrap="nowrap">
                        07
                    </td>
                    <td width="23" nowrap="nowrap">
                        08
                    </td>
                    <td width="23" nowrap="nowrap">
                        09
                    </td>
                    <td width="23" nowrap="nowrap">
                        10
                    </td>
                    <td width="23" nowrap="nowrap">
                        11
                    </td>
                    <td width="23" nowrap="nowrap">
                        12
                    </td>
                    <td width="23" nowrap="nowrap">
                        13
                    </td>
                    <td width="23" nowrap="nowrap">
                        14
                    </td>
                    <td width="23" nowrap="nowrap">
                        15
                    </td>
                    <td width="23" nowrap="nowrap">
                        16
                    </td>
                    <td width="23" nowrap="nowrap">
                        17
                    </td>
                    <td width="23" nowrap="nowrap">
                        18
                    </td>
                    <td width="23" nowrap="nowrap">
                        19
                    </td>
                    <td width="23" nowrap="nowrap" class="line_r">
                        20
                    </td>
                    <td width="20">
                        大
                    </td>
                    <td width="20" class="line_r">
                        小
                    </td>
                    <td width="20">
                        奇
                    </td>
                    <td width="20" class="line_r">
                        偶
                    </td>
                    <td width="20">
                        质
                    </td>
                    <td width="20" class="line_r">
                        合
                    </td>
                    <td width="20">
                        0
                    </td>
                    <td width="20">
                        1
                    </td>
                    <td width="20">
                        2
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="10">
                        小区
                    </td>
                    <td colspan="10" class="line_r">
                        大区
                    </td>
                    <td colspan="2" class="line_r">
                        大小
                    </td>
                    <td colspan="2" class="line_r">
                        奇偶
                    </td>
                    <td colspan="2" class="line_r">
                        质合
                    </td>
                    <td colspan="3">
                        012路
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".bigsmall"), color: "#CE7B00" });
        allLines.push({ line: $(".oddeven"), color: "#CE7B00" });
        allLines.push({ line: $(".primecomposite"), color: "#CE7B00" });
        allLines.push({ line: $(".c3"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
