@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "重庆十一选重号走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆十一选重号走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "重庆十一选重号走势图近" + pageSize + "期,查看更多请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "重庆十一选重号走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆十一选重号走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的重庆11选5重号走势图,其中包括重复号码个数和一区、二区、三区内的重号个数,让彩民朋友更直观的分析重庆11选5重号走势图.";
    }
    var chzs = ViewBag.DataList as List<LotteryData.Core.CQ11X5_CHZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "chzs_cq11x5" });}
<div id="container">
    <div class="cont_box" style="width: 1002px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" align="center" class="table_box"
            style="width: 1002px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="27">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="10%" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" width="15%" class="line_r">
                        出号
                    </td>
                    <td colspan="11" class="line_r">
                        号码分布
                    </td>
                    <td colspan="6" class="line_r">
                        重号个数
                    </td>
                    <td class="line_r">
                        一区
                    </td>
                    <td class="line_r">
                        二区
                    </td>
                    <td class="line_r">
                        三区
                    </td>
                    <td rowspan="2" class="line_r" width="10%">
                        个数
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="3%">
                        1
                    </td>
                    <td width="3%">
                        2
                    </td>
                    <td width="3%">
                        3
                    </td>
                    <td width="3%">
                        4
                    </td>
                    <td width="3%">
                        5
                    </td>
                    <td width="3%">
                        6
                    </td>
                    <td width="3%">
                        7
                    </td>
                    <td width="3%">
                        8
                    </td>
                    <td width="3%">
                        9
                    </td>
                    <td width="3%">
                        10
                    </td>
                    <td width="3%" class="line_r">
                        11
                    </td>
                    <td width="3%">
                        0
                    </td>
                    <td width="3%">
                        1
                    </td>
                    <td width="3%">
                        2
                    </td>
                    <td width="3%">
                        3
                    </td>
                    <td width="3%">
                        4
                    </td>
                    <td width="3%" class="line_r">
                        5
                    </td>
                    <td width="5%" class="line_r">
                        01-04
                    </td>
                    <td width="5%" class="line_r">
                        05-08
                    </td>
                    <td width="5%" class="line_r">
                        09-11
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata" style="font-size: 12px; font-family: '宋体',Tahoma,Consolas,Arial,Simsun;">
                @foreach (var item in chzs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="27">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[0]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[1]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[2]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[3]
                        </td>
                        <td class="hot12 line_r">
                            @item.WinNumber.Split(',')[4]
                        </td>
                        <td class="@(item.Red_01 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_01 == 0 ? "01" : item.Red_01.ToString())
                        </td>
                        <td class="@(item.Red_02 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_02 == 0 ? "02" : item.Red_02.ToString())
                        </td>
                        <td class="@(item.Red_03 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_03 == 0 ? "03" : item.Red_03.ToString())
                        </td>
                        <td class="@(item.Red_04 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_04 == 0 ? "04" : item.Red_04.ToString())
                        </td>
                        <td class="@(item.Red_05 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_05 == 0 ? "05" : item.Red_05.ToString())
                        </td>
                        <td class="@(item.Red_06 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_06 == 0 ? "06" : item.Red_06.ToString())
                        </td>
                        <td class="@(item.Red_07 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_07 == 0 ? "07" : item.Red_07.ToString())
                        </td>
                        <td class="@(item.Red_08 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_08 == 0 ? "08" : item.Red_08.ToString())
                        </td>
                        <td class="@(item.Red_09 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_09 == 0 ? "09" : item.Red_09.ToString())
                        </td>
                        <td class="@(item.Red_10 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_10 == 0 ? "10" : item.Red_10.ToString())
                        </td>
                        <td class="@(item.Red_11 == 0 ? "cbg hot03 line_r" : "y101 line_r")">
                            @(item.Red_11 == 0 ? "11" : item.Red_11.ToString())
                        </td>
                        <td class="@(item.D_0 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_0 == 0 ? item.Duplicate : item.D_0)
                        </td>
                        <td class="@(item.D_1 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_1 == 0 ? item.Duplicate : item.D_1)
                        </td>
                        <td class="@(item.D_2 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_2 == 0 ? item.Duplicate : item.D_2)
                        </td>
                        <td class="@(item.D_3 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_3 == 0 ? item.Duplicate : item.D_3)
                        </td>
                        <td class="@(item.D_4 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_4 == 0 ? item.Duplicate : item.D_4)
                        </td>
                        <td class="@(item.D_5 == 0 ? "cbg big line_r" : "y101 line_r")" width="100">
                            @(item.D_5 == 0 ? item.Duplicate : item.D_5)
                        </td>
                        <td class="line_r" width="100">
                            @item.D1_01_04
                        </td>
                        <td class="line_r" width="100">
                            @item.D2_05_08
                        </td>
                        <td class="line_r" width="100">
                            @item.D3_09_11
                        </td>
                        <td class="line_r" width="100">
                            @item.Duplicate
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_01 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_02 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_03 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_04 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_05 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_06 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_07 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_08 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_09 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.Red_10 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(chzs.Count(p => p.Red_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.D_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.D_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.D_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.D_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(chzs.Count(p => p.D_4 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(chzs.Count(p => p.D_5 == 0))
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_01) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_02) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_03) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_04) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_05) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_06) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_07) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_08) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_09) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.Red_10) / chzs.Count)
                    </td>
                    <td class="line_r">
                        @(chzs.Sum(p => p.Red_11) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.D_0) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.D_1) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.D_2) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.D_3) / chzs.Count)
                    </td>
                    <td>
                        @(chzs.Sum(p => p.D_4) / chzs.Count)
                    </td>
                    <td class="line_r">
                        @(chzs.Sum(p => p.D_5) / chzs.Count)
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_01))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_02))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_03))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_04))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_05))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_06))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_07))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_08))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_09))
                    </td>
                    <td>
                        @(chzs.Max(p => p.Red_10))
                    </td>
                    <td class="line_r">
                        @(chzs.Max(p => p.Red_11))
                    </td>
                    <td>
                        @(chzs.Max(p => p.D_0))
                    </td>
                    <td>
                        @(chzs.Max(p => p.D_1))
                    </td>
                    <td>
                        @(chzs.Max(p => p.D_2))
                    </td>
                    <td>
                        @(chzs.Max(p => p.D_3))
                    </td>
                    <td>
                        @(chzs.Max(p => p.D_4))
                    </td>
                    <td class="line_r">
                        @(chzs.Max(p => p.D_5))
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_01)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_01)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_02)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_02)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_03)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_03)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_04)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_04)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_05)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_05)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_06)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_06)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_07)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_07)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_08)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_08)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_09)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_09)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].Red_10)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_10)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(chzs[chzs.Count - 1].Red_11)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].Red_11)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].D_0)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].D_1)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].D_2)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].D_3)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(chzs[chzs.Count - 1].D_4)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(chzs[chzs.Count - 1].D_5)<br>
                        <img width="8px" height="@(chzs[chzs.Count - 1].D_5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td width="10%" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" width="15%" class="line_r">
                        出号
                    </td>
                    <td width="3%">
                        1
                    </td>
                    <td width="3%">
                        2
                    </td>
                    <td width="3%">
                        3
                    </td>
                    <td width="3%">
                        4
                    </td>
                    <td width="3%">
                        5
                    </td>
                    <td width="3%">
                        6
                    </td>
                    <td width="3%">
                        7
                    </td>
                    <td width="3%">
                        8
                    </td>
                    <td width="3%">
                        9
                    </td>
                    <td width="3%">
                        10
                    </td>
                    <td width="3%" class="line_r">
                        11
                    </td>
                    <td width="3%">
                        0
                    </td>
                    <td width="3%">
                        1
                    </td>
                    <td width="3%">
                        2
                    </td>
                    <td width="3%">
                        3
                    </td>
                    <td width="3%">
                        4
                    </td>
                    <td width="3%" class="line_r">
                        5
                    </td>
                    <td width="6%" class="line_r">
                        01-04
                    </td>
                    <td width="6%" class="line_r">
                        05-08
                    </td>
                    <td width="6%" class="line_r">
                        09-11
                    </td>
                    <td rowspan="2" class="line_r" width="5%">
                        个数
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="11" class="line_r">
                        号码分布
                    </td>
                    <td colspan="6" class="line_r">
                        重号个数
                    </td>
                    <td class="line_r">
                        一区
                    </td>
                    <td class="line_r">
                        二区
                    </td>
                    <td class="line_r">
                        三区
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".big"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
