@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "福彩3d质和形态走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "福彩3d质和形态走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "福彩3d质和形态走势图三近" + pageSize + "期,查看更多福彩3d质和形态走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "福彩3d质和形态走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "福彩3d质和形态走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的福彩3d质合形态走势图,其中包括全质、两质一合、两合一质、全合等形态分布走势图,让彩民朋友更直观的分析福彩3d质合号形态分布走势图.";
    }
    var zhxt = ViewBag.DataList as List<LotteryData.Core.FC3D_ZHXT_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "zhxt_fc3d" });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1003px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="19">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight" id="menuitem">
                    <td width="85" align="center" class="line_r" rowspan="2">
                        日期
                    </td>
                    <td width="63" align="center" rowspan="2">
                        期号
                    </td>
                    <td colspan="3" class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td width="75" rowspan="2">
                        质合形态
                    </td>
                    <td>
                        全质
                    </td>
                    <td colspan="3">
                        两质一合
                    </td>
                    <td colspan="3">
                        两合一质
                    </td>
                    <td class="line_r">
                        全合
                    </td>
                    <td colspan="5">
                        质合比例分布
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="55">
                        质质质
                    </td>
                    <td width="55">
                        质质合
                    </td>
                    <td width="55">
                        质合质
                    </td>
                    <td width="55">
                        合质质
                    </td>
                    <td width="55">
                        质合合
                    </td>
                    <td width="55">
                        合质合
                    </td>
                    <td width="55">
                        合合质
                    </td>
                    <td width="55" class="line_r">
                        合合合
                    </td>
                    <td width="75">
                        质合比
                    </td>
                    <td width="55">
                        3:0
                    </td>
                    <td width="55">
                        2:1
                    </td>
                    <td width="55">
                        1:2
                    </td>
                    <td width="55">
                        0:3
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in zhxt)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="19">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                        </td>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="20" class="hot12">
                            @item.RedBall1
                        </td>
                        <td width="20" class="hot12">
                            @item.RedBall2
                        </td>
                        <td width="20" class="hot12 line_r">
                            @item.RedBall3
                        </td>
                        <td class="cbg3">
                            @item.Zhxt
                        </td>
                        <td class="@(item.ZH_Q_Z == 0 ? "cbg big" : "y101")">
                            @(item.ZH_Q_Z == 0 ? "质质质" : item.ZH_Q_Z.ToString())
                        </td>
                        <td class="@(item.ZH_ZZH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZZH == 0 ? "质质合" : item.ZH_ZZH.ToString())
                        </td>
                        <td class="@(item.ZH_ZHZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZHZ == 0 ? "质合质" : item.ZH_ZHZ.ToString())
                        </td>
                        <td class="@(item.ZH_HZZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HZZ == 0 ? "合质质" : item.ZH_HZZ.ToString())
                        </td>
                        <td class="@(item.ZH_ZHH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZHH == 0 ? "质合合" : item.ZH_ZHH.ToString())
                        </td>
                        <td class="@(item.ZH_HZH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HZH == 0 ? "合质合" : item.ZH_HZH.ToString())
                        </td>
                        <td class="@(item.ZH_HHZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HHZ == 0 ? "合合质" : item.ZH_HHZ.ToString())
                        </td>
                        <td class="@(item.ZH_Q_H == 0 ? "cbg big line_r" : "y101 line_r")">
                            @(item.ZH_Q_H == 0 ? "合合合" : item.ZH_Q_H.ToString())
                        </td>
                        <td class="cbg3 line_r">
                            @item.ZH_Proportion
                        </td>
                        <td class="@(item.O_ZH_Proportion30 == 0 ? "cbg orange1" : "y101")">
                            @(item.O_ZH_Proportion30 == 0 ? item.ZH_Proportion : item.O_ZH_Proportion30.ToString())
                        </td>
                        <td class="@(item.O_ZH_Proportion21 == 0 ? "cbg orange1" : "y101")">
                            @(item.O_ZH_Proportion21 == 0 ? item.ZH_Proportion : item.O_ZH_Proportion21.ToString())
                        </td>
                        <td class="@(item.O_ZH_Proportion12 == 0 ? "cbg orange1" : "y101")">
                            @(item.O_ZH_Proportion12 == 0 ? item.ZH_Proportion : item.O_ZH_Proportion12.ToString())
                        </td>
                        <td class="@(item.O_ZH_Proportion03 == 0 ? "cbg orange1" : "y101")">
                            @(item.O_ZH_Proportion03 == 0 ? item.ZH_Proportion : item.O_ZH_Proportion03.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_Q_Z == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_ZZH == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_ZHZ == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_HZZ == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_ZHH == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_HZH == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.ZH_HHZ == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(zhxt.Count(p => p.ZH_Q_H == 0))
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.O_ZH_Proportion30 == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.O_ZH_Proportion21 == 0))
                    </td>
                    <td class="bdtop">
                        @(zhxt.Count(p => p.O_ZH_Proportion12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(zhxt.Count(p => p.O_ZH_Proportion03 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_Q_Z) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_ZZH) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_ZHZ) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_HZZ) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_ZHH) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_HZH) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.ZH_HHZ) / zhxt.Count)
                    </td>
                    <td class="line_r">
                        @(zhxt.Sum(p => p.ZH_Q_H) / zhxt.Count)
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.O_ZH_Proportion30) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.O_ZH_Proportion21) / zhxt.Count)
                    </td>
                    <td class="">
                        @(zhxt.Sum(p => p.O_ZH_Proportion12) / zhxt.Count)
                    </td>
                    <td class="line_r">
                        @(zhxt.Sum(p => p.O_ZH_Proportion03) / zhxt.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(zhxt.Max(p => p.ZH_Q_Z))
                    </td>
                    <td class="">
                        @(zhxt.Max(p => p.ZH_ZZH))
                    </td>
                    <td>
                        @(zhxt.Max(p => p.ZH_ZHZ))
                    </td>
                    <td class="">
                        @(zhxt.Max(p => p.ZH_HZZ))
                    </td>
                    <td>
                        @(zhxt.Max(p => p.ZH_ZHH))
                    </td>
                    <td class="">
                        @(zhxt.Max(p => p.ZH_HZH))
                    </td>
                    <td>
                        @(zhxt.Max(p => p.ZH_HHZ))
                    </td>
                    <td class="line_r">
                        @(zhxt.Max(p => p.ZH_Q_H))
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(zhxt.Max(p => p.O_ZH_Proportion30))
                    </td>
                    <td>
                        @(zhxt.Max(p => p.O_ZH_Proportion21))
                    </td>
                    <td>
                        @(zhxt.Max(p => p.O_ZH_Proportion12))
                    </td>
                    <td class="line_r">
                        @(zhxt.Max(p => p.O_ZH_Proportion03))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].ZH_Q_Z)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_Q_Z)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(zhxt[zhxt.Count - 1].ZH_ZZH)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_ZZH)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].ZH_ZHZ)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_ZHZ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(zhxt[zhxt.Count - 1].ZH_HZZ)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_HZZ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].ZH_ZHH)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_ZHH)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(zhxt[zhxt.Count - 1].ZH_HZH)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_HZH)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].ZH_HHZ)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_HHZ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(zhxt[zhxt.Count - 1].ZH_Q_H)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].ZH_Q_H)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].O_ZH_Proportion30)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].O_ZH_Proportion30)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].O_ZH_Proportion21)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].O_ZH_Proportion21)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(zhxt[zhxt.Count - 1].O_ZH_Proportion12)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].O_ZH_Proportion12)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(zhxt[zhxt.Count - 1].O_ZH_Proportion03)<br>
                        <img width="8px" height="@(zhxt[zhxt.Count - 1].O_ZH_Proportion03)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td class="line_r" rowspan="2">
                        日期
                    </td>
                    <td class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td rowspan="2">
                        质合形态
                    </td>
                    <td>
                        质质质
                    </td>
                    <td>
                        质质合
                    </td>
                    <td>
                        质合质
                    </td>
                    <td>
                        合质质
                    </td>
                    <td>
                        质合合
                    </td>
                    <td>
                        合质合
                    </td>
                    <td>
                        合合质
                    </td>
                    <td class="line_r">
                        合合合
                    </td>
                    <td>
                        质合比
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td>
                        0:3
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td>
                        全质
                    </td>
                    <td colspan="3">
                        两质一合
                    </td>
                    <td colspan="3">
                        两合一质
                    </td>
                    <td class="line_r">
                        全合
                    </td>
                    <td colspan="5">
                        质合比例分布
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        var allLines = new Array();
        allLines.push({ line: $(".big"), color: "red" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
