@inherits WebHelper.HelperPage
@using System.Activities.Statements
@using System.Web.Mvc.Html
@using System.Web.Mvc;
@using System.Configuration;
@using GameBiz.Core;
@using Common.Algorithms;
@using app.lottery.site.Models;
@helper AnteListView_BDJC(string gameCode, string gameType, int betcount, int amount, string payType, Sports_AnteCodeQueryInfoCollection anteList, SchemeBettingCategory schemeCategory = SchemeBettingCategory.GeneralBetting, SingleScheme_AnteCodeQueryInfo singleInfo = null, string issuseNumber = "")
    {//北单竞彩-投注号码列表
        var setRQ = false;
    <table width="100%" cellspacing="0" cellpadding="2" bordercolor="#A8C9FF" border="1"
        align="center" class="oas-xq-table" style="border-collapse: collapse">
        <tr class=" oas-xq-tr1">
            <td>
                场次
            </td>
            <td>
                赛事
            </td>
            <td>
                时间
            </td>
            @if (gameCode.ToLower() == "jclq")
            {
                <td>
                    客队
                </td>
            }
            else
            {
                <td>
                    主队
                </td>
            }
            @{if (gameCode.ToLower() == "jclq")
              { 
                <td>
                    比分
                </td>
              }
              else
              {
                <td>
                    半场
                </td>
                <td>
                    比分
                </td>
              }}
            @if (gameCode.ToLower() == "jclq")
            {
                <td>
                    主队
                </td>
            }
            else
            {
                <td>
                    客队
                </td>
            }
            @{if (gameType.ToLower() == "dxf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
              {
                <td>
                    总分(出票)
                </td>
              }}
            @{if (gameType.ToLower() == "rfsf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
              {
                <td>
                    让分(出票)
                </td>
              }}
            @if (gameType.ToLower() == "brqspf" || gameType.ToLower() == "spf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jczq"))
            {
                setRQ = true;
                <td>
                    让球
                </td>
            }
            @{if (gameType.ToLower() == "hh")
              {<td>
                  玩法
              </td>}}
            @{
                if (schemeCategory == SchemeBettingCategory.GeneralBetting || schemeCategory == SchemeBettingCategory.FilterBetting || schemeCategory == SchemeBettingCategory.ErXuanYi)
                { 
                <td>
                    投注内容
                </td>
                <td>
                    设胆
                </td>  
                }
            }
            <td>
                彩果
            </td>
            @{if (gameCode.ToLower().IndexOf("jc") < 0)
              {<td>
                  开奖SP
              </td>}}
        </tr>
        @{
            if (anteList != null && anteList.Count > 0)
            {
                foreach (var item in anteList)
                {
                    var type = string.IsNullOrEmpty(item.GameType) ? gameType.ToLower() : item.GameType.ToLower();
                    var matres = "";
                    if (item != null)
                    {
                        if (!string.IsNullOrEmpty(item.MatchResult) && item.MatchResult.IndexOf("-1") < 0)
                        {
                            if (type == "dxf")
                            {
                                var zfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                                var czf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["YSZF"];
                                if (zfs.Length > 1)
                                {
                                    var zf = zfs.Select(a => float.Parse(a)).Sum();
                                    if (zf > float.Parse(czf))
                                    { matres = "3"; }
                                    else
                                    {
                                        matres = "0";
                                    }
                                }
                            }
                            else if (type == "rfsf")
                            {
                                var bfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                                //if(string.IsNullOrEmpty(OrderManager.SpliteSPList(item.CurrentSp)))
                                var rf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["RF"];

                                // ["RF"];
                                if (bfs.Length > 1)
                                {
                                    var zf = float.Parse(bfs[0]) + float.Parse(rf);
                                    var ff = float.Parse(bfs[1]);
                                    if (zf > ff)
                                    { matres = "3"; }
                                    else
                                    {
                                        matres = "0";
                                    }
                                }
                            }
                            else
                            {
                                matres = item.MatchResult;
                            }
                        }
                    }
            <tr class="ni">
                @*场次*@
                <td>@(gameCode.ToLower().IndexOf("jc") >= 0 ? item.MatchIdName : item.MatchId)
                </td>
                @*赛事*@
                <td style="background-color: #@(string.IsNullOrEmpty(item.LeagueColor) ? "f56202" : item.LeagueColor.Replace("#", "")); color: White;">@item.LeagueName
                </td>
                @*时间*@
                <td>@item.StartTime.ToString("MM-dd HH:mm")
                </td>
                @*主队*@
                <td>
                    @if (gameCode.ToLower() == "jclq")
                    {
                        <span class="blue">@item.GuestTeamName</span>
                    }
                    else
                    {
                        <span class="blue">@item.HomeTeamName</span>
                    }
                </td>
                @{
                    switch (gameCode.ToLower())
                    {
                        //比分
                        case "jclq":
                    <td class="red">
                        @{switch (item.MatchState)
                          {
                              case "3":
                            @("取消")
                        break;
                              case "4":
                            @("推迟")
                        break;
                              default:
                            @item.FullResult
                       break;
                          }}
                    </td>
                          break;
                        case "jczq":
                    <td>
                        @{switch (item.MatchState)
                          {
                              //半场比分
                              case "3":
                            @("取消")
                        break;
                              case "4":
                            @("推迟")
                        break;
                              default:
                            @item.HalfResult
                       break;
                          }}
                    </td>
                    <td class="red">
                        @{switch (item.MatchState)
                          {
                              //全场比分
                              case "3":
                            @("取消")
                        break;
                              case "4":
                            @("推迟")
                        break;
                              default:
                            @item.FullResult
                       break;
                          }}
                    </td>
                          break;
                        case "bjdc":
                          //半场(比分)
                    <td>
                        @{switch (item.MatchState)
                          {
                              case "Cancel":
                            @("取消")
                        break;
                              case "Late":
                            @("推迟")
                        break;
                              default:
                            @item.HalfResult
                       break;
                          }}
                    </td>
                          //比分(全场)
                    <td class="red">
                        @{switch (item.MatchState)
                          {
                              case "Cancel":
                            @("取消")
                        break;
                              case "Late":
                            @("推迟")
                        break;
                              default:
                            @item.FullResult
                       break;
                          }}
                    </td>
                          break;
                    }
                }
                @*客队*@
                <td>
                    @if (gameCode.ToLower() == "jclq")
                    {
                        <span class="blue">@item.HomeTeamName</span>
                    }
                    else
                    {
                        <span class="blue">@item.GuestTeamName</span>
                    }
                </td>
                @*总分(参考)*@
                @{if (gameType.ToLower() == "dxf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
                  {
                    <td>
                        @{if (!string.IsNullOrEmpty(item.CurrentSp) && item.CurrentSp.Contains("YSZF"))
                          {
                            @(OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "" : OrderManager.SpliteSPList(item.CurrentSp)["YSZF"])
                          }}
                    </td>
                  }}
                @*让分(参考)*@
                @{if (gameType.ToLower() == "rfsf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
                  {
                    <td>
                        @{if (!string.IsNullOrEmpty(item.CurrentSp) && item.CurrentSp.Contains("RF"))
                          {
                            @(OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "" : OrderManager.SpliteSPList(item.CurrentSp)["RF"])
                          }}
                    </td>
                  }}
                @{
                  if (gameCode.ToLower() == "bjdc")
                  {
                      if (gameType.ToLower() == "spf" || (gameType.ToLower() == "hh" && item.GameType.ToLower() == "spf"))
                      {
                    <td class="@(item.LetBall > 0 ? "red" : "green")">@(item.LetBall != 0 ? (item.LetBall > 0 ? "+" + item.LetBall.ToString() : item.LetBall.ToString()) : string.Empty)
                    </td>
                      }
@* else
                    {
                    <td>
                    </td>
                    }*@
                  }
                  else
                  {
                      //if (gameType.ToLower() == "spf" || (gameType.ToLower() == "hh" && item.GameType.ToLower() == "spf"))
                      if (setRQ)
                      {
                         
                    <td class="@(item.LetBall > 0 ? "red" : "green")">
                        @if (gameType.ToLower() == "spf" || (gameType.ToLower() == "hh" && item.GameType.ToLower() == "spf"))
                        {
                            @(item.LetBall != 0 ? (item.LetBall > 0 ? "+" + item.LetBall.ToString() : item.LetBall.ToString()) : string.Empty)
                        }
                    </td>
                      }
@* else if (gameType.ToLower() != "zjq")
                      {
                    <td>
                    </td>
                      }*@
                  }
                }
                @*玩法*@
                @{if (gameType.ToLower() == "hh")
                  {<td class="green">@(schemeCategory == SchemeBettingCategory.ErXuanYi ? "竞彩主客二选一" : SiteConvert.GameName(gameCode, item.GameType))
                  </td>}}
                @*投注内容和胆*@
                @{if (schemeCategory == SchemeBettingCategory.GeneralBetting || schemeCategory == SchemeBettingCategory.FilterBetting)
                  {
                      if (gameCode.ToLower() == "jclq")
                      {
                    <td>
                        @{
                          foreach (var code in item.AnteCode.Split(','))
                          {
                            <span class="@(string.IsNullOrEmpty(matres) ? "spitems" : code == matres ? "spitems3" : "spitems2")">@(gameCode.ToLower() == "jclq" && item.GameType.ToLower() == "rfsf" ? "让分" : "")@SiteString.ANTECODES_NAME(type, code)</span>
                          }
                        }
                    </td>
                      }
                      else
                      {
                    <td>
                        @{foreach (var code in item.AnteCode.Split(','))
                          {
                            <span class="@(string.IsNullOrEmpty(matres) ? "spitems" : code == matres ? "spitems3" : "spitems2")">@(gameCode.ToLower() == "jczq" && item.GameType.ToLower() == "spf" ? "让球" : "")@SiteString.ANTECODES_NAME(type, code)</span>  
                          }}
                    </td>
                      }
                    
                    <td>@(item.IsDan ? "胆" : string.Empty)
                    </td>
                  }
                  else if (schemeCategory == SchemeBettingCategory.ErXuanYi)
                  {
                    <td>
                        @{foreach (var code in item.AnteCode.Split(','))
                          {
                            <span class="@(string.IsNullOrEmpty(matres) ? "spitems" : code == matres ? "spitems3" : "spitems2")">@(item.LetBall < 0 && code == "3" ? "主胜" : item.LetBall < 0 && code == "0" ? "客不败" : (item.LetBall > 0 && code == "3" ? "主不败" : "客胜"))</span>  
                          }}
                    </td>
                    <td>@(item.IsDan ? "胆" : string.Empty)
                    </td>
                  }}
                @*彩果*@
                <td class="red">
                    @SiteString.ANTECODES_NAME(type, matres)
                </td>
                @* 开奖SP*@
                @{if (gameCode.ToLower().IndexOf("jc") < 0)
                  {<td class="bold duckred">@(item.MatchState == "Cancel" ? "取消" : item.MatchState == "Late" ? "推迟" : item.MatchResultSp > 1 ? item.MatchResultSp.ToString("f4") : string.Empty)
                  </td>}}
            </tr>
                }
            }
            else
            {
            <tr>
                <td colspan="10" style="border: none;">
                    暂无数据
                </td>
            </tr>
            }
           
        }
    </table>

    <div style="height: 32px; line-height: 32px; text-align: right;">
        @if (schemeCategory == SchemeBettingCategory.SingleBetting || schemeCategory == SchemeBettingCategory.FilterBetting || schemeCategory == SchemeBettingCategory.XianFaQiHSC)
        {
            var sign = Request["sign"];
            <a id="hlFile" href="/user/schemefile/@singleInfo.SchemeId?gamecode=@gameCode@(string.IsNullOrEmpty(sign) ? "" : "&sign=" + sign)" target="_blank" style="float: left">
                <span id="hlFileText">单式方案，点击查看</span></a>
        }
        @{if (OrderManager.GameCategory(gameCode) == GameCategory.北单竞彩)
          {
            <span>过关方式:</span>
            <label class="oas-xq-ggfs">@SiteConvert.PlayTypeName(payType),共@(betcount)注</label>
          }
          else
          {
            <label class="oas-xq-ggfs">
                共@(betcount)注</label>
          }}
        <label class="oas-xq-zb" style="color: Red;">
            倍数@(amount)倍</label>
    </div>
            
        
}
@helper AnteListView_OZB(string gameType, int amount, Sports_AnteCodeQueryInfoCollection anteList)
    {
    <table width="100%" cellspacing="0" cellpadding="2" border="1" align="center" class="mtable"
        style="border-collapse: collapse">
        <tr class="thbg">
            <th>
                投注内容
            </th>
            <th>
                投注SP
            </th>
            <th>
                理论奖金
            </th>
        </tr>
        @if (anteList.Count == 1)
        {
            var anteCode = anteList[0];
            var codeContentArray = anteCode.AnteCode.Split(',');
            var codeSpArray = anteCode.CurrentSp.Split('/');
            if (codeContentArray.Length == codeSpArray.Length)
            {
                for (int i = 0; i < codeContentArray.Length; i++)
                {
                    var ozb_code = codeContentArray[i];
                    var matchName = SiteConvert.GetOZB_MatchName(gameType, ozb_code);
                    var ozb_odd = decimal.Parse(codeSpArray[i].Replace(ozb_code + "|", ""));
            <tr class="ni">
                <td>@string.Format("{0}({1})", matchName, ozb_code)
                </td>
                <td>@ozb_odd
                </td>
                <td>@(ozb_odd * 2M * amount)
                </td>
            </tr>
                }
            }
        }
    </table>

}
@helper AnteListView_SJB(string gameType, int amount, Sports_AnteCodeQueryInfoCollection anteList)
    {
    <table width="100%" cellspacing="0" cellpadding="2" border="1" align="center" class="mtable"
        style="border-collapse: collapse">
        <tr class="thbg">
            <th>
                投注内容
            </th>
            <th>
                投注SP
            </th>
            <th>
                理论奖金
            </th>
        </tr>
        @if (anteList.Count == 1)
        {
            var anteCode = anteList[0];
            var codeContentArray = anteCode.AnteCode.Split(',');//  "AnteCode": "1,4",
            var codeSpArray = anteCode.CurrentSp.Split('/');//"CurrentSp": "1|7.0000/4|23.0000",
            if (codeContentArray.Length == codeSpArray.Length)
            {
                for (int i = 0; i < codeContentArray.Length; i++)
                {
                    var sjb_code = codeContentArray[i];
                    var matchName = SiteConvert.GetSJB_MatchName(gameType, sjb_code);
                    var sjb_odd = decimal.Parse(codeSpArray[i].Replace(sjb_code + "|", ""));
            <tr class="ni">
                <td>@string.Format("{0}({1})", matchName, sjb_code)
                </td>
                <td>@sjb_odd
                </td>
                <td>@(sjb_odd * 2M * amount)
                </td>
            </tr>
                }
            }
        }
    </table>

}
@helper AnteListView_NewBDJC(string gameCode, string gameType, int betcount, int amount, string payType, Sports_AnteCodeQueryInfoCollection anteList, SchemeBettingCategory schemeCategory = SchemeBettingCategory.GeneralBetting, SingleScheme_AnteCodeQueryInfo singleInfo = null, string issuseNumber = "")
    {//北单竞彩-投注号码列表
        var setRQ = false;
    <table width="100%" cellspacing="0" cellpadding="2" border="1" align="center" class="mtable"
        style="border-collapse: collapse">
        <tr class="thbg">
            <th width="11%">
                场次
            </th>
            <th width="13%">
                时间
            </th>
            <th width="24%">
                比赛 <em>(主队vs客队)</em> @*@if (gameCode.ToLower() == "jclq")
                {

                    <em>(客队vs主队)</em>
                }
                else
                {
                    <em>(主队vs客队)</em>
                }*@
            </th>
            @if (schemeCategory == SchemeBettingCategory.GeneralBetting || schemeCategory == SchemeBettingCategory.FilterBetting || schemeCategory == SchemeBettingCategory.ErXuanYi)
            {
                <th>
                    投注选项(最新奖金指数)
                </th>
            }
            @if (gameCode.ToLower() != "jclq")
            {
                <th width='5%'>
                    半场
                </th>
            }
            @if (gameType.ToLower() == "dxf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
            {
                <th width='7%'>
                    总分(出票)
                </th>
            }
            @if (gameType.ToLower() == "rfsf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
            {
                <th width='7%'>
                    让分(出票)
                </th>
            }
            <th width='5%'>
                比分
            </th>
            <th width="10%">
                彩果
            </th>
        </tr>
        @{
            if (anteList != null && anteList.Count > 0)
            {
                var orderAnteCodeList = anteList.OrderBy(p => int.Parse(p.MatchId)).ToList();
                foreach (var item in orderAnteCodeList)
                {
                    var type = string.IsNullOrEmpty(item.GameType) ? gameType.ToLower() : item.GameType.ToLower();
                    var matres = "";
                    if (item != null)
                    {
                        if (!string.IsNullOrEmpty(item.MatchResult) && item.MatchResult.IndexOf("-1") < 0)
                        {
                            if (type == "dxf")
                            {
                                var zfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                                var czf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["YSZF"];
                                if (zfs.Length > 1)
                                {
                                    var zf = zfs.Select(a => float.Parse(a)).Sum();
                                    if (zf > float.Parse(czf))
                                    { matres = "3"; }
                                    else
                                    {
                                        matres = "0";
                                    }
                                }
                            }
                            else if (type == "rfsf")
                            {
                                var bfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                                //if(string.IsNullOrEmpty(OrderManager.SpliteSPList(item.CurrentSp)))
                                var rf = "0";
                                if (OrderManager.SpliteSPList(item.CurrentSp).ContainsKey("RF"))
                                {
                                    rf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["RF"];
                                }
                                // ["RF"];
                                if (bfs.Length > 1)
                                {
                                    var zf = float.Parse(bfs[0]) + float.Parse(rf);
                                    var ff = float.Parse(bfs[1]);
                                    if (zf > ff)
                                    { matres = "3"; }
                                    else
                                    {
                                        matres = "0";
                                    }
                                }
                            }
                            else
                            {
                                matres = item.MatchResult;
                            }
                        }
                    }
            <tr class="ni">
                @*场次class="bac_fen"*@
                <td>
                    @(gameCode.ToLower().IndexOf("jc") >= 0 ? item.MatchIdName : item.MatchId)
                </td>
                @*时间*@
                <td>@item.StartTime.ToString("MM-dd HH:mm")
                </td>
                @*比赛*@
                <td class="zzhud">
                    <div style="margin: 0px auto; width: 220px;">
                        <span class="blue">@(item.HomeTeamName)</span> <i>VS</i> <span class="blue">@(item.GuestTeamName)</span>
                        @*<span class="blue">@(gameCode.ToLower() == "jclq" ? item.GuestTeamName : item.HomeTeamName)</span> 
                    <i >VS</i>
                    <span class="blue">@(gameCode.ToLower() == "jclq" ? item.HomeTeamName : item.GuestTeamName)</span>*@
                        @if (item.IsDan)
                        {
                            <em class="touzpng"></em>
                        }
                    </div>
                </td>
                @*投注内容*@
                @if (schemeCategory == SchemeBettingCategory.GeneralBetting || schemeCategory == SchemeBettingCategory.FilterBetting || schemeCategory == SchemeBettingCategory.ErXuanYi)
                {
                    <td>
                        @{
                    if (schemeCategory == SchemeBettingCategory.GeneralBetting || schemeCategory == SchemeBettingCategory.FilterBetting)
                    {
                        foreach (var code in item.AnteCode.Split(','))
                        {
                            <div class="touzhu @(string.IsNullOrEmpty(matres) ? "zhong" : code == matres ? "zhong" : "weizhong")">
                                <span>@(gameCode.ToLower() == "jclq" && item.GameType.ToLower() == "rfsf" ? "让分" : (gameCode.ToLower() == "jczq" && item.GameType.ToLower() == "spf" ? "让球" : ""))@SiteString.ANTECODES_NAME(type, code)</span>
                                @if (!string.IsNullOrEmpty(item.CurrentSp))
                                {
                                    if (OrderManager.SpliteSPList(item.CurrentSp).ContainsKey(code))
                                    {
                                        var sp = string.IsNullOrEmpty(OrderManager.SpliteSPList(item.CurrentSp)[code]) ? "0.000" : double.Parse(OrderManager.SpliteSPList(item.CurrentSp)[code]).ToString("0.000");
                                        var inxsp = sp.Substring(0, sp.IndexOf('.') + 3);
                                    <i odds=" @(OrderManager.SpliteSPList(item.CurrentSp)[code])">@inxsp</i>
                                    }
                                }
                            </div>
                        }
                    }
                    else if (schemeCategory == SchemeBettingCategory.ErXuanYi)
                    {
                        foreach (var code in item.AnteCode.Split(','))
                        {
                            <div class="touzhu @(string.IsNullOrEmpty(matres) ? "zhong" : code == matres ? "zhong" : "weizhong")">
                                <span>@(item.LetBall < 0 && code == "3" ? "主胜" : item.LetBall < 0 && code == "0" ? "客不败" : (item.LetBall > 0 && code == "3" ? "主不败" : "客胜"))</span>
                                @if (!string.IsNullOrEmpty(item.CurrentSp))
                                {
                                    if (OrderManager.SpliteSPList(item.CurrentSp).ContainsKey(code))
                                    {
                                        // var sp = OrderManager.SpliteSPList(item.CurrentSp)[code];
                                        var sp = string.IsNullOrEmpty(OrderManager.SpliteSPList(item.CurrentSp)[code]) ? "0.000" : double.Parse(OrderManager.SpliteSPList(item.CurrentSp)[code]).ToString("0.000");
                                        var inxsp = sp.Substring(0, sp.IndexOf('.') + 3);
                                    <i odds=" @(OrderManager.SpliteSPList(item.CurrentSp)[code])">@inxsp</i>
                                    }

                                }
                            </div>
                        }
                    }
                        }
                    </td>
                }
@*半场*@
                @if (gameCode.ToLower() != "jclq")
                {

                    switch (gameCode.ToLower())
                    {
                        //比分
                        case "jczq":
                    <td class="font_red">
                        @{
                            switch (item.MatchState)
                            {
                                //半场比分
                                case "3":
                            @("取消")
                        break;
                                case "4":
                            @("推迟")
                        break;
                                default:
                            @item.HalfResult
                       break;
                            }
                        }
                    </td>
                            break;
                        case "bjdc":
                            //半场(比分)
                    <td class="font_red">
                        @{
                            switch (item.MatchState)
                            {
                                case "Cancel":
                            @("取消")
                        break;
                                case "Late":
                            @("推迟")
                        break;
                                default:
                            @item.HalfResult
                       break;
                            }
                        }
                    </td>
                            break;
                    }

                }

@*预设总分(参考)*@
                @if (gameType.ToLower() == "dxf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
                {
                    <td class="font_red">
                        @{
                    if (!string.IsNullOrEmpty(item.CurrentSp) && item.CurrentSp.Contains("YSZF"))
                    {
                            @(OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "" : OrderManager.SpliteSPList(item.CurrentSp)["YSZF"])
                    }
                        }
                    </td>
                }
@*让分(参考)*@
                @if (gameType.ToLower() == "rfsf" || (gameType.ToLower() == "hh" && gameCode.ToLower() == "jclq"))
                {
                    <td class="font_red">
                        @{
                    if (!string.IsNullOrEmpty(item.CurrentSp) && item.CurrentSp.Contains("RF"))
                    {
                            @(OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "" : OrderManager.SpliteSPList(item.CurrentSp)["RF"])
                    }
                        }
                    </td>
                }
@*比分*@
                <td class="font_red">
                    @{
                var matchstate = "";
                switch (gameCode.ToLower())
                {
                    case "jczq":
                    case "jclq":
                        switch (item.MatchState)
                        {
                            case "3":
                                matchstate = "取消";
                                break;
                            case "4":
                                matchstate = "推迟";
                                break;
                            default:
                                matchstate = item.FullResult;
                                break;
                        }
                        break;
                    case "bjdc":
                        switch (item.MatchState)
                        {
                            case "Cancel":
                                matchstate = "取消";
                                break;
                            case "Late":
                                matchstate = "推迟";
                                break;
                            default:
                                matchstate = item.FullResult;
                                break;
                        }
                        break;
                    default:
                        matchstate = "";
                        break;
                }
                    }
                    @matchstate
                </td>
                @*彩果*@
                <td>
                    @{
                var result = SiteString.ANTECODES_NAME(type, matres);
                    }
                    @if (!string.IsNullOrEmpty(result))
                    {
                        <span class="cg">
                            @(gameCode.ToLower() == "jclq" && item.GameType.ToLower() == "rfsf" ? "让分" : (gameCode.ToLower() == "jczq" && item.GameType.ToLower() == "spf" ? "让球" : ""))@result
                        </span>
                        @("bjdc" == gameCode.ToLower() ? "(" + item.MatchResultSp + ")" : "")
                    }
                </td>
            </tr>
                }
            }
            else
            {
            <tr>
                <td colspan="10" style="border: none;">
                    暂无数据
                </td>
            </tr>
            }
           
        }
    </table>

    <div style="height: 32px; line-height: 32px; text-align: right;">
        @if (schemeCategory == SchemeBettingCategory.SingleBetting || schemeCategory == SchemeBettingCategory.FilterBetting || schemeCategory == SchemeBettingCategory.XianFaQiHSC)
        {
            var sign = Request["sign"];
            <a id="hlFile" href="/user/schemefile/@singleInfo.SchemeId?gamecode=@gameCode@(string.IsNullOrEmpty(sign) ? "" : "&sign=" + sign)" target="_blank" style="float: left">
                <span id="hlFileText">单式方案，点击查看</span></a>
        }
        @{if (OrderManager.GameCategory(gameCode) == GameCategory.北单竞彩)
          {
            <span>过关方式:</span>
            <label class="oas-xq-ggfs">@SiteConvert.PlayTypeName(payType),共@(betcount)注</label>
          }
          else
          {
            <label class="oas-xq-ggfs">
                共@(betcount)注</label>
          }}
        <label class="oas-xq-zb" style="color: Red;">
            倍数@(amount)倍</label>
    </div>
            
        
}
@helper AnteListView_CTZQ_Js(string gameCode, string gameType, Sports_AnteCodeQueryInfoCollection anteList, SchemeBettingCategory schemeCategory = SchemeBettingCategory.GeneralBetting, SingleScheme_AnteCodeQueryInfo singleInfo = null, string issuseNumber = "")
    {
        //传统足球-投注号码列表
        if (gameType.ToLower() == "t14c" || gameType.ToLower() == "tr9")
        {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="datatable">
        <tr class="tit2">
            <td width="5%">
                场次
            </td>
            <td width="7%">
                联赛
            </td>
            <td width="12%">
                时间
            </td>
            <td width="14%">
                主队
            </td>
            <td width="8%">
                比分
            </td>
            <td width="14%">
                客队
            </td>
            <td width="6%">
                胜(3)
            </td>
            <td width="6%">
                平(1)
            </td>
            <td width="6%">
                负(0)
            </td>
            @{if (gameType.ToLower() == "tr9")
              {<td width="6%">
                  设胆
              </td>}}
            <td width="6%">
                彩果
            </td>
        </tr>
        <tbody id="ctzq_content">
            <tr>
                <td colspan="10">
                    暂无数据
                </td>
            </tr>
        </tbody>
    </table>
        }
        else if (gameType.ToLower() == "t4cjq")
        {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="datatable">
        <tr class="tit2">
            <td width="5%">
                场次
            </td>
            <td width="7%">
                联赛
            </td>
            <td width="12%">
                时间
            </td>
            <td width="19%">
                主队/客队
            </td>
            <td width="8%">
                比分
            </td>
            <td width="8%">
                0
            </td>
            <td width="8%">
                1
            </td>
            <td width="7%">
                2
            </td>
            <td width="7%">
                3+
            </td>
            <td width="6%">
                彩果
            </td>
        </tr>
        <tbody id="ctzq_content">
            <tr>
                <td colspan="10">
                    暂无数据
                </td>
            </tr>
        </tbody>
    </table>
        }
        else if (gameType.ToLower() == "t6bqc")
        { <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0"
            cellpadding="0" width="100%" align="center" border="1" class="datatable">
            <tr class="tit2">
                <td width="5%">
                    场次
                </td>
                <td width="7%">
                    联赛
                </td>
                <td width="12%">
                    时间
                </td>
                <td width="15%">
                    主队
                </td>
                <td width="7%">
                    半场
                </td>
                <td width="7%">
                    比分
                </td>
                <td width="15%">
                    客队
                </td>
                <td width="8%">
                    胜(3)
                </td>
                <td width="8%">
                    平(1)
                </td>
                <td width="8%">
                    负(0)
                </td>
                <td width="7%">
                    彩果
                </td>
            </tr>
            <tbody id="ctzq_content">
                <tr>
                    <td colspan="10">
                        暂无数据
                    </td>
                </tr>
            </tbody>
        </table>
        }

        var SchemeId = singleInfo == null ? "" : singleInfo.SchemeId;

        var item = anteList[0];
        var issue = item.IssuseNumber;
        var antecode = item.AnteCode;
           

    <script type="text/javascript">
        var res = '@ViewHelpers.jsonres()';
        var gameCode = '@gameCode';
        var gameType = '@gameType';
        var anteList = [{ "IssuseNumber": "@issue", "AnteCode": "@antecode"}];
        var schemeCategory = '@schemeCategory'; //方案投注类别，0.普通投注1单式上传，2过滤投注
        var SchemeId = '@SchemeId';
        var issuseNumber = '@issuseNumber';
    </script>
    @UserHelper.js_share("share.min.js")
    @UserHelper.js("ctzqScheme.js")
}
@helper AnteListView_NewCTZQ(string gameCode, string gameType, Sports_AnteCodeQueryInfoCollection anteList, SchemeBettingCategory schemeCategory = SchemeBettingCategory.GeneralBetting, SingleScheme_AnteCodeQueryInfo singleInfo = null, string issuseNumber = "")
    {
        //传统足球-投注号码列表
        if (gameType.ToLower() == "t14c" || gameType.ToLower() == "tr9")
        {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="mtable">
        <tr class="thbg">
            <th width="5%">
                场次
            </th>
            <th width="7%">
                联赛
            </th>
            <th width="12%">
                时间
            </th>
            <th width="14%">
                主队
            </th>
            <th width="8%">
                比分
            </th>
            <th width="14%">
                客队
            </th>
            <th width="6%">
                胜(3)
            </th>
            <th width="6%">
                平(1)
            </th>
            <th width="6%">
                负(0)
            </th>
            @{if (gameType.ToLower() == "tr9")
              {<th width="6%">
                  设胆
              </th>}}
            <th width="6%">
                彩果
            </th>
        </tr>
        <tbody id="ctzq_content">
            <tr>
                <td colspan="@(gameType.ToLower() == "tr9" ? 11 : 10)">
                    暂无数据
                </td>
            </tr>
        </tbody>
    </table>
        }
        else if (gameType.ToLower() == "t4cjq")
        {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="mtable">
        <tr class="thbg">
            <th width="5%">
                场次
            </th>
            <th width="7%">
                联赛
            </th>
            <th width="12%">
                时间
            </th>
            <th width="19%">
                主队/客队
            </th>
            <th width="8%">
                比分
            </th>
            <th width="8%">
                0
            </th>
            <th width="8%">
                1
            </th>
            <th width="7%">
                2
            </th>
            <th width="7%">
                3+
            </th>
            <th width="6%">
                彩果
            </th>
        </tr>
        <tbody id="ctzq_content">
            <tr>
                <td colspan="10">
                    暂无数据
                </td>
            </tr>
        </tbody>
    </table>
        }
        else if (gameType.ToLower() == "t6bqc")
        {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="mtable">
        <tr class="thbg">
            <th width="5%">
                场次
            </th>
            <th width="7%">
                联赛
            </th>
            <th width="12%">
                时间
            </th>
            <th width="15%">
                主队
            </th>
            <th width="7%">
                半场
            </th>
            <th width="7%">
                比分
            </th>
            <th width="15%">
                客队
            </th>
            <th width="8%">
                胜(3)
            </th>
            <th width="8%">
                平(1)
            </th>
            <th width="8%">
                负(0)
            </th>
            <th width="7%">
                彩果
            </th>
        </tr>
        <tbody id="ctzq_content">
            <tr>
                <td colspan="11">
                    暂无数据
                </td>
            </tr>
        </tbody>
    </table>
        }

        var SchemeId = singleInfo == null ? "" : singleInfo.SchemeId;

        var item = anteList[0];
        var issue = item.IssuseNumber;
        var antecode = item.AnteCode;
           

    <script type="text/javascript">
        var res = '@ViewHelpers.jsonres()';
        var gameCode = '@gameCode';
        var gameType = '@gameType';
        var anteList = [{ "IssuseNumber": "@issue", "AnteCode": "@antecode"}];
        var schemeCategory = '@schemeCategory'; //方案投注类别，0.普通投注1单式上传，2过滤投注
        var SchemeId = '@SchemeId';
        var issuseNumber = '@issuseNumber';
    </script>
    @UserHelper.js("ctzqScheme.js")
}
@helper AnteListView_SZC(string gameCode, Sports_AnteCodeQueryInfoCollection anteList, int betcount, bool isappend = false)
    {//数字彩-投注号码列表
    
    <table width="100%" cellspacing="0" cellpadding="2" bordercolor="#A8C9FF" border="1"
        align="center" class="oas-xq-table" style="border-collapse: collapse">
        <tr class=" oas-xq-tr1">
            <td width="30%">
                方案
            </td>
            <td>
                玩法
            </td>
            <td>
                注数
            </td>
            <td>
                倍数
            </td>
            <td width="10%">
                金额
            </td>
            <td>
                开奖号码
            </td>
        </tr>
        @{if (anteList != null && anteList.Count > 0)
          {
              foreach (var item in anteList)
              {
                  var radix = isappend ? 3 : 2;
            <tr class="ni">
                <td width="30%" style="color: Red; font-weight: bold">@item.AnteCode @(isappend ? "（追加）" : "")
                </td>
                <td width="20%">@WCFService.GameTypeList(gameCode, item.GameType)
                </td>
                <td width="10%">@SiteConvert.AnalyzeAnteCodeBetCount(gameCode, item.GameType, item.AnteCode)
                </td>
                <td width="10%">@betcount
                </td>
                <td width="10%">@(
                
 SiteConvert.AnalyzeAnteCodeBetCount(gameCode, item.GameType, item.AnteCode) * radix

                )元
                </td>
                <td style="color: Red; font-weight: bold">@(string.IsNullOrEmpty(item.WinNumber) ? "未开奖" : item.WinNumber)
                </td>
            </tr>
              }
          }
          else
          {
            <tr>
                <td colspan="4" style="border: none;">
                    暂无数据
                </td>
            </tr>
          }
        }
    </table>
}
@helper AnteListView_NewSZC(string gameCode, Sports_AnteCodeQueryInfoCollection anteList, int betcount, bool isappend = false)
    {//数字彩-投注号码列表
    
    <table width="100%" cellspacing="0" cellpadding="2" bordercolor="#A8C9FF" border="1"
        align="center" class="mtable" style="border-collapse: collapse">
        <tr class="thbg">
            <th width="30%">
                投注内容
            </th>
            <th>
                玩法
            </th>
            <th>
                注数
            </th>
            <th>
                倍数
            </th>
            <th width="10%">
                金额
            </th>
            <th>
                开奖号码
            </th>
        </tr>
        @{if (anteList != null && anteList.Count > 0)
          {
              foreach (var item in anteList)
              {
                  var radix = isappend ? 3 : 2;
            <tr class="ni">
                <td width="30%" style="color: Red; font-weight: bold">
                    @{
                  if ("cqssc" == gameCode.ToLower() && "DXDS" == item.GameType)
                  {
                      if (!string.IsNullOrEmpty(item.AnteCode))
                      {
                          var str = string.Empty;
                          var codes = item.AnteCode.Split(',');
                          foreach (var code in codes)
                          {
                              str += SiteString.CqsscCode(code);
                          }
                        @(new HtmlString(str))
                      }
                  }
                  else if (gameCode.ToLower() == "sdklpk3")
                  {
                        @(new HtmlString(SiteString.SDKLPK3(item.GameType, item.AnteCode)))
                  }
                  else if(gameCode.ToLower()=="jsks")
                  {
                      if (item.GameType == "3THTX" || item.GameType == "3LHTX")
                      {
                         @WCFService.GameTypeList(gameCode, item.GameType)
                      }
                      else
                      {
                        @(new HtmlString(item.AnteCode))
                      }
                  }
                  else
                  {
                        @(new HtmlString(item.AnteCode))
                  }
                    }
                    @(isappend ? "（追加）" : "")
                </td>
                <td width="20%">@WCFService.GameTypeList(gameCode, item.GameType)
                </td>
                <td width="10%">@SiteConvert.AnalyzeAnteCodeBetCount(gameCode, item.GameType, item.AnteCode)
                </td>
                <td width="10%">@betcount
                </td>
                <td width="10%">@(SiteConvert.AnalyzeAnteCodeBetCount(gameCode, item.GameType, item.AnteCode) * radix)元
                </td>
                @if (gameCode.ToLower() == "sdklpk3")
                {
                    var winNumberList = new List<string>();
                    if (string.IsNullOrEmpty(item.WinNumber))
                    {
                        winNumberList.Add("未开奖");
                    }
                    else
                    {
                        var winNumberArray = item.WinNumber.Split(',');
                        foreach (var win in winNumberArray)
                        {
                            winNumberList.Add(SiteString.SDKLPK3WinNumber(win));
                        }
                    }
                    
                    <td>@Html.Raw(string.Join(",", winNumberList.ToArray()))
                    </td>
                }
                else
                {
                    <td style="color: Red; font-weight: bold">@(string.IsNullOrEmpty(item.WinNumber) ? "未开奖" : item.WinNumber)
                    </td>
                }
            </tr>
              }
          }
          else
          {
            <tr>
                <td colspan="4" style="border: none;">
                    暂无数据
                </td>
            </tr>
          }
        }
    </table>
}
@helper OrderProgressView(bool isHemai, Sports_SchemeQueryInfo schemeInfo = null, Sports_TogetherSchemeQueryInfo togInfo = null)
    {
        //合买订单进度条
        var atIndex = 0;
        var statusName = "";
        var create = DateTime.Now;
        if (isHemai)
        {
            create = togInfo.CreateTime;
            statusName = OrderManager.TogetherProgressName(togInfo.ProgressStatus, togInfo.TicketStatus, togInfo.BonusStatus, togInfo.IsPrizeMoney);
            atIndex = OrderManager.Progress_StatusIndex(togInfo.ProgressStatus, togInfo.TicketStatus, togInfo.BonusStatus, togInfo.IsPrizeMoney);
        }
        else
        {
            create = schemeInfo.CreateTime;
            statusName = OrderManager.OrderStatusName(schemeInfo.SchemeType, schemeInfo.ProgressStatus, schemeInfo.TicketStatus, schemeInfo.BonusStatus, schemeInfo.IsPrizeMoney, true, schemeInfo.IsVirtualOrder);
            atIndex = OrderManager.Progress_StatusIndex(schemeInfo.ProgressStatus, schemeInfo.TicketStatus, schemeInfo.BonusStatus, schemeInfo.IsPrizeMoney);
        }

        var left = -9;
        var width = 15;

        switch (atIndex)
        {
            case 1:
                left = 200; width = 220;
                if (isHemai && OrderManager.IsCanBuy(togInfo))
                {
                    left = left + (int)(200 * togInfo.Progress);
                    width = width + (int)(200 * togInfo.Progress);
                }
                break;
            case 2:
                left = 420; width = 445;
                break;
            case 3:
                left = 580; width = 600;
                break;
            case 4:
                left = 752; width = 873;
                break;
        }
            
    <td style="padding: 10px 0px 10px 15px;" id="tdStatus">
        <p class="bonsTDiv">
            <span style="left: @(left)px" class="bonsTips@(atIndex == 4 ? "1" : string.Empty)" id="bonsTips">@statusName
                @(isHemai && OrderManager.IsCanBuy(togInfo) ? (togInfo.Progress * 100).ToString("f") + "%" : string.Empty)</span>
        </p>
        <p class="divBar" id="bonusBar">
            <span style="width: @(width)px;" class="bonusBar2" id="bonusBar2"></span>@*@{if (atIndex > 0 && atIndex < 4)
              {<b id="bonusBarB"></b> }}*@
            @if (atIndex != 2 && atIndex != 4 && atIndex != 0)
            {
                <b id="bonusBarB"></b> 
            }
        </p>
        <p class="bonusInfo" id="bonusInfo">
            <span>发起(@create.ToString("MM-dd HH:mm"))</span><span class="bi001">@(atIndex == 2 ? statusName : atIndex > 2 ? "已出票" : "出票")</span>
            @* <span class="bi002">@(atIndex == 3 ? statusName : atIndex > 3 ? "已开奖" : "开奖")</span>*@
            <span></span><span class="bi001">@(atIndex >= 4 ? statusName : "派奖")</span>
        </p>
    </td>
}
@helper SpliteTicketView(Sports_AnteCodeQueryInfoCollection anteList, string gameCode, string gameType, string playType, int betcount, int amount, decimal betMoney, decimal bonusMoney = 0, SchemeBettingCategory category = SchemeBettingCategory.GeneralBetting)
    {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="mtable">
        <tr class="thbg">
            <th>
                方案明细（具体赔率以出票拆分为准）
            </th>
            <th width="25%">
                过关方式
            </th>
            <th width="7%">
                方案注数
            </th>
            <th width="7%">
                倍数
            </th>
            <th width="10%">
                金额
            </th>
            @*<th width="10%">
                奖金
            </th>*@
        </tr>
        @{
            foreach (var item in anteList)
            {
                var type = string.IsNullOrEmpty(item.GameType) ? gameType.ToLower() : item.GameType.ToLower();
                var matres = "";
                var index = anteList.IndexOf(item) + 1;
                if (item != null)
                {
                    if (!string.IsNullOrEmpty(item.MatchResult) && item.MatchResult.IndexOf("-1") < 0)
                    {
                        if (type == "dxf")
                        {
                            var zfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                            var czf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["YSZF"];
                            if (zfs.Length > 1)
                            {
                                var zf = zfs.Select(a => float.Parse(a)).Sum();
                                if (zf > float.Parse(czf))
                                {
                                    matres = "3";
                                }
                                else
                                {
                                    matres = "0";
                                }
                            }
                        }
                        else if (type == "rfsf")
                        {
                            var bfs = item.FullResult.Split(new string[] { ":" }, StringSplitOptions.RemoveEmptyEntries);
                            var rf = OrderManager.SpliteSPList(item.CurrentSp).Count <= 0 ? "0" : OrderManager.SpliteSPList(item.CurrentSp)["RF"];
                            if (bfs.Length > 1)
                            {
                                var zf = float.Parse(bfs[0]) + float.Parse(rf);
                                var ff = float.Parse(bfs[1]);
                                if (zf > ff)
                                {
                                    matres = "3";
                                }
                                else
                                {
                                    matres = "0";
                                }
                            }
                        }
                        else
                        {
                            matres = item.MatchResult;
                        }
                    }
                }
            <tr style="color: #666; font-family: '新宋体'">
                <td style="text-align: left; padding-left: 10px">
                    <p class="cblue2">@item.MatchIdName
                        <span class="clue3">[@(SiteConvert.GameName(gameCode, item.GameType))]</span>
                        @{
                if (category != SchemeBettingCategory.GeneralBetting)
                {
                    foreach (var spitem in OrderManager.SpliteSPList(item.CurrentSp))
                    {
                        if (spitem.Key != "-1")
                        {
                            <span class="clue3">[@SiteString.ANTECODES_NAME(type, spitem.Key) @spitem.Value]</span>
                        }
                    }
                }
                else
                {
                    foreach (var code in item.AnteCode.Split(','))
                    {
                            <span class="@(string.IsNullOrEmpty(matres) || code == matres ? "skyblue" : "gray")">
                                [ <b>@SiteString.ANTECODES_NAME(type, code)</b> @(string.IsNullOrEmpty(item.CurrentSp) || item.CurrentSp == "-" ? string.Empty : (!OrderManager.SpliteSPList(item.CurrentSp).ContainsKey(code) ? string.Empty : OrderManager.SpliteSPList(item.CurrentSp)[code]))
                                ] </span>
                    }
                }
                        }
                        @{
                if (!string.IsNullOrEmpty(item.CurrentSp))
                {
                    if (gameType.ToLower() == "rfsf")
                    {
                            <em class="black">(@(OrderManager.SpliteSPList(item.CurrentSp).Count > 0 ? OrderManager.SpliteSPList(item.CurrentSp)["RF"] : ""))</em>
                    }
                    else if (gameType.ToLower() == "dxf")
                    {
                            <em class="black">(@(OrderManager.SpliteSPList(item.CurrentSp).Count > 0 ? OrderManager.SpliteSPList(item.CurrentSp)["YSZF"] : ""))</em>
                    }
                }
                        }
                    </p>
                </td>
                @if (index == 1)
                {
                    <td rowspan="@anteList.Count">@SiteConvert.PlayTypeName(playType)
                    </td>
                    <td rowspan="@anteList.Count" class="cblue blod size">@betcount
                    </td>
                    <td rowspan="@anteList.Count" class="c333 blod size">@amount
                    </td>
                    <td rowspan="@anteList.Count" class="font_fd6c00 blod size">
                        ￥@betMoney.ToString("f")
                    </td>
@*<td rowspan="@anteList.Count" class="font_red blod size">@(bonusMoney > 0 ? "￥" + bonusMoney.ToString("f") : "--")
                        </td>*@
                }
            </tr>
            }
        }
    </table>
    <script type="text/javascript">
        function displayDetail(clickObj) {
            clickObj.innerHTML = clickObj.innerHTML == "点击隐藏" ? "点击展开" : "点击隐藏";
            clickObj.className = clickObj.className == "red" ? "green" : "red";
            var tb = document.getElementById("tableJingcaiDetail");
            tb.style.display = tb.style.display == "none" ? "" : "none";
        }
    </script>
}
@helper AnteListView_YouHua(Sports_AnteCodeQueryInfoCollection anteList, string PlayType, string Attach)
    {
    <table style="border-collapse: collapse" bordercolor="#d3d3d3" cellspacing="0" cellpadding="0"
        width="100%" align="center" border="1" class="mtable">
        <tr class="thbg">
            <th>
                投注内容
            </th>
            <th width="25%">
                过关
            </th>
            <th width="15%">
                投注注数
            </th>
            <th width="15%">
                理论奖金
            </th>
        </tr>
        @{
            var gg = SiteConvert.PlayTypeName(PlayType);

            var attsch = Attach.Split(',');
            foreach (var item in attsch)
            {
                var itemArray = item.Split('^');
                if (itemArray.Length != 2)
                {
                    continue;
                }
                //注数
                var betcoun = itemArray[1];
                //一场比赛
                var matchs = itemArray[0].Split('|');
                var money = 1M;
                var htmlList = new List<string>();
                foreach (var m in matchs)
                {
                    var mArray = m.Split('_');
                    if (mArray.Length != 3)
                    {
                        continue;
                    }

                    var anteCode = anteList.Where(p => p.MatchId == mArray[0] && p.GameType == mArray[1].ToUpper()).FirstOrDefault();
                    htmlList.Add("<em style='color:#999'>[" + anteCode.MatchIdName + "]</em>" + anteCode.HomeTeamName.Substring(0, 2) + "<i class=" + (anteCode.GameType.ToLower() == "brqspf" ? "font_red" : "green") + ">[" + (anteCode.GameType == "SPF" ? "让" : "") + SiteString.ANTECODES_NAME(anteCode.GameType, mArray[2]) + "]</i>");

                    if (string.IsNullOrEmpty(anteCode.CurrentSp))
                    {
                        continue;
                    }
                    foreach (var spitem in anteCode.CurrentSp.Split(','))
                    {
                        //if (spitem.Split('|')[0] == anteCode.AnteCode)
                        //{
                        //    money *= decimal.Parse(spitem.Split('|')[1]);
                        //    break;
                        //}

                        if (!string.IsNullOrEmpty(anteCode.AnteCode))
                        {
                            if (anteCode.AnteCode.Contains(spitem.Split('|')[0]))
                            {
                                money *= decimal.Parse(spitem.Split('|')[1]);
                                break;
                            }
                        }
                    }
                }
                money *= 2 * decimal.Parse(betcoun);
            <tr>
                <td>
                    @Html.Raw(string.Join("x", htmlList.ToArray()))
                </td>
                <td>
                    @gg
                </td>
                <td>
                    @betcoun
                </td>
                <td class="font_fd6c00 blod">
                    @money.ToString("N2")元
                </td>
            </tr>
            }
        }
    </table>
}
@helper AnteListView_XFQHSC(DateTime StopTime, string GameCode, string GameType, string schemeId)
    {
        var stopTime = StopTime.AddMinutes(5);//截止时间加5分钟
        var sec = (stopTime - DateTime.Now).TotalSeconds.ToString("0");
    <div class="ds bggray">
        <div>
            <input type="button"  onclick='location.href="/@SiteString.HrefGameName(GameCode)/@(GameType.ToLower() == "brqspf" && GameCode.ToLower() == "jczq" ? "spf" : GameType.ToLower() == "spf" && GameCode.ToLower() == "jczq" ? "rqspf" : GameType.ToLower())?schemeid=@schemeId&oddstype=3&isYt=1"'  name="Submit3" value="单式方案上传" /></div>
        <div class="p_top30">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投注截止时间：<strong>@stopTime.ToString("yyyy-MM-dd HH:mm:ss")</strong></p>
            <p>
                距离投注截止时间：<strong id="dsEndTime">载入中.</strong></p>
            <script type="text/javascript">

                var ds_time = "@sec";
                (function () {

                    if (ds_time > 1) {
                        ds_time = ds_time - 1;
                        $("#dsEndTime").html(timeFormatting(ds_time));
                    }
                    if (ds_time > 0) setTimeout(arguments.callee, 1000);
                })();

                function timeFormatting(time) {
                    var d = parseInt(time / 60 / 60 / 24, 10);
                    var h = parseInt(time / 60 / 60 % 24, 10);
                    var m = parseInt(time / 60 % 60, 10);
                    var s = time % 60;
                    d = d > 0 ? d.toString() : "0" + d.toString();
                    h = h > 9 ? h.toString() : "0" + h.toString();
                    m = m > 9 ? m.toString() : "0" + m.toString();
                    s = s > 9 ? s.toString() : "0" + s.toString();
                    return ("<em>" + d + "</em>天<em>" + h + "</em>时<em>" + m + "</em>分<em>" + s + "</em>秒");
                }
            </script>
        </div>
        <p class="ts_p">
            <em class="red">特别提示：</em>请在投注截止前上传方案，逾期将做撤单处理。</p>
    </div>
}
@helper WinNumberView(string winNumber)
    {//转换显示中奖号码
        var win = winNumber;
        if (!string.IsNullOrEmpty(winNumber))
        {
            if (winNumber.Contains("|"))
            {
                var qNumber = winNumber.Split('|')[0];
                var bNumber = winNumber.Split('|')[1];
                foreach (var item in qNumber.Split(','))
                {
    <em class="lottery-ball red-ball">@item</em>
                }
                foreach (var item in bNumber.Split(','))
                {
    <em class="lottery-ball blue-ball">@item</em>
                }
            }
            else
            {
                foreach (var item in winNumber.Split(','))
                {
    <em class="lottery-ball red-ball">@item</em>
                }
            }

        }
        else
        {
    <b class="red">未开奖</b>
        }
}
@helper GrowthStatus(decimal UserGrowth)
    {
        
        var leve = 0;
        var needGrowth = 0M;
        decimal width = 0;
        //成长状态
        if (UserGrowth < 500)
        {
            leve = 1;
            needGrowth = 500 - UserGrowth;
            width = (UserGrowth / 500) * 100;
        }
        else if (UserGrowth >= 500 && UserGrowth < 1000)
        {
            leve = 2;
            needGrowth = 1000 - UserGrowth;
            width = ((UserGrowth - 500) / 500) * 100;
        }
        else if (UserGrowth >= 1000 && UserGrowth < 2000)
        {
            leve = 3;
            needGrowth = 2000 - UserGrowth;
            width = ((UserGrowth - 1000) / 1000) * 100;
            //width = (UserGrowth - 1000) * 0.225;
        }
        else if (UserGrowth >= 2000 && UserGrowth < 4000)
        {
            leve = 4;
            needGrowth = 4000 - UserGrowth;
            width = ((UserGrowth - 2000) / 2000) * 100;
        }
        else if (UserGrowth >= 4000 && UserGrowth < 8000)
        {
            leve = 5;
            needGrowth = 8000 - UserGrowth;
            width = ((UserGrowth - 4000) / 4000) * 100;
        }
        else if (UserGrowth >= 8000 && UserGrowth < 12000)
        {
            leve = 6;
            needGrowth = 12000 - UserGrowth;

            width = ((UserGrowth - 8000) / 4000) * 100;
        }
        else if (UserGrowth >= 12000 && UserGrowth < 16000)
        {
            leve = 7;
            needGrowth = 16000 - UserGrowth;
            width = ((UserGrowth - 12000) / 4000) * 100;
        }
        else if (UserGrowth >= 16000 && UserGrowth < 20000)
        {

            leve = 8;
            needGrowth = 20000 - UserGrowth;
            width = ((UserGrowth - 16000) / 4000) * 100;
        }
        else if (UserGrowth >= 20000)
        {
            leve = 9;
            width = 100;
        }
    <div style="width: 350px;float: left;">
        <div class="pro-befor fl">
            我的成长状态： LV@(leve)</div>
        <div class="cz-pro">
            <span class="my-cz-pro" style="width:@(UserGrowth == 0 ? "0%" : UserGrowth > 20000 ? "100%" : width + "%")">
            </span>
        </div>
        <div class="pro-after fr">
            @(leve == 9 ? "" : "LV" + (leve + 1))</div>
    </div>
    <div  style="float:right;margin-top:-3px;">
        目前成长值：<i style="color: #ec4514">@UserGrowth </i>点,@*@(leve == 9 ? "" : "，只需" + needGrowth + "点即可升级到LV" + (leve + 1))*@
        @{if (leve != 9)
          {
            <span>只需<i style="color: #ec4514">@needGrowth </i>点即可升级到LV @(leve + 1)</span> 
          }
        }
    </div>
    <script type="text/javascript">
        $(function () {
            $(".my-cz-pro").animate({ width: "0" }, 500, function () {
                $(".my-cz-pro").animate({ width: "@(width)%" }, 800, function () {
                    $(".my-status").fadeIn(500);
                });
            });
        });
    </script>
}
@helper NewOrderProgressView(int atIndex, SchemeType SchemeType, DateTime CreateTime, string BetTime, DateTime ComplateDateTime, DateTime StopTime, TicketStatus status)
    {
    <div style="position: relative; height: 50px; margin: 15px 0 6px 0; z-index: 100;">
        <div class="ztboxlist">
            <em class="select"></em>
            <p>
                <span style="width:@(SchemeType == SchemeType.SaveScheme && atIndex > 0 ? 50 : atIndex == 0 ? 0 : 100)%">
                </span>
            </p>
            <em class="@(SchemeType != SchemeType.SaveScheme && atIndex >= 1 ? "select" : "")">
            </em>
            <p>
                <span style="width:@(SchemeType != SchemeType.SaveScheme && atIndex == 1 ? 50 : atIndex > 1 ? 100 : 0)%">
                </span>
            </p>
            <em  class="@(SchemeType != SchemeType.SaveScheme && atIndex >= 2 ? "select" : "")">
            </em>
            <p>
                <span style="width:@(SchemeType != SchemeType.SaveScheme && atIndex == 2 ? 50 : atIndex > 2 ? 100 : 0)%">
                </span>
            </p>
            <em class="@(SchemeType != SchemeType.SaveScheme && atIndex >= 3 ? "select" : "")">
            </em>
            <p>
                <span style="width:@(SchemeType != SchemeType.SaveScheme && atIndex == 3 ? 50 : atIndex > 3 ? 100 : 0)%">
                </span>
            </p>
            <em class="@(SchemeType != SchemeType.SaveScheme && atIndex >= 4 ? "select" : "")">
            </em>
        </div>
        <div class="ztboxlist2">
            <p>
                @(atIndex == 0 ? "撤单" : "发起方案")<span class="huitxt">(@CreateTime.ToString("MM-dd HH:mm"))</span>
            </p>
            <p>
                @(SchemeType == SchemeType.SaveScheme && atIndex > 0 ? "未付款" : atIndex == 0 ? "已退款" : "已付款")
                <span class="huitxt">（@(SchemeType == SchemeType.SaveScheme && atIndex > 0 ? StopTime.ToString("MM-dd HH:mm") : (atIndex == 0 ? ComplateDateTime.ToString("MM-dd HH:mm") : CreateTime.ToString("MM-dd HH:mm")))）</span>
            </p>
            <p>@(SchemeType == SchemeType.SaveScheme ? "不出票" : status == TicketStatus.PrintTicket ? "已打票" : atIndex < 2 ? "未出票" : "出票完成")
                @if (atIndex >= 2 && !string.IsNullOrEmpty(BetTime))
                {
                    <span class="huitxt">(@BetTime)</span>
                }
            </p>
            <p>
                @(SchemeType == SchemeType.SaveScheme ? "不开奖" : atIndex < 3 ? "未开奖" : "开奖完成")
                @if (atIndex >= 3)
                {
                    <span class="huitxt">(@ComplateDateTime.ToString("MM-dd HH:mm"))</span>
                }
            </p>
            <p>
                @(SchemeType == SchemeType.SaveScheme ? "不派奖" : atIndex < 4 ? "未派奖" : "派奖完成")
                @if (atIndex >= 4)
                {
                    <span class="huitxt">(@ComplateDateTime.ToString("MM-dd HH:mm"))</span>
                }
            </p>
        </div>
    </div>
}
