<div class="bottom-nav">
    <div class="bnav">
        <ul>
            <li>战略合作伙伴:</li>
            <li><a href="http://www.dongqiudi.com/" target="_blank">懂球帝</a></li>
            <li><a href="http://http://www.8win.com/" target="_blank">章鱼彩票</a></li>
            <li><a href="http://c.spdex.com" target="_blank">必发指数</a></li>
            <li><a href="http://c.spdex.com/" target="_blank">必发指数网</a></li>
            <li><a href="http://www.cjcp.com.cn/" target="_blank">彩经网</a></li>
            <li><a href="http://www.sobet.com.cn/" target="_blank">搜博网</a></li>
            <li><a href="http://caitong.sina.com.cn/" target="_blank">新浪彩通</a></li>
            <li><a href="http://sports.sohu.com/" target="_blank">搜狐体育</a></li>
            <li><a href="http://www.sporttery.cn/zixun/index.html" target="_blank">中国竞彩网</a></li>
            <li><a href="http://www.lottery.gov.cn/" target="_blank">中国体彩网</a></li>
            <li><a href="http://www.jc258.cn/" target="_blank">竞彩258</a></li>
            <li><a href="http://www.diyicai.com/" target="_blank">第一彩</a></li>
            <li><a href="http://www.zgzcw.com/" target="_blank">中国足彩网</a></li>
        </ul>
    </div>
</div>
<div class="footer_nav">
    <div class="link">
        <a href="/staticHtml/help/about/Aboutsite1.html" target="_blank">关于我们</a>|
        <a href="/statichtml/register.html" target="_blank">用户注册</a>|
        <a href="/staticHtml/help/about/Join1.html" target="_blank">联系我们</a>|
        <a href="/staticHtml/help/about/Join1.html" target="_blank">合作伙伴</a>|
        <a href="/staticHtml/help/about/Recruitment.html" target="_blank">人才招聘</a>|
        <a href="/staticHtml/help/about/links1.html" target="_blank">友情链接</a>|
        <a href="/statichtml/help/about/websiteMap1.html" target="_blank">网站地图</a>|
        <a href="http://m.wancai.com" target="_blank">触屏版</a>
    </div>
    <div class="copyright">
        <p>© 2009-@DateTime.Now.ToString("yyyy") <a href="@SiteString.getHZSiteUrl()" title="@SiteString.getHZSiteName(Request)">@SiteString.getHZSiteUrl()</a> All Rights Reserved | ICP备案：<a href="http://www.miibeian.gov.cn/"  target="_blank" title="@SiteString.icp" >@SiteString.icp</a> | 免费客服热线：@SiteString.tel (08:30-00:30)
</p>
        <p>提醒：购买彩票有风险，在线投注需谨慎，不向未满18周岁的青少年出售彩票及提供彩票代购服务</p>
    </div>
</div>
