@using System.Text.RegularExpressions
@{
    var sitename = SiteString.getHZSiteName(Request);
    //幻灯片
    var url = Request.Url.Host.ToString();
    Regex reg = new Regex("\\d+", RegexOptions.IgnoreCase);
    var agent = ViewBag.Agent;
    var isAgentNum = false;
    if (agent != null && reg.IsMatch(agent))
    {
        isAgentNum = true;
    }
}
@{Html.RenderAction("headerTop", "home");}
<div class="header_box_con">
    <div class="header_box">
        <div style="width: 420px;" class="logo-box clearfix">
            <a href="@SiteString.getHZSiteUrl()" title="@SiteString.getHZSiteName()">
                <img class="logo-index-hd" src="@ViewHelpers.img("home/xg.png")" alt="@sitename" title="@sitename" />
            </a>
        </div>
        <ul class="customerService-plus">
            <li><i class="icon-i"></i>TEL:@SiteString.tel &nbsp;</li>
            <li><a  href="javascript:void(0)" data="@SiteString.kefuUrl" class="link_kefu" title="点击联系在线客服"></a> </li>
            <li class="online_service">
            <a class="colorRed kf-top" target="_blank" href="/staticHtml/help/index.html" style=" color:#666 ! important;">帮助中心</a>
                <a class="colorRed kf-top" target="_blank" href="/staticHtml/help/login.html" style=" color:#666 ! important;">如何注册</a> </li>
        </ul>
        <script type="text/javascript">
            $(function () {
                //在线客服打开控制
                $(".link_kefu").click(function () {
                    var link = $(this).attr("data");
                    this.newWindow = window.open(link, 'kefutalk', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=570,height=424');
                    this.newWindow.focus();
                    this.newWindow.opener = window;

                    return false
                })
            })
</script>

    </div>
</div>
<div class="hh-nav clearfix">
    <div class="nav">
        <div class="nav_left_index">
            <div class="navtoptitle nav_hoverico">
                全部彩种 （共30种）
            </div>
        </div>
        <ul class="nav_right" id="home_menus">
            @*           <li class="expert"><a class="zhuanti" target="_blank" href="/huodong/family">公益基金</a></li>*@
            <li class="on"><a target="_blank" href="/" style="margin-left: 22px;"><i class="home_icon sy">
            </i>首页</a></li>
         @*  <li><a href="/baodan/redantoday" >玩味神单</a></li>*@
            <li><a target="_blank" href="/chipped">合买大厅</a></li>
            <li><a href="/staticHtml/lottery/index.html">开奖结果</a></li>
            <li><a href="/staticHtml/bonus/index.html">中奖排行榜</a></li>
            <li class="dropdown-nav" data-cls="data-down"><a class="dropdown-desc" href="javascript:void(0)">
                数据图表<i class="icon-i"></i></a>
                <ul class="dropdown-ul" style="display: none;">
                    <li><a class="live" target="_blank" href="/soccer">过关统计</a></li>
                    <li><a class="football" target="_blank" href="http://live.wancai.com/">比分直播</a></li>
                    <li><a class="baskeball" target="_blank" href="http://odds.wancai.com/">足球数据</a></li>
                    <li><a target="_blank" href="http://info.wancai.com/">联赛专题</a></li>
                    <li><a target="_blank" href="/staticHtml/lotterytrend/index.html">走势图</a></li>
                </ul>
            </li>
            <li><a target="_blank" href="/staticHtml/zixun/index.html">资讯</a></li>
        </ul>
        <ul class="nav-act">
            <li class="phone-click" style="position: relative"><a title="手机购彩" href="/staticHtml/phonebuy/index.html">
                手机购彩</a> <i style="display: none;" class="icon-i"></i>
                <div style="display: none;" class="mobile-box">
                    <div class="mobile-text">
                        安全、便捷、随时随地购彩</div>
                    <div class="mobile-code-img code-icon-i">
                    </div>
                    <!--<div class="send clearfix"><input type="text" placeholder="输入手机号获取链接" class="jc-put"/><span class="jc-btn">免费发送</span></div>-->
                </div>
            </li>
            <li>⋅</li>
            <li><a target="_blank" href="/staticHtml/bulletin/detail/28.html">活动</a></li>
            <li>⋅</li>
            <li><a title="会员中心" class="help-nav" target="_blank" href="/staticHtml/vip/index.html">会员</a></li>
        </ul>
    </div>
</div>
