@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "广东十一选五前一形态走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "广东十一选五前一形态走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "广东十一选五前一形态走势图近" + pageSize + "期,查看更多请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "广东十一选五前一形态走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "广东十一选五前一形态走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的广东11选5前一形态走势图,其中包括第一位开奖号码的单双走势、大小走势、012路走势、质合走势等,让彩民朋友更直观的分析广东11选5前一形态走势图.";
    }
    var q1xtzs = ViewBag.DataList as LotteryData.Core.GD11X5_Q1XTZS_InfoCollection;
    var a = 0;  
}
@{Html.RenderAction("ThendLink", "lotteryTrend");}
<div id="container">
    <div class="cont_box">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" align="center" class="table_box"
            style="width: 1002px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="30">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="71" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" class="line_r">
                        出号
                    </td>
                    <td colspan="11" class="line_r">
                        号码分布
                    </td>
                    <td colspan="2" class="line_r">
                        单双走势
                    </td>
                    <td colspan="2" class="line_r">
                        大小走势
                    </td>
                    <td colspan="4" class="line_r">
                        大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        012分布
                    </td>
                    <td colspan="2" class="line_r">
                        质合走势
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="30">
                        1
                    </td>
                    <td width="30">
                        2
                    </td>
                    <td width="30">
                        3
                    </td>
                    <td width="30">
                        4
                    </td>
                    <td width="30">
                        5
                    </td>
                    <td width="30">
                        6
                    </td>
                    <td width="30">
                        7
                    </td>
                    <td width="30">
                        8
                    </td>
                    <td width="30">
                        9
                    </td>
                    <td width="30">
                        10
                    </td>
                    <td width="30" class="line_r">
                        11
                    </td>
                    <td width="35">
                        单
                    </td>
                    <td width="35" class="line_r">
                        双
                    </td>
                    <td width="35">
                        大
                    </td>
                    <td width="35" class="line_r">
                        小
                    </td>
                    <td width="35">
                        大单
                    </td>
                    <td width="35">
                        大双
                    </td>
                    <td width="35">
                        小单
                    </td>
                    <td width="35" class="line_r">
                        小双
                    </td>
                    <td width="35">
                        0
                    </td>
                    <td width="35">
                        1
                    </td>
                    <td width="35" class="line_r">
                        2
                    </td>
                    <td width="35">
                        质
                    </td>
                    <td width="35" class="line_r">
                        合
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata" style="font-size: 12px; font-family: '宋体',Tahoma,Consolas,Arial,Simsun;">
                @foreach (var item in q1xtzs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="30">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[0]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[1]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[2]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[3]
                        </td>
                        <td class="hot12 line_r">
                            @item.WinNumber.Split(',')[4]
                        </td>
                        <td class="@(item.Red_01 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_01 == 0 ? "01" : item.Red_01.ToString())
                        </td>
                        <td class="@(item.Red_02 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_02 == 0 ? "02" : item.Red_02.ToString())
                        </td>
                        <td class="@(item.Red_03 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_03 == 0 ? "03" : item.Red_03.ToString())
                        </td>
                        <td class="@(item.Red_04 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_04 == 0 ? "04" : item.Red_04.ToString())
                        </td>
                        <td class="@(item.Red_05 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_05 == 0 ? "05" : item.Red_05.ToString())
                        </td>
                        <td class="@(item.Red_06 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_06 == 0 ? "06" : item.Red_06.ToString())
                        </td>
                        <td class="@(item.Red_07 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_07 == 0 ? "07" : item.Red_07.ToString())
                        </td>
                        <td class="@(item.Red_08 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_08 == 0 ? "08" : item.Red_08.ToString())
                        </td>
                        <td class="@(item.Red_09 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_09 == 0 ? "09" : item.Red_09.ToString())
                        </td>
                        <td class="@(item.Red_10 == 0 ? "cbg hot03" : "y101")">
                            @(item.Red_10 == 0 ? "10" : item.Red_10.ToString())
                        </td>
                        <td class="@(item.Red_11 == 0 ? "cbg hot03 line_r" : "y101 line_r")">
                            @(item.Red_11 == 0 ? "11" : item.Red_11.ToString())
                        </td>
                        <td class="@(item.DS_D == 0 ? "cbg orange1" : "y101")">
                            @(item.DS_D == 0 ? "单" : item.DS_D.ToString())
                        </td>
                        <td class="@(item.DS_S == 0 ? "cbg orange1 line_r" : "y101 line_r")">
                            @(item.DS_S == 0 ? "双" : item.DS_S.ToString())
                        </td>
                        <td class="@(item.DX_D == 0 ? "cbg green1" : "y101")">
                            @(item.DX_D == 0 ? "大" : item.DX_D.ToString())
                        </td>
                        <td class="@(item.DX_X == 0 ? "cbg green1 line_r" : "y101 line_r")">
                            @(item.DX_X == 0 ? "小" : item.DX_X.ToString())
                        </td>
                        <td class="@(item.DDan == 0 ? "cbg purple1" : "y101")">
                            @(item.DDan == 0 ? "大单" : item.DDan.ToString())
                        </td>
                        <td class="@(item.DS == 0 ? "cbg purple1" : "y101")">
                            @(item.DS == 0 ? "大双" : item.DS.ToString())
                        </td>
                        <td class="@(item.XDan == 0 ? "cbg purple1" : "y101")">
                            @(item.XDan == 0 ? "小单" : item.XDan.ToString())
                        </td>
                        <td class="@(item.XS == 0 ? "cbg purple1 line_r" : "y101 line_r")">
                            @(item.XS == 0 ? "小双" : item.XS.ToString())
                        </td>
                        <td class="@(item.C3_0 == 0 ? "cbg purple2" : "y101")">
                            @(item.C3_0 == 0 ? "0" : item.C3_0.ToString())
                        </td>
                        <td class="@(item.C3_1 == 0 ? "cbg purple2" : "y101")">
                            @(item.C3_1 == 0 ? "1" : item.C3_1.ToString())
                        </td>
                        <td class="@(item.C3_2 == 0 ? "cbg purple2 line_r" : "y101 line_r")">
                            @(item.C3_2 == 0 ? "2" : item.C3_2.ToString())
                        </td>
                        <td class="@(item.ZH_Z == 0 ? "cbg gray1" : "y101")">
                            @(item.ZH_Z == 0 ? "质" : item.ZH_Z.ToString())
                        </td>
                        <td class="@(item.ZH_H == 0 ? "cbg gray1 line_r" : "y101 line_r")">
                            @(item.ZH_H == 0 ? "合" : item.ZH_H.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_01 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_02 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_03 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_04 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_05 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_06 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_07 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_08 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_09 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.Red_10 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.Red_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.DS_D == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.DS_S == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.DX_D == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.DX_X == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.DDan == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.DS == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.XDan == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.XS == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.C3_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.C3_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.C3_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q1xtzs.Count(p => p.ZH_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q1xtzs.Count(p => p.ZH_H == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.Red_01) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.Red_02) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_03) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.Red_04) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_05) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.Red_06) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_07) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_08) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_09) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.Red_10) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.Red_11) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.DS_D) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.DS_S) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.DX_D) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.DX_X) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.DDan) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.DS) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.XDan) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.XS) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.C3_0) / q1xtzs.Count)
                    </td>
                    <td class="">
                        @(q1xtzs.Sum(p => p.C3_1) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.C3_2) / q1xtzs.Count)
                    </td>
                    <td>
                        @(q1xtzs.Sum(p => p.ZH_Z) / q1xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Sum(p => p.ZH_H) / q1xtzs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_01))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_02))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_03))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_04))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_05))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_06))
                    </td>
                    <td class="">
                        @(q1xtzs.Max(p => p.Red_07))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_08))
                    </td>
                    <td class="">
                        @(q1xtzs.Max(p => p.Red_09))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.Red_10))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.Red_11))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.DS_D))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.DS_S))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.DX_D))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.DX_X))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.DDan))
                    </td>
                    <td class="">
                        @(q1xtzs.Max(p => p.DS))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.XDan))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.XS))
                    </td>
                    <td class="">
                        @(q1xtzs.Max(p => p.C3_0))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.C3_1))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.C3_2))
                    </td>
                    <td>
                        @(q1xtzs.Max(p => p.ZH_Z))
                    </td>
                    <td class="line_r">
                        @(q1xtzs.Max(p => p.ZH_H))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_01)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_01)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_02)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_02)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_03)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_03)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_04)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_04)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_05)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_05)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_06)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_06)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].Red_07)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_07)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_08)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_08)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_09)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_09)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].Red_10)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_10)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].Red_11)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].Red_11)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].DS_D)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DS_D)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].DS_S)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DS_S)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].DX_D)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DX_D)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].DX_X)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DX_X)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].DDan)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].DS)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].DS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].XDan)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].XDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].XS)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].XS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].C3_0)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].C3_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].C3_1)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].C3_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].C3_2)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].C3_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q1xtzs[q1xtzs.Count - 1].ZH_Z)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].ZH_Z)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q1xtzs[q1xtzs.Count - 1].ZH_H)<br>
                        <img width="8px" height="@(q1xtzs[q1xtzs.Count - 1].ZH_H)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td width="71" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" class="line_r">
                        出号
                    </td>
                    <td width="30">
                        1
                    </td>
                    <td width="30">
                        2
                    </td>
                    <td width="30">
                        3
                    </td>
                    <td width="30">
                        4
                    </td>
                    <td width="30">
                        5
                    </td>
                    <td width="30">
                        6
                    </td>
                    <td width="30">
                        7
                    </td>
                    <td width="30">
                        8
                    </td>
                    <td width="30">
                        9
                    </td>
                    <td width="30">
                        10
                    </td>
                    <td width="30" class="line_r">
                        11
                    </td>
                    <td width="35">
                        单
                    </td>
                    <td width="35" class="line_r">
                        双
                    </td>
                    <td width="35">
                        大
                    </td>
                    <td width="35" class="line_r">
                        小
                    </td>
                    <td width="35">
                        大单
                    </td>
                    <td width="35">
                        大双
                    </td>
                    <td width="35">
                        小单
                    </td>
                    <td width="35" class="line_r">
                        小双
                    </td>
                    <td width="35">
                        0
                    </td>
                    <td width="35">
                        1
                    </td>
                    <td width="35" class="line_r">
                        2
                    </td>
                    <td width="35">
                        质
                    </td>
                    <td width="35" class="line_r">
                        合
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="11" class="line_r">
                        号码分布
                    </td>
                    <td colspan="2" class="line_r">
                        单双走势
                    </td>
                    <td colspan="2" class="line_r">
                        大小走势
                    </td>
                    <td colspan="4" class="line_r">
                        大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        012分布
                    </td>
                    <td colspan="2" class="line_r">
                        质合走势
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".hot03"), color: "#CE7B00" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        allLines.push({ line: $(".green1"), color: "#004F00" });
        allLines.push({ line: $(".purple1"), color: "#0000FE" });
        allLines.push({ line: $(".purple2"), color: "#36006F" });
        allLines.push({ line: $(".gray1"), color: "#FF590B" });


        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
