@using GameBiz.Core;
@using app.lottery.site.Models;
@{
    var gz = ViewBag.GZ;
    var bonuslevel = ViewBag.BonusLevel as ProfileBonusLevelInfo;//获奖情况
    
    var bonusList = ViewBag.BonusList as ProfileLastBonusCollection;//最近中奖
    var user = ViewBag.User as CurrentUserInfo;
    var prouser = ViewBag.UserInfo as ProfileUserInfo;
    var data = ViewBag.DataReport as ProfileDataReport;//数据统计
    var gdCount=ViewBag.Count;//被跟单人数
    if (prouser == null)
    {
        ViewBag.Title = "404,没有查询到这个用户！";
    }
}
@if (prouser == null)
{
}
else
{ 
<div id="user_left" class="dht" >

<div class="bj">
<div class="standings_caizhong_hostoryzg" style=" line-height:38px; border:none ! important" ><span class="rqtj_head"></span>人气统计</div>
<ul class="rqtj">
<li style=" margin-top:20px;"><i>发起人被跟单：@(gdCount==null? 0 : gdCount) 人</i>
 @{if (user == null || user.LoginInfo.UserId != ViewBag.Id)
{
       <a href="javascript:;"  class="under" id="login_gd"> <span style=" background:#0184cd;">+跟单</span></a>
    @*if (user == null)
    {
        <a href="javascript:;"  class="under" id="login_gd"> <span style=" background:#0184cd;">+跟单</span></a>
     }else{
        <span style=" background:#0184cd;"><a href="/blog/custombill/@id" style=" color:White;">+跟单</a></span> }*@
}
   else
   {
        
   }
                    }</li>
<li><i>发起人被关注：@prouser.AttentionedCount 人</i>

  @{if (user == null || user.LoginInfo.UserId != ViewBag.Id)
    {
        if (gz == false)
        {
                         <a href="javascript:;"  class="under" onclick="user.attentionLogin('true','@prouser.UserId')"> <span style=" background:#fb5b00;">+关注</span></a> 
        }
        else
        {
                            <div class="index_quxiao"><span style=" background:#fb5b00;" class="ygz">已关注</span>
                            <a href="javascript:;"  class="under" style=" display:none;" ><span style=" background:#0184cd;">取消？</span></a>
                           <div style="top: -75px; display:none;" class="qxgz_box_c">
                        <p class="clearfix"><i> 确定不再关注 @(prouser == null ? string.Empty : SiteString.HideUserName(prouser.UserDisplayName, prouser.HideNameCount)) ？</i></p>
                        <p class="btn"><a canclename="HUNt97jmRPrs0nqY" href="javascript:void(0)" onclick="user.cancelAttentionUser('false','@prouser.UserId')" class="btn_blue_l btn_blue_l_h18 confirmcc">确定</a>
                        <a href="javascript:void(0)" class="btn_gray btn_gray_h18 cancelcc">取消</a></p>
                      </div>
                            </div>
        }
    }
    else
    {

    }
                    }
</li>
</ul> 
</div>
    <div class="clearfix"></div>

<div class="standings_caizhong_hostoryzg" style=" line-height:38px" ><span id="data" class="lb_limage"></span>数据统计</div>
        <ul class="user_info lf_border">
            <li style="background-color:white;">发单次数：<b>@data.CreateSchemeCount</b></li>
            <li style="background-color:white;">发单成功率：@if (data.CreateSchemeCount == 0)
                                                      {
                                                          <b>0.00%</b>
                                                      }
                                                      else
                                                      {
                                                          <b>@((Convert.ToDouble(data.TotalBonusCount * 100) / Convert.ToDouble(data.CreateSchemeCount)).ToString("f")) %</b>}</li>
            <li style="background-color:white;">跟单次数：<b>@data.JoinSchemeCount</b></li>
            <li style="background-color:white;">总中奖次数：<b>@data.TotalBonusCount</b></li>
            <li style="background-color:white;">总中奖金额：<b>@data.TotalBonusMoney.ToString("f")</b></li>
        </ul>

        <div class="standings_caizhong_hostoryzg" style=" line-height:38px; margin-top:10px;" ><span id="record" class="lb_limage"></span>获奖情况</div>

        <ul class="user_info lf_border">
            @if (bonuslevel.WinOneMillionCount > 0)
            {
                <li style="background-color:white;"><b>百万大奖：@bonuslevel.WinOneMillionCount</b>次</li>
            }
            @if (bonuslevel.WinOneHundredThousandCount > 0)
            {
                <li style="background-color:white;"><b>十万大奖：@bonuslevel.WinOneHundredThousandCount</b>次</li>
            }
            @if (bonuslevel.WinOneHundredThousandCount > 0)
            {
                <li style="background-color:white;"><b>万元大奖：@bonuslevel.WinOneHundredThousandCount</b>次</li>
            }
            @if (bonuslevel.WinOneThousandCount > 0)
            {
                <li style="background-color:white;"><b>千元大奖：@bonuslevel.WinOneThousandCount</b>次</li>
            }
            @if (bonuslevel.WinOneHundredCount > 0)
            {
                <li style="background-color:white;"><b>百元大奖：@bonuslevel.WinOneHundredCount</b>次</li>
            }
            @if (bonuslevel.WinTenMillionCount > 0)
            {
                <li style="background-color:white;"><b>千万大奖：@bonuslevel.WinTenMillionCount</b>次</li>
            }
            @if (bonuslevel.WinHundredMillionCount > 0)
            {
                <li style="background-color:white;"><b>亿元大奖：@bonuslevel.WinHundredMillionCount</b>次</li>
            }
        </ul>
        <div class="standings_caizhong_hostoryzg" style=" line-height:38px;margin-top:10px;" ><span id="prize" class="lb_limage"></span>最近中奖</div>
        <ul class="user_info lf_border" style="background-color:white;">
            @{
            if (bonusList != null)
            {
                foreach (var item in bonusList.List)
                {
                    if (item.GameCode == "JCZQ" || item.GameCode == "JCLQ")
                    {
                            <li style="background-color:white;"><span style="color:#4B74B4;">@SiteConvert.GameName(item.GameCode, item.GameType)</span> @item.IssuseNumber <span
                                                                                                                                                                               class="u_red">@item.BonusMoney.ToString("f")</span> </li> 
            
                    }
                    else
                    {
                            <li style="background-color:white;">@SiteConvert.GameName(item.GameCode, item.GameType) @item.IssuseNumber 期 <span
                                                                                                                                             class="u_red">@item.BonusMoney.ToString("f")</span> </li>        
                    }
                }
            }
            else
            {
                    <li style=" text-align:left;background-color:white;color:#FD3D00;">暂无中奖记录</li>   
            }
                
            }
                  
        </ul>
        <ul class="user_info lf_border" style="color:black;background-color:white; ">
            <li >数据在方案派奖后1-3天更新。</li>
            <li >上次更新： @DateTime.Now.ToString("yyyy-MM-dd") </li>
        </ul>
</div>
    
        <script type="text/javascript">
            $(function () {
                $("#login_gd").live("click", function () {
                    user.isLogin(function (islogin) {
                        if (!islogin) {
                            if (!getVersionbylogin()) {
                                $("#loginLay").addClass("dialogAniCore dialogAnimate5");
                                var timer = setInterval(function () {
                                    if (!$("#loginLay").hasClass("dialogAnimate5")) { $("#loginLay").removeClass("dialogAniCore"); clearInterval(timer); }
                                    $("#loginLay").removeClass("dialogAnimate5");
                                }, 100);
                            }
                            loginDialog.Show();
                            $("#userName").focus();
                        }
                    });
                    return false;
                });
                $(".under").click(function () {
                    var edif = $(this).parent().find(".qxgz_box_c");
                    edif.css("display", "block");
                });
                $(".btn_gray").click(function () {
                    var edif = $(this).parent().parent().parent().find(".qxgz_box_c");
                    edif.css("display", "none");
                });
                $(".index_quxiao").mouseover(function () {
                    var self = ($(this));
                    self.find(".ygz").hide();
                    self.find(".under").show();
                }).mouseout(function () {
                    var self = ($(this));
                    self.find(".ygz").show();
                    self.find(".under").hide();
                });
                $("h2.us_o").click(function () {
                    var self = $(this);
                    self.next("ul.user_info").toggle();
                    self.find(".lb_rimage").toggleClass("data_tj_data");
                });

            });
        </script>
}

