@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "江西11选5前3质和走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西11选5前3质和走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "江西11选5前3质和走势图近" + pageSize + "期,查看更多请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "江西11选5前3质和走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西11选5前3质和走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的江西11选5前三质合走势图, 其中包括前三位开奖号码的质数、合数分布情况和质数、合数比,让彩民朋友更直观的分析江西11选5前三质合走势图.";
    }
    var DataList = ViewBag.DataList as LotteryData.Core.JX11X5_Q3ZH_InfoCollection;
    var a = 0;  
}
@{Html.RenderAction("ThendLink", "lotteryTrend");}
<div id="container">
    <div class="cont_box" style="width: 1003px; overflow-x: scroll;">
        <table width="100%" style="width: 1003px;" cellspacing="1" cellpadding="0" border="0"
            id="chartsTable" class="table_box">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="22">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="85" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td colspan="3" rowspan="2" class="line_r">
                        开奖号码
                    </td>
                    <td class="line_r" colspan="2">
                        第1位
                    </td>
                    <td class="line_r" colspan="2">
                        第2位
                    </td>
                    <td class="line_r" colspan="2">
                        第3位
                    </td>
                    <td colspan="4" class="line_r">
                        质合比
                    </td>
                    <td>
                        全质
                    </td>
                    <td colspan="3">
                        两质一合
                    </td>
                    <td colspan="3">
                        两合一质
                    </td>
                    <td>
                        全合
                    </td>
                </tr>
                <tr id="menuitem" class="tabbg weight">
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td class="line_r">
                        0:3
                    </td>
                    <td>
                        质质质
                    </td>
                    <td>
                        质质合
                    </td>
                    <td>
                        质合质
                    </td>
                    <td>
                        合质质
                    </td>
                    <td>
                        质合合
                    </td>
                    <td>
                        合质合
                    </td>
                    <td>
                        合合质
                    </td>
                    <td>
                        合合合
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="22">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23" class="hot12">
                            @item.WinNumber.Substring(0, 2)
                        </td>
                        <td width="23" class="hot12">
                            @item.WinNumber.Substring(3, 2)
                        </td>
                        <td width="23" class="hot12 line_r">
                            @item.WinNumber.Substring(6, 2)
                        </td>
                        <td  class="@(item.NO1_Z == 0 ? "cbg orange1" : "y101")">
                            @(item.NO1_Z == 0 ? "质" : item.NO1_Z.ToString())
                        </td>
                        <td  class="@(item.NO1_H == 0 ? "cbg orange1 line_r" : "y101 line_r")">
                            @(item.NO1_H == 0 ? "和" : item.NO1_H.ToString())
                        </td>
                        <td  class="@(item.NO2_Z == 0 ? "cbg purple1" : "y101")">
                            @(item.NO2_Z == 0 ? "质" : item.NO2_Z.ToString())
                        </td>
                        <td  class="@(item.NO2_H == 0 ? "cbg purple1 line_r" : "y101 line_r")">
                            @(item.NO2_H == 0 ? "和" : item.NO2_H.ToString())
                        </td>
                        <td  class="@(item.NO3_Z == 0 ? "cbg purple2" : "y101")">
                            @(item.NO3_Z == 0 ? "质" : item.NO3_Z.ToString())
                        </td>
                        <td  class="@(item.NO3_H == 0 ? "cbg purple2 line_r" : "y101 line_r")">
                            @(item.NO3_H == 0 ? "和" : item.NO3_H.ToString())
                        </td>
                        <td class="@(item.Bi3_0 == 0 ? "cbg tbg1" : "y101")">
                            @(item.Bi3_0 == 0 ? "3:0" : item.Bi3_0.ToString())
                        </td>
                        <td class="@(item.Bi2_1 == 0 ? "cbg tbg1" : "y101")">
                            @(item.Bi2_1 == 0 ? "2:1" : item.Bi2_1.ToString())
                        </td>
                        <td class="@(item.Bi1_2 == 0 ? "cbg tbg1" : "y101")">
                            @(item.Bi1_2 == 0 ? "1:2" : item.Bi1_2.ToString())
                        </td>
                        <td class="@(item.Bi0_3 == 0 ? "cbg tbg1 line_r" : "y101 line_r")">
                            @(item.Bi0_3 == 0 ? "0:3" : item.Bi0_3.ToString())
                        </td>
                        <td class="@(item.ZH_ZZZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZZZ == 0 ? "质质质" : item.ZH_ZZZ.ToString())
                        </td>
                        <td class="@(item.ZH_ZZH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZZH == 0 ? "质质和" : item.ZH_ZZH.ToString())
                        </td>
                        <td class="@(item.ZH_ZHZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZHZ == 0 ? "质和质" : item.ZH_ZHZ.ToString())
                        </td>
                        <td class="@(item.ZH_HZZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HZZ == 0 ? "和质质" : item.ZH_HZZ.ToString())
                        </td>
                        <td class="@(item.ZH_ZHH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_ZHH == 0 ? "质和和" : item.ZH_ZHH.ToString())
                        </td>
                        <td class="@(item.ZH_HZH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HZH == 0 ? "和质和" : item.ZH_HZH.ToString())
                        </td>
                        <td class="@(item.ZH_HHZ == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HHZ == 0 ? "和和质" : item.ZH_HHZ.ToString())
                        </td>
                        <td class="@(item.ZH_HHH == 0 ? "cbg big" : "y101")">
                            @(item.ZH_HHH == 0 ? "和和和" : item.ZH_HHH.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="line_r bdtop" colspan="4">
                        出现次数
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NO1_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NO1_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NO2_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NO2_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.NO3_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.NO3_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Bi3_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Bi2_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.Bi1_2 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.Bi0_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_ZZZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_ZZH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_ZHZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_HZZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_ZHH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_HZH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_HHZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZH_HHH == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="4">
                        平均遗漏
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NO1_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NO1_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NO2_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NO2_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.NO3_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.NO3_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Bi3_0) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Bi2_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.Bi1_2) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.Bi0_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_ZZZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_ZZH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_ZHZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_HZZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_ZHH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_HZH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_HHZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZH_HHH) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="4">
                        最大遗漏
                    </td>
                    <td>
                        @(DataList.Max(p => p.NO1_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NO1_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.NO2_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NO2_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.NO3_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.NO3_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Bi3_0))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Bi2_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.Bi1_2))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.Bi0_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_ZZZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_ZZH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_ZHZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_HZZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_ZHH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_HZH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_HHZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZH_HHH))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="4">
                        当前遗漏
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].NO1_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].NO1_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].NO2_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].NO2_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].NO3_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].NO3_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].Bi3_0)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].Bi2_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].Bi1_2)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].Bi0_3)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_ZZZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_ZZH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_ZHZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_HZZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_ZHH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_HZH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_HHZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZH_HHH)
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td class="line_r" rowspan="2">
                        期号
                    </td>
                    <td colspan="3" class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td class="line_r">
                        0:3
                    </td>
                    <td>
                        质质质
                    </td>
                    <td>
                        质质合
                    </td>
                    <td>
                        质合质
                    </td>
                    <td>
                        合质质
                    </td>
                    <td>
                        质合合
                    </td>
                    <td>
                        合质合
                    </td>
                    <td>
                        合合质
                    </td>
                    <td>
                        合合合
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td class="line_r" colspan="2">
                        第1位
                    </td>
                    <td class="line_r" colspan="2">
                        第2位
                    </td>
                    <td class="line_r" colspan="2">
                        第3位
                    </td>
                    <td colspan="4" class="line_r">
                        质合比
                    </td>
                    <td>
                        全质
                    </td>
                    <td colspan="3">
                        两质一合
                    </td>
                    <td colspan="3">
                        两合一质
                    </td>
                    <td>
                        全合
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        var allLines = new Array();
        allLines.push({ line: $(".small"), color: "#CE7B00" });
        allLines.push({ line: $(".big"), color: "#CE7B00" });
        allLines.push({ line: $(".tbg1"), color: "#CE7B00" });

        allLines.push({ line: $(".purple2"), color: "#CE7B00" });
        allLines.push({ line: $(".purple1"), color: "#CE7B00" });
        allLines.push({ line: $(".orange1"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
