@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "重庆快乐十分前三走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆快乐十分前三走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "重庆快乐十分前三走势图近" + pageSize + "期,查看更多重庆快乐十分前三走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "重庆快乐十分前三走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆快乐十分前三走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的重庆快乐十分前三走势图,其中包括前三个开奖号码的大小单双、012路等走势情况,让彩民朋友更直观的分析重庆快乐十分前三走势图.";
    }
    var q3zs = ViewBag.DataList as List<LotteryData.Core.CQKLSF_Q3ZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "q3zs_cqklsf" });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1003px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="30">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td rowspan="2" style="width: 80px;" class="line_r">
                        <strong>期号</strong>
                    </td>
                    <td rowspan="2" colspan="8" class="line_r">
                        开奖号码
                    </td>
                    <td colspan="4" class="line_r">
                        第一位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第一位012路
                    </td>
                    <td colspan="4" class="line_r">
                        第二位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第二位012路
                    </td>
                    <td colspan="4" class="line_r">
                        第三位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第三位012路
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata" style="font-size: 12px; font-family: '宋体',Tahoma,Consolas,Arial,Simsun;">
                @foreach (var item in q3zs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="30">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[0]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[1]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[2]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[3]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[4]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[5]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[6]
                        </td>
                        <td class="hot12 line_r">
                            @item.WinNumber.Split(',')[7]
                        </td>
                        <td class="@(item.DDan == 0 ? "cbg tbg1" : "y101")">
                            @(item.DDan == 0 ? "大单" : item.DDan.ToString())
                        </td>
                        <td class="@(item.DS == 0 ? "cbg tbg1" : "y101")">
                            @(item.DS == 0 ? "大双" : item.DS.ToString())
                        </td>
                        <td class="@(item.XDan == 0 ? "cbg tbg1" : "y101")">
                            @(item.XDan == 0 ? "小单" : item.XDan.ToString())
                        </td>
                        <td class="@(item.XS == 0 ? "cbg tbg1 line_r" : "y101 line_r")">
                            @(item.XS == 0 ? "小双" : item.XS.ToString())
                        </td>
                        <td class="@(item.C3_0 == 0 ? "cbg tbg2" : "y101")">
                            @(item.C3_0 == 0 ? "0" : item.C3_0.ToString())
                        </td>
                        <td class="@(item.C3_1 == 0 ? "cbg tbg2" : "y101")">
                            @(item.C3_1 == 0 ? "1" : item.C3_1.ToString())
                        </td>
                        <td class="@(item.C3_2 == 0 ? "cbg tbg2 line_r" : "y101 line_r")">
                            @(item.C3_2 == 0 ? "2" : item.C3_2.ToString())
                        </td>
                        <td class="@(item.DDan1 == 0 ? "cbg orange1" : "y101")">
                            @(item.DDan1 == 0 ? "大单" : item.DDan1.ToString())
                        </td>
                        <td class="@(item.DS1 == 0 ? "cbg orange1" : "y101")">
                            @(item.DS1 == 0 ? "大双" : item.DS1.ToString())
                        </td>
                        <td class="@(item.XDan1 == 0 ? "cbg orange1" : "y101")">
                            @(item.XDan1 == 0 ? "小单" : item.XDan1.ToString())
                        </td>
                        <td class="@(item.XS1 == 0 ? "cbg orange1 line_r" : "y101 line_r")">
                            @(item.XS1 == 0 ? "小双" : item.XS1.ToString())
                        </td>
                        <td class="@(item.C31_0 == 0 ? "cbg green1" : "y101")">
                            @(item.C31_0 == 0 ? "0" : item.C31_0.ToString())
                        </td>
                        <td class="@(item.C31_1 == 0 ? "cbg green1" : "y101")">
                            @(item.C31_1 == 0 ? "1" : item.C31_1.ToString())
                        </td>
                        <td class="@(item.C31_2 == 0 ? "cbg green1 line_r" : "y101 line_r")">
                            @(item.C31_2 == 0 ? "2" : item.C31_2.ToString())
                        </td>
                        <td class="@(item.DDan2 == 0 ? "cbg purple1" : "y101")">
                            @(item.DDan2 == 0 ? "大单" : item.DDan2.ToString())
                        </td>
                        <td class="@(item.DS2 == 0 ? "cbg purple1" : "y101")">
                            @(item.DS2 == 0 ? "大双" : item.DS2.ToString())
                        </td>
                        <td class="@(item.XDan2 == 0 ? "cbg purple1" : "y101")">
                            @(item.XDan2 == 0 ? "小单" : item.XDan2.ToString())
                        </td>
                        <td class="@(item.XS2 == 0 ? "cbg purple1 line_r" : "y101 line_r")">
                            @(item.XS2 == 0 ? "小双" : item.XS2.ToString())
                        </td>
                        <td class="@(item.C32_0 == 0 ? "cbg purple2" : "y101")">
                            @(item.C32_0 == 0 ? "0" : item.C32_0.ToString())
                        </td>
                        <td class="@(item.C32_1 == 0 ? "cbg purple2" : "y101")">
                            @(item.C32_1 == 0 ? "1" : item.C32_1.ToString())
                        </td>
                        <td class="@(item.C32_2 == 0 ? "cbg purple2 line_r" : "y101 line_r")">
                            @(item.C32_2 == 0 ? "2" : item.C32_2.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.DDan == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.DS == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XDan == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XS == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C3_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C3_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.C3_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.DDan1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.DS1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XDan1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XS1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C31_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C31_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.C31_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.DDan2 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.DS2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XDan2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.XS2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C32_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q3zs.Count(p => p.C32_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q3zs.Count(p => p.C32_2 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DDan) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DS) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.XDan) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.XS) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C3_0) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C3_1) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.C3_2) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DDan1) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DS1) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.XDan1) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.XS1) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C31_0) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C31_1) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.C31_2) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DDan2) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.DS2) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.XDan2) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.XS2) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C32_0) / q3zs.Count)
                    </td>
                    <td class="">
                        @(q3zs.Sum(p => p.C32_1) / q3zs.Count)
                    </td>
                    <td class="line_r">
                        @(q3zs.Sum(p => p.C32_2) / q3zs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(q3zs.Max(p => p.DDan))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.DS))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.XDan))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.XS))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.C3_0))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.C3_1))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.C3_2))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.DDan1))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.DS1))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.XDan1))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.XS1))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.C31_0))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.C31_1))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.C31_2))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.DDan2))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.DS2))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.XDan2))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.XS2))
                    </td>
                    <td class="">
                        @(q3zs.Max(p => p.C32_0))
                    </td>
                    <td>
                        @(q3zs.Max(p => p.C32_1))
                    </td>
                    <td class="line_r">
                        @(q3zs.Max(p => p.C32_2))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DDan)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DS)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].XDan)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].XS)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C3_0)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C3_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C3_1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C3_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].C3_2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C3_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DDan1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DDan1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DS1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DS1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].XDan1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XDan1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].XS1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XS1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C31_0)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C31_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C31_1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C31_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].C31_2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C31_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DDan2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DDan2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].DS2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].DS2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].XDan2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XDan2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].XS2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].XS2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C32_0)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C32_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q3zs[q3zs.Count - 1].C32_1)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C32_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q3zs[q3zs.Count - 1].C32_2)<br>
                        <img width="8px" height="@(q3zs[q3zs.Count - 1].C32_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td rowspan="2" style="width: 80px;" class="line_r">
                        <strong>期号</strong>
                    </td>
                    <td rowspan="2" colspan="8" class="line_r">
                        开奖号码
                    </td>
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                    <td style="width: 32px;">
                        大单
                    </td>
                    <td style="width: 32px;">
                        大双
                    </td>
                    <td style="width: 32px;">
                        小单
                    </td>
                    <td style="width: 32px;" class="line_r">
                        小双
                    </td>
                    <td style="width: 32px;">
                        0路
                    </td>
                    <td style="width: 32px;">
                        1路
                    </td>
                    <td style="width: 32px;" class="line_r">
                        2路
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="4" class="line_r">
                        第一位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第一位012路
                    </td>
                    <td colspan="4" class="line_r">
                        第二位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第二位012路
                    </td>
                    <td colspan="4" class="line_r">
                        第三位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第三位012路
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".tbg1"), color: "#05650E" });
        allLines.push({ line: $(".tbg2"), color: "#FFFF00" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        allLines.push({ line: $(".green1"), color: "#004F00" });
        allLines.push({ line: $(".purple1"), color: "#0000FE" });
        allLines.push({ line: $(".purple2"), color: "#36006F" });
        allLines.push({ line: $(".gray1"), color: "#FF590B" });
        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
