@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "重庆快乐十分同尾走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆快乐十分同尾走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "重庆快乐十分同尾走势图近" + pageSize + "期,查看更多重庆快乐十分同尾走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "重庆快乐十分同尾走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆快乐十分同尾走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的重庆快乐十分同尾走势图,其中包括同尾号走势分布和同尾号组数分布情况,让彩民朋友更直观的分析重庆快乐十分同尾走势图.";
    }
    var twzs = ViewBag.DataList as List<LotteryData.Core.CQKLSF_TWZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "twzs_cqklsf" });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1003px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="24">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td rowspan="2" style="width: 80px;" class="line_r">
                        <strong>期号</strong>
                    </td>
                    <td rowspan="2" width="20%" colspan="8" class="line_r">
                        开奖号码
                    </td>
                    <td colspan="10" class="line_r">
                        同尾号走势
                    </td>
                    <td colspan="5" class="line_r">
                        同尾号组数
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td style="width: 40px;">
                        0
                    </td>
                    <td style="width: 40px;">
                        1
                    </td>
                    <td style="width: 40px;">
                        2
                    </td>
                    <td style="width: 40px;">
                        3
                    </td>
                    <td style="width: 40px;">
                        4
                    </td>
                    <td style="width: 40px;">
                        5
                    </td>
                    <td style="width: 40px;">
                        6
                    </td>
                    <td style="width: 40px;">
                        7
                    </td>
                    <td style="width: 40px;">
                        8
                    </td>
                    <td style="width: 40px;" class="line_r">
                        9
                    </td>
                    <td style="width: 40px;">
                        0
                    </td>
                    <td style="width: 40px;">
                        1
                    </td>
                    <td style="width: 40px;">
                        2
                    </td>
                    <td style="width: 40px;">
                        3
                    </td>
                    <td style="width: 40px;" class="line_r">
                        4
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata" style="font-size: 12px; font-family: '宋体',Tahoma,Consolas,Arial,Simsun;">
                @foreach (var item in twzs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="24">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[0]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[1]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[2]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[3]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[4]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[5]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[6]
                        </td>
                        <td class="hot12 line_r">
                            @item.WinNumber.Split(',')[7]
                        </td>
                        <td class="@(item.TW_0 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_0 == 0 ? "0" : item.TW_0.ToString())
                        </td>
                        <td class="@(item.TW_1 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_1 == 0 ? "1" : item.TW_1.ToString())
                        </td>
                        <td class="@(item.TW_2 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_2 == 0 ? "2" : item.TW_2.ToString())
                        </td>
                        <td class="@(item.TW_3 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_3 == 0 ? "3" : item.TW_3.ToString())
                        </td>
                        <td class="@(item.TW_4 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_4 == 0 ? "4" : item.TW_4.ToString())
                        </td>
                        <td class="@(item.TW_5 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_5 == 0 ? "5" : item.TW_5.ToString())
                        </td>
                        <td class="@(item.TW_6 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_6 == 0 ? "6" : item.TW_6.ToString())
                        </td>
                        <td class="@(item.TW_7 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_7 == 0 ? "1" : item.TW_7.ToString())
                        </td>
                        <td class="@(item.TW_8 == 0 ? "cbg hot03" : "y101")">
                            @(item.TW_8 == 0 ? "1" : item.TW_8.ToString())
                        </td>
                        <td class="@(item.TW_9 == 0 ? "cbg hot03 line_r" : "y101 line_r")">
                            @(item.TW_9 == 0 ? "9" : item.TW_9.ToString())
                        </td>
                        <td class="@(item.GH_0 == 0 ? "cbg hot01" : "y101")">
                            @(item.GH_0 == 0 ? "0" : item.GH_0.ToString())
                        </td>
                        <td class="@(item.GH_1 == 0 ? "cbg hot01" : "y101")">
                            @(item.GH_1 == 0 ? "1" : item.GH_1.ToString())
                        </td>
                        <td class="@(item.GH_2 == 0 ? "cbg hot01" : "y101")">
                            @(item.GH_2 == 0 ? "2" : item.GH_2.ToString())
                        </td>
                        <td class="@(item.GH_3 == 0 ? "cbg hot01" : "y101")">
                            @(item.GH_3 == 0 ? "3" : item.GH_3.ToString())
                        </td>
                        <td class="@(item.GH_4 == 0 ? "cbg hot01 line_r" : "y101 line_r")">
                            @(item.GH_4 == 0 ? "4" : item.GH_4.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.TW_8 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(twzs.Count(p => p.TW_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.GH_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.GH_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.GH_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(twzs.Count(p => p.GH_3 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(twzs.Count(p => p.GH_4 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_0) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_1) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_2) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_3) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_4) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_5) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_6) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_7) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.TW_8) / twzs.Count)
                    </td>
                    <td class="line_r">
                        @(twzs.Sum(p => p.TW_9) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.GH_0) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.GH_1) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.GH_2) / twzs.Count)
                    </td>
                    <td>
                        @(twzs.Sum(p => p.GH_3) / twzs.Count)
                    </td>
                    <td class="line_r">
                        @(twzs.Sum(p => p.GH_4) / twzs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_0))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_1))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_2))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_3))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_4))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_5))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_6))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_7))
                    </td>
                    <td>
                        @(twzs.Max(p => p.TW_8))
                    </td>
                    <td class="line_r">
                        @(twzs.Max(p => p.TW_9))
                    </td>
                    <td>
                        @(twzs.Max(p => p.GH_0))
                    </td>
                    <td>
                        @(twzs.Max(p => p.GH_1))
                    </td>
                    <td>
                        @(twzs.Max(p => p.GH_2))
                    </td>
                    <td>
                        @(twzs.Max(p => p.GH_3))
                    </td>
                    <td class="line_r">
                        @(twzs.Max(p => p.GH_4))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="">
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_0)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_1)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_2)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_3)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_4)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_5)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_6)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_6)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_7)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_7)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].TW_8)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_8)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(twzs[twzs.Count - 1].TW_9)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].TW_9)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].GH_0)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].GH_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].GH_1)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].GH_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].GH_2)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].GH_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(twzs[twzs.Count - 1].GH_3)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].GH_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(twzs[twzs.Count - 1].GH_4)<br>
                        <img width="8px" height="@(twzs[twzs.Count - 1].GH_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td rowspan="2" style="width: 80px;" class="line_r">
                        <strong>期号</strong>
                    </td>
                    <td rowspan="2" width="20%" colspan="8" class="line_r">
                        开奖号码
                    </td>
                    <td style="width: 40px;">
                        0
                    </td>
                    <td style="width: 40px;">
                        1
                    </td>
                    <td style="width: 40px;">
                        2
                    </td>
                    <td style="width: 40px;">
                        3
                    </td>
                    <td style="width: 40px;">
                        4
                    </td>
                    <td style="width: 40px;">
                        5
                    </td>
                    <td style="width: 40px;">
                        6
                    </td>
                    <td style="width: 40px;">
                        7
                    </td>
                    <td style="width: 40px;">
                        8
                    </td>
                    <td style="width: 40px;" class="line_r">
                        9
                    </td>
                    <td style="width: 40px;">
                        0
                    </td>
                    <td style="width: 40px;">
                        1
                    </td>
                    <td style="width: 40px;">
                        2
                    </td>
                    <td style="width: 40px;">
                        3
                    </td>
                    <td style="width: 40px;" class="line_r">
                        4
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="10" class="line_r">
                        同尾号走势
                    </td>
                    <td colspan="5" class="line_r">
                        同尾号组数
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".hot01"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
