@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "山东快乐扑克3基本走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3基本走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3基本走势图近" + pageSize + "期,查看更多山东快乐扑克3基本走势图走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "山东快乐扑克3走势图-山东快乐扑克3基本走势图-山东快乐扑克3开奖走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3走势图,山东快乐扑克3基本走势图,山东快乐扑克3开奖走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3走势图频道为您提供山东快乐扑克3开奖结果走势图,主要包括号码分布、奇数个数、小数个数等分布走势图,方便彩民朋友更直观的分析山东快乐扑克3基本走势图.";
    }
    var DataList = ViewBag.DataList as List<LotteryData.Core.SDKLPK3_HSZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "hszs_sdklpk3" });}
<div id="container">
    <div class="cont_box" style="width: 1003px; overflow-x: scroll;">
        <table width="100%" style="width: 1003px;" cellspacing="1" cellpadding="0" border="0"
            id="chartsTable" class="table_box">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="20">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2" width="50">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td class="line_r" colspan="4">
                        第一位
                    </td>
                    <td class="line_r" colspan="4">
                        第二位
                    </td>
                    <td class="line_r" colspan="4">
                        第三位
                    </td>
                    <td class="line_r" colspan="3">
                        号码形态
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        同花
                    </td>
                    <td width="23">
                        同花顺
                    </td>
                    <td width="23" class="line_r">
                        顺子
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    var winArray = item.WinNumber.Split(',');
                    var shuList = new List<int>();
                    foreach (var n in winArray)
                    {
                        shuList.Add(int.Parse(n.Substring(1)));
                    }
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="20">
                        </td>
                    </tr>
                    }
                    
                    <tr>
                        <td class="line_r">
                            @a
                        </td>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[0]))
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[1]))
                        </td>
                        <td width="23" class="line_r">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[2]))
                        </td>
                        <td class="@(item.D1_1 == 0 ? "cbg d1" : "y101")">
                            @(item.D1_1 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♠</em>") : Html.Raw(item.D1_1.ToString()))
                        </td>
                        <td class="@(item.D1_2 == 0 ? "cbg d1" : "y101")">
                            @(item.D1_2 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♥</em>") : Html.Raw(item.D1_2.ToString()))
                        </td>
                        <td class="@(item.D1_3 == 0 ? "cbg d1" : "y101")">
                            @(item.D1_3 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♣</em>") : Html.Raw(item.D1_3.ToString()))
                        </td>
                        <td class="@(item.D1_4 == 0 ? "cbg d1 line_r" : "y101 line_r")">
                            @(item.D1_4 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♦</em>") : Html.Raw(item.D1_4.ToString()))
                        </td>
                        <td  class="@(item.D2_1 == 0 ? "cbg d2" : "y101")">
                            @(item.D2_1 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♠</em>") : Html.Raw(item.D2_1.ToString()))
                        </td>
                        <td  class="@(item.D2_2 == 0 ? "cbg d2" : "y101")">
                            @(item.D2_2 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♥</em>") : Html.Raw(item.D2_2.ToString()))
                        </td>
                        <td  class="@(item.D2_3 == 0 ? "cbg d2" : "y101")">
                            @(item.D2_3 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♣</em>") : Html.Raw(item.D2_3.ToString()))
                        </td>
                        <td class="@(item.D2_4 == 0 ? "cbg d2 line_r" : "y101 line_r")">
                            @(item.D2_4 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♦</em>") : Html.Raw(item.D2_4.ToString()))
                        </td>
                        <td  class="@(item.D3_1 == 0 ? "cbg d3" : "y101")">
                            @(item.D3_1 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♠</em>") : Html.Raw(item.D3_1.ToString()))
                        </td>
                        <td  class="@(item.D3_2 == 0 ? "cbg d3" : "y101")">
                            @(item.D3_2 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♥</em>") : Html.Raw(item.D3_2.ToString()))
                        </td>
                        <td  class="@(item.D3_3 == 0 ? "cbg d3" : "y101")">
                            @(item.D3_3 == 0 ? Html.Raw("<em style='font-size:25px;color:black;'>♣</em>") : Html.Raw(item.D3_3.ToString()))
                        </td>
                        <td class="@(item.D3_4 == 0 ? "cbg d3 line_r" : "y101 line_r")">
                            @(item.D3_4 == 0 ? Html.Raw("<em style='font-size:25px;color:red;'>♦</em>") : Html.Raw(item.D3_4.ToString()))
                        </td>
                        <td class="@(item.TH == 0 ? "cbg big" : "y101")">
                            @(item.TH == 0 ? "同花" : item.TH.ToString())
                        </td>
                        <td class="@(item.THS == 0 ? "cbg big" : "y101")">
                            @(item.THS == 0 ? "同花顺" : item.THS.ToString())
                        </td>
                        <td class="@(item.SZ == 0 ? "cbg big line_r" : "y101 line_r")">
                            @(item.SZ == 0 ? "顺子" : item.SZ.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="calculate">
                <tr>
                    <td align="center" class="bdtop line_r" colspan="2">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="line_r bdtop">
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_3 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D1_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_3 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D2_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_3 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D3_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.TH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.THS == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.SZ == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_3) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D1_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_3) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D2_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_3) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D3_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.TH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.THS) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.SZ) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_3))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D1_4))
                    </td>

                    <td>
                        @(DataList.Max(p => p.D2_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_3))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D2_4))
                    </td>

                    <td>
                        @(DataList.Max(p => p.D3_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_3))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D3_4))
                    </td>
                     <td>
                        @(DataList.Max(p => p.TH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.THS))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.SZ))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_3)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D1_4)
                    </td>

                    
                    <td>
                        @(DataList[DataList.Count - 1].D2_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_3)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D2_4)
                    </td>

                    
                    <td>
                        @(DataList[DataList.Count - 1].D3_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_3)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D3_4)
                    </td>

                     <td>
                        @(DataList[DataList.Count - 1].TH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].THS)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].SZ)
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♠</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: red;">♥</em>
                    </td>
                    <td width="23">
                        <em style="font-size: 25px; color: black;">♣</em>
                    </td>
                    <td width="23" class="line_r">
                        <em style="font-size: 25px; color: red;">♦</em>
                    </td>
                    <td width="23">
                        同花
                    </td>
                    <td width="23">
                        同花顺
                    </td>
                    <td width="23" class="line_r">
                        顺子
                    </td>
                </tr>
                <tr class="tabbg">
                    <td class="line_r" colspan="4">
                        第一位
                    </td>
                    <td class="line_r" colspan="4">
                        第二位
                    </td>
                    <td class="line_r" colspan="4">
                        第三位
                    </td>
                    <td class="line_r" colspan="3">
                        号码形态
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".d1"), color: "#CE7B00" });
        allLines.push({ line: $(".d2"), color: "#CE7B00" });
        allLines.push({ line: $(".d3"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
