@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "山东快乐扑克3基本走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3基本走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3基本走势图近" + pageSize + "期,查看更多山东快乐扑克3基本走势图走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "山东快乐扑克3走势图-山东快乐扑克3基本走势图-山东快乐扑克3开奖走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3走势图,山东快乐扑克3基本走势图,山东快乐扑克3开奖走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3走势图频道为您提供山东快乐扑克3开奖结果走势图,主要包括号码分布、奇数个数、小数个数等分布走势图,方便彩民朋友更直观的分析山东快乐扑克3基本走势图.";
    }
    var DataList = ViewBag.DataList as List<LotteryData.Core.SDKLPK3_JBZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "jbzs_sdklpk3" });}
<div id="container">
    <div class="cont_box" style="width: 1003px; overflow-x: scroll;">
        <table width="100%" style="width: 1003px;" cellspacing="1" cellpadding="0" border="0"
            id="chartsTable" class="table_box">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="44">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2" width="50">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td class="line_r" colspan="13">
                        第一位
                    </td>
                    <td class="line_r" colspan="13">
                        第二位
                    </td>
                    <td class="line_r" colspan="13">
                        第三位
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    var winArray = item.WinNumber.Split(',');
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="44">
                        </td>
                    </tr>
                    }
                    
                    <tr>
                        <td class="line_r">
                            @a
                        </td>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[0]))
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[1]))
                        </td>
                        <td width="23" class="line_r">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[2]))
                        </td>
                        <td class="@(item.D1_1 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_1 == 0 ? "A" : item.D1_1.ToString())
                        </td>
                        <td class="@(item.D1_2 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_2 == 0 ? "2" : item.D1_2.ToString())
                        </td>
                        <td class="@(item.D1_3 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_3 == 0 ? "3" : item.D1_3.ToString())
                        </td>
                        <td class="@(item.D1_4 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_4 == 0 ? "4" : item.D1_4.ToString())
                        </td>
                        <td class="@(item.D1_5 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_5 == 0 ? "5" : item.D1_5.ToString())
                        </td>
                        <td class="@(item.D1_6 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_6 == 0 ? "6" : item.D1_6.ToString())
                        </td>
                        <td class="@(item.D1_7 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_7 == 0 ? "7" : item.D1_7.ToString())
                        </td>
                        <td class="@(item.D1_8 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_8 == 0 ? "8" : item.D1_8.ToString())
                        </td>
                        <td class="@(item.D1_9 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_9 == 0 ? "9" : item.D1_9.ToString())
                        </td>
                        <td class="@(item.D1_10 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_10 == 0 ? "10" : item.D1_10.ToString())
                        </td>
                        <td class="@(item.D1_11 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_11 == 0 ? "J" : item.D1_11.ToString())
                        </td>
                        <td class="@(item.D1_12 == 0 ? "cbg hot01 d1" : "y101")">
                            @(item.D1_12 == 0 ? "Q" : item.D1_12.ToString())
                        </td>
                        <td class="@(item.D1_13 == 0 ? "cbg hot01 line_r d1" : "y101 line_r")">
                            @(item.D1_13 == 0 ? "K" : item.D1_13.ToString())
                        </td>
                        <td class="@(item.D2_1 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_1 == 0 ? "A" : item.D2_1.ToString())
                        </td>
                        <td class="@(item.D2_2 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_2 == 0 ? "2" : item.D2_2.ToString())
                        </td>
                        <td class="@(item.D2_3 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_3 == 0 ? "3" : item.D2_3.ToString())
                        </td>
                        <td class="@(item.D2_4 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_4 == 0 ? "4" : item.D2_4.ToString())
                        </td>
                        <td class="@(item.D2_5 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_5 == 0 ? "5" : item.D2_5.ToString())
                        </td>
                        <td class="@(item.D2_6 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_6 == 0 ? "6" : item.D2_6.ToString())
                        </td>
                        <td class="@(item.D2_7 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_7 == 0 ? "7" : item.D2_7.ToString())
                        </td>
                        <td class="@(item.D2_8 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_8 == 0 ? "8" : item.D2_8.ToString())
                        </td>
                        <td class="@(item.D2_9 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_9 == 0 ? "9" : item.D2_9.ToString())
                        </td>
                        <td class="@(item.D2_10 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_10 == 0 ? "10" : item.D2_10.ToString())
                        </td>
                        <td class="@(item.D2_11 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_11 == 0 ? "J" : item.D2_11.ToString())
                        </td>
                        <td class="@(item.D2_12 == 0 ? "cbg hot01 d2" : "y101")">
                            @(item.D2_12 == 0 ? "Q" : item.D2_12.ToString())
                        </td>
                        <td class="@(item.D2_13 == 0 ? "cbg hot01 d2 line_r" : "y101 line_r")">
                            @(item.D2_13 == 0 ? "K" : item.D2_13.ToString())
                        </td>
                        <td class="@(item.D3_1 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_1 == 0 ? "A" : item.D3_1.ToString())
                        </td>
                        <td class="@(item.D3_2 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_2 == 0 ? "2" : item.D3_2.ToString())
                        </td>
                        <td class="@(item.D3_3 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_3 == 0 ? "3" : item.D3_3.ToString())
                        </td>
                        <td class="@(item.D3_4 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_4 == 0 ? "4" : item.D3_4.ToString())
                        </td>
                        <td class="@(item.D3_5 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_5 == 0 ? "5" : item.D3_5.ToString())
                        </td>
                        <td class="@(item.D3_6 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_6 == 0 ? "6" : item.D3_6.ToString())
                        </td>
                        <td class="@(item.D3_7 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_7 == 0 ? "7" : item.D3_7.ToString())
                        </td>
                        <td class="@(item.D2_8 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_8 == 0 ? "8" : item.D3_8.ToString())
                        </td>
                        <td class="@(item.D3_9 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_9 == 0 ? "9" : item.D3_9.ToString())
                        </td>
                        <td class="@(item.D3_10 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_10 == 0 ? "10" : item.D3_10.ToString())
                        </td>
                        <td class="@(item.D3_11 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_11 == 0 ? "J" : item.D3_11.ToString())
                        </td>
                        <td class="@(item.D3_12 == 0 ? "cbg hot01 d3" : "y101")">
                            @(item.D3_12 == 0 ? "Q" : item.D3_12.ToString())
                        </td>
                        <td class="@(item.D3_13 == 0 ? "cbg hot01  d3 line_r" : "y101 line_r")">
                            @(item.D3_13 == 0 ? "K" : item.D3_13.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="calculate">
                <tr>
                    <td align="center" class="bdtop line_r" colspan="2">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="line_r bdtop">
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_8 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D1_13 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_8 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D2_13 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_8 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D3_13 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_5) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_6) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_7) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_8) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_9) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_10) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_11) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_12) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D1_13) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_5) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_6) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_7) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_8) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_9) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_10) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_11) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_12) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D2_13) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_5) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_6) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_7) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_8) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_9) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_10) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_11) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_12) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D3_13) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_4))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_5))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_6))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_7))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_8))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_9))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_10))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_11))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_12))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D1_13))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_4))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_5))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_6))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_7))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_8))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_9))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_10))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_11))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_12))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D2_13))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_4))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_5))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_6))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_7))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_8))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_9))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_10))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_11))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_12))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D3_13))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_3)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_4)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_5)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_6)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_7)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_8)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_9)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_10)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_11)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_12)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D1_13)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_3)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_4)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_5)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_6)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_7)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_8)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_9)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_10)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_11)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_12)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D2_13)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_1)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_2)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_3)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_4)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_5)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_6)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_7)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_8)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_9)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_10)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_11)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_12)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D3_13)
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                    <td width="23">
                        A
                    </td>
                    <td width="23">
                        2
                    </td>
                    <td width="23">
                        3
                    </td>
                    <td width="23">
                        4
                    </td>
                    <td width="23">
                        5
                    </td>
                    <td width="23">
                        6
                    </td>
                    <td width="23">
                        7
                    </td>
                    <td width="23">
                        8
                    </td>
                    <td width="23">
                        9
                    </td>
                    <td width="23">
                        10
                    </td>
                    <td width="23">
                        J
                    </td>
                    <td width="23">
                        Q
                    </td>
                    <td width="23" class="line_r">
                        K
                    </td>
                </tr>
                <tr class="tabbg">
                    <td class="line_r" colspan="13">
                        第一位
                    </td>
                    <td class="line_r" colspan="13">
                        第二位
                    </td>
                    <td class="line_r" colspan="13">
                        第三位
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".d1"), color: "#CE7B00" });
        allLines.push({ line: $(".d2"), color: "#CE7B00" });
        allLines.push({ line: $(".d3"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
