@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "山东快乐扑克3基本走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3基本走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3基本走势图近" + pageSize + "期,查看更多山东快乐扑克3基本走势图走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "山东快乐扑克3走势图-山东快乐扑克3基本走势图-山东快乐扑克3开奖走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东快乐扑克3走势图,山东快乐扑克3基本走势图,山东快乐扑克3开奖走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东快乐扑克3走势图频道为您提供山东快乐扑克3开奖结果走势图,主要包括号码分布、奇数个数、小数个数等分布走势图,方便彩民朋友更直观的分析山东快乐扑克3基本走势图.";
    }
    var DataList = ViewBag.DataList as List<LotteryData.Core.SDKLPK3_ZHZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "zhzs_sdklpk3" });}
<div id="container">
    <div class="cont_box" style="width: 1003px; overflow-x: scroll;">
        <table width="100%" style="width: 1003px;" cellspacing="1" cellpadding="0" border="0"
            id="chartsTable" class="table_box">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="23">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2" width="10%">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td class="line_r" colspan="2">
                        第一位
                    </td>
                    <td class="line_r" colspan="2">
                        第二位
                    </td>
                    <td class="line_r" colspan="2">
                        第三位
                    </td>
                    <td class="line_r" colspan="4">
                        质合比
                    </td>
                    <td class="line_r">
                        全质
                    </td>
                    <td class="line_r" colspan="3">
                        两质一合
                    </td>
                    <td class="line_r" colspan="3">
                        两合一质
                    </td>
                    <td class="line_r">
                        全合
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        3:0
                    </td>
                    <td width="23">
                        2:1
                    </td>
                    <td width="23">
                        1:2
                    </td>
                    <td width="23" class="line_r">
                        0:3
                    </td>
                    <td width="23" class="line_r">
                        质质质
                    </td>
                    <td width="23">
                        质质合
                    </td>
                    <td width="23">
                        质合质
                    </td>
                    <td width="23" class="line_r">
                        合质质
                    </td>
                    <td width="23">
                        质合合
                    </td>
                    <td width="23">
                        合质合
                    </td>
                    <td width="23" class="line_r">
                        合合质
                    </td>
                    <td width="23" class="line_r">
                        合合合
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    var winArray = item.WinNumber.Split(',');
                    var shuList = new List<int>();
                    foreach (var n in winArray)
                    {
                        shuList.Add(int.Parse(n.Substring(1)));
                    }
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="23">
                        </td>
                    </tr>
                    }
                    
                    <tr>
                        <td class="line_r">
                            @a
                        </td>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[0]))
                        </td>
                        <td width="23">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[1]))
                        </td>
                        <td width="23" class="line_r">
                            @Html.Raw(SiteString.SDKLPK3WinNumber(winArray[2]))
                        </td>
                        <td class="@(item.D1_Z == 0 ? "cbg big d1" : "y101")">
                            @(item.D1_Z == 0 ? "质" : item.D1_Z.ToString())
                        </td>
                        <td class="@(item.D1_H == 0 ? "cbg tbg1 d1 line_r" : "y101 line_r")">
                            @(item.D1_H == 0 ? "合" : item.D1_H.ToString())
                        </td>
                        <td class="@(item.D2_Z == 0 ? "cbg big d2" : "y101")">
                            @(item.D2_Z == 0 ? "质" : item.D2_Z.ToString())
                        </td>
                        <td class="@(item.D2_H == 0 ? "cbg tbg1 d2 line_r" : "y101 line_r")">
                            @(item.D2_H == 0 ? "合" : item.D2_H.ToString())
                        </td>
                        <td class="@(item.D3_Z == 0 ? "cbg big d3" : "y101")">
                            @(item.D3_Z == 0 ? "质" : item.D3_Z.ToString())
                        </td>
                        <td class="@(item.D3_H == 0 ? "cbg tbg1 d3 line_r" : "y101 line_r")">
                            @(item.D3_H == 0 ? "合" : item.D3_H.ToString())
                        </td>
                        <td class="@(item.ZHB_30 == 0 ? "cbg tbg1 dxb" : "y101")">
                            @(item.ZHB_30 == 0 ? "3:0" : item.ZHB_30.ToString())
                        </td>
                        <td class="@(item.ZHB_21 == 0 ? "cbg tbg1 dxb" : "y101")">
                            @(item.ZHB_21 == 0 ? "2:1" : item.ZHB_21.ToString())
                        </td>
                        <td class="@(item.ZHB_12 == 0 ? "cbg tbg1 dxb" : "y101")">
                            @(item.ZHB_12 == 0 ? "1:2" : item.ZHB_12.ToString())
                        </td>
                        <td class="@(item.ZHB_03 == 0 ? "cbg tbg1 dxb line_r" : "y101 line_r")">
                            @(item.ZHB_03 == 0 ? "0:3" : item.ZHB_03.ToString())
                        </td>
                        <td class="@(item.ZZZ == 0 ? "cbg big dxs line_r" : "y101 line_r")">
                            @(item.ZZZ == 0 ? "质质质" : item.ZZZ.ToString())
                        </td>
                        <td class="@(item.ZZH == 0 ? "cbg big dxs" : "y101")">
                            @(item.ZZH == 0 ? "质质合" : item.ZZH.ToString())
                        </td>
                        <td class="@(item.ZHZ == 0 ? "cbg big dxs" : "y101")">
                            @(item.ZHZ == 0 ? "质合质" : item.ZHZ.ToString())
                        </td>
                        <td class="@(item.HZZ == 0 ? "cbg big dxs line_r" : "y101 line_r")">
                            @(item.HZZ == 0 ? "合质质" : item.HZZ.ToString())
                        </td>
                        <td class="@(item.ZHH == 0 ? "cbg big dxs" : "y101")">
                            @(item.ZHH == 0 ? "质合合" : item.ZHH.ToString())
                        </td>
                        <td class="@(item.HZH == 0 ? "cbg big dxs" : "y101")">
                            @(item.HZH == 0 ? "合质合" : item.HZH.ToString())
                        </td>
                        <td class="@(item.HHZ == 0 ? "cbg big dxs line_r" : "y101 line_r")">
                            @(item.HHZ == 0 ? "合合质" : item.HHZ.ToString())
                        </td>
                        <td class="@(item.HHH == 0 ? "cbg big dxs line_r" : "y101 line_r")">
                            @(item.HHH == 0 ? "合合合" : item.HHH.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="calculate">
                <tr>
                    <td align="center" class="bdtop line_r" colspan="2">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="line_r bdtop">
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D1_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D1_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D2_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D2_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.D3_Z == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.D3_H == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZHB_30 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZHB_21 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZHB_12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.ZHB_03 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.ZZZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZZH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZHZ == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.HZZ == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.ZHH == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZH == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.HHZ == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.HHH == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D1_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D1_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D2_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D2_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.D3_Z) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.D3_H) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZHB_30) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZHB_21) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZHB_12) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.ZHB_03) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.ZZZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZZH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZHZ) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.HZZ) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.ZHH) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZH) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.HHZ) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.HHH) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Max(p => p.D1_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D1_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D2_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D2_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.D3_Z))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.D3_H))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZHB_30))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZHB_21))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZHB_12))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.ZHB_03))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.ZZZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZZH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZHZ))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.HZZ))
                    </td>
                    <td>
                        @(DataList.Max(p => p.ZHH))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZH))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.HHZ))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.HHH))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D1_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D1_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D2_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D2_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].D3_Z)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].D3_H)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZHB_30)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZHB_21)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZHB_12)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].ZHB_03)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].ZZZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZZH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZHZ)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].HZZ)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].ZHH)
                    </td>
                    <td>
                        @(DataList[DataList.Count - 1].HZH)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].HHZ)
                    </td>
                    <td class="line_r">
                        @(DataList[DataList.Count - 1].HHH)
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg">
                    <td width="29" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        质
                    </td>
                    <td width="23" class="line_r">
                        合
                    </td>
                    <td width="23">
                        3:0
                    </td>
                    <td width="23">
                        2:1
                    </td>
                    <td width="23">
                        1:2
                    </td>
                    <td width="23" class="line_r">
                        0:3
                    </td>
                    <td width="23" class="line_r">
                        质质质
                    </td>
                    <td width="23">
                        质质合
                    </td>
                    <td width="23">
                        质合质
                    </td>
                    <td width="23" class="line_r">
                        合质质
                    </td>
                    <td width="23">
                        质合合
                    </td>
                    <td width="23">
                        合质合
                    </td>
                    <td width="23" class="line_r">
                        合合质
                    </td>
                    <td width="23" class="line_r">
                        合合合
                    </td>
                </tr>
                <tr class="tabbg">
                    <td class="line_r" colspan="2">
                        第一位
                    </td>
                    <td class="line_r" colspan="2">
                        第二位
                    </td>
                    <td class="line_r" colspan="2">
                        第三位
                    </td>
                    <td class="line_r" colspan="4">
                        质合比
                    </td>
                    <td class="line_r">
                        全质
                    </td>
                    <td class="line_r" colspan="3">
                        两质一合
                    </td>
                    <td class="line_r" colspan="3">
                        两合一质
                    </td>
                    <td class="line_r">
                        全合
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".d1"), color: "#CE7B00" });
        allLines.push({ line: $(".d2"), color: "#CE7B00" });
        allLines.push({ line: $(".d3"), color: "#CE7B00" });
        allLines.push({ line: $(".dxb"), color: "#CE7B00" });
        allLines.push({ line: $(".dxs"), color: "#CE7B00" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
