<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="baidu-site-verification" content="G3yjx3dBmE" />
    <meta property="qc:admins" content="34400747776311226375" />
    <meta name="360-site-verification" content="5fc59d0c2b686ee3ea83e35da560e3de" />
    @UserHelper.css("main.min.css")
    @UserHelper.css("artists.css")
    @RenderSection("css", false)
    @UserHelper.js_share("share.min.js")
    @UserHelper.js("global.min.js")
    @UserHelper.js("user.min.js")
    @UserHelper.js("superslide.js")
    @UserHelper.js("arits.min.js")
@*    @UserHelper.js("arits.js")
    @UserHelper.js("rehover.js")*@
    @UserHelper.js("nav.js")
    @ViewHelpers.js("onlinePhone.js")
    @RenderSection("js", false)

</head>
<body>
    <script type="text/javascript">
        var ires = "@ViewHelpers.res()/images/";
        var dres = "@ViewHelpers.jsonres()/matchdata/";
       
    </script>
    <div class="header">
        @{Html.RenderPartial("../artists/header");}
    </div>
    <div class="wrap">
        @RenderBody()
    </div>
    <div class="clearfix">
    </div>
    <div class="footer">
        @{Html.RenderPartial("../home/footerBottom");}
    </div>
    @{Html.RenderPartial("tj", "Shared");}
    @{Html.RenderPartial("box_login");}
     @{Html.RenderPartial("box_alert");}
</body>
</html>
