@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "江西时时彩三星奇偶走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西时时彩三星奇偶走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "江西时时彩三星奇偶走势图近" + pageSize + "期,查看更多江西时时彩三星奇偶走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "江西时时彩三星奇偶走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西时时彩三星奇偶走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的江西时时彩三星奇偶走势图, 其中包括前三位开奖号码奇偶分布和奇偶比例以及奇偶类型,让彩民朋友更直观的分析江西时时彩三星奇偶走势图.";
    }
    var s3jozs = ViewBag.DataList as LotteryData.Core.JXSSC_3X_JOZS_InfoCollection;
    var a = 0;  
}
@{Html.RenderAction("ThendLink", "lotteryTrend");}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1009px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="23">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="85" class="line_r" rowspan="2">
                        日期
                    </td>
                    <td width="85" class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="3">
                        开奖号码
                    </td>
                    <td colspan="2" class="line_r">
                        第1位
                    </td>
                    <td colspan="2" class="line_r">
                        第2位
                    </td>
                    <td colspan="2" class="line_r">
                        第3位
                    </td>
                    <td class="line_r" colspan="4">
                        奇偶比
                    </td>
                    <td>
                        全奇
                    </td>
                    <td colspan="3">
                        两奇一偶
                    </td>
                    <td colspan="3">
                        两偶一奇
                    </td>
                    <td>
                        全偶
                    </td>
                </tr>
                <tr class="tabbg weight" id="menuitem">
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td class="line_r">
                        0:3
                    </td>
                    <td>
                        奇奇奇
                    </td>
                    <td>
                        奇奇偶
                    </td>
                    <td>
                        奇偶奇
                    </td>
                    <td>
                        偶奇奇
                    </td>
                    <td>
                        奇偶偶
                    </td>
                    <td>
                        偶奇偶
                    </td>
                    <td>
                        偶偶奇
                    </td>
                    <td>
                        偶偶偶
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in s3jozs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="23">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="line_r">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                        </td>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall1
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall2
                        </td>
                        <td width="23" class="hot12 line_r">
                            @item.RedBall3
                        </td>
                        <td class="@(item.J_Red1 == 0 ? "cbg tbg1" : "y101")">
                            @(item.J_Red1 == 0 ? "奇" : item.J_Red1.ToString())
                        </td>
                        <td class="@(item.O_Red1 == 0 ? "cbg tbg1 line_r" : "y101 line_r")">
                            @(item.O_Red1 == 0 ? "偶" : item.O_Red1.ToString())
                        </td>
                        <td class="@(item.J_Red2 == 0 ? "cbg green1" : "y101")">
                            @(item.J_Red2 == 0 ? "奇" : item.J_Red2.ToString())
                        </td>
                        <td class="@(item.O_Red2 == 0 ? "cbg green1 line_r" : "y101 line_r")">
                            @(item.O_Red2 == 0 ? "偶" : item.O_Red2.ToString())
                        </td>
                        <td class="@(item.J_Red3 == 0 ? "cbg purple2" : "y101")">
                            @(item.J_Red3 == 0 ? "奇" : item.J_Red3.ToString())
                        </td>
                        <td class="@(item.O_Red3 == 0 ? "cbg purple2 line_r" : "y101 line_r")">
                            @(item.O_Red3 == 0 ? "偶" : item.O_Red3.ToString())
                        </td>
                        <td class="@(item.O_JO_Proportion30 == 0 ? "cbg big" : "y101")">
                            @(item.O_JO_Proportion30 == 0 ? item.JO_Proportion : item.O_JO_Proportion30.ToString())
                        </td>
                        <td class="@(item.O_JO_Proportion21 == 0 ? "cbg big" : "y101")">
                            @(item.O_JO_Proportion21 == 0 ? item.JO_Proportion : item.O_JO_Proportion21.ToString())
                        </td>
                        <td class="@(item.O_JO_Proportion12 == 0 ? "cbg big" : "y101")">
                            @(item.O_JO_Proportion12 == 0 ? item.JO_Proportion : item.O_JO_Proportion12.ToString())
                        </td>
                        <td class="@(item.O_JO_Proportion03 == 0 ? "cbg big line_r" : "y101 line_r")">
                            @(item.O_JO_Proportion03 == 0 ? item.JO_Proportion : item.O_JO_Proportion03.ToString())
                        </td>
                        <td class="@(item.JO_Q_J == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_Q_J == 0 ? "奇奇奇" : item.JO_Q_J.ToString())
                        </td>
                        <td class="@(item.JO_JJO == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_JJO == 0 ? "奇奇偶" : item.JO_JJO.ToString())
                        </td>
                        <td class="@(item.JO_JOJ == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_JOJ == 0 ? "奇偶奇" : item.JO_JOJ.ToString())
                        </td>
                        <td class="@(item.JO_OJJ == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_OJJ == 0 ? "偶奇奇" : item.JO_OJJ.ToString())
                        </td>
                        <td class="@(item.JO_JOO == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_JOO == 0 ? "奇偶偶" : item.JO_JOO.ToString())
                        </td>
                        <td class="@(item.JO_OJO == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_OJO == 0 ? "偶奇偶" : item.JO_OJO.ToString())
                        </td>
                        <td class="@(item.JO_OOJ == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_OOJ == 0 ? "偶偶奇" : item.JO_OOJ.ToString())
                        </td>
                        <td class="@(item.JO_Q_O == 0 ? "cbg gray1" : "y101")">
                            @(item.JO_Q_O == 0 ? "偶偶偶" : item.JO_Q_O.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.J_Red1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s3jozs.Count(p => p.O_Red1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.J_Red2 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s3jozs.Count(p => p.O_Red2 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.J_Red3 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s3jozs.Count(p => p.O_Red3 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.O_JO_Proportion30 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.O_JO_Proportion21 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.O_JO_Proportion12 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s3jozs.Count(p => p.O_JO_Proportion03 == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_Q_J == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_JJO == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_JOJ == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_OJJ == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_JOO == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_OJO == 0))
                    </td>
                    <td class="bdtop">
                        @(s3jozs.Count(p => p.JO_OOJ == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s3jozs.Count(p => p.JO_Q_O == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.J_Red1) / s3jozs.Count)
                    </td>
                    <td class="line_r">
                        @(s3jozs.Sum(p => p.O_Red1) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.J_Red2) / s3jozs.Count)
                    </td>
                    <td class="line_r">
                        @(s3jozs.Sum(p => p.O_Red2) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.J_Red3) / s3jozs.Count)
                    </td>
                    <td class="line_r">
                        @(s3jozs.Sum(p => p.O_Red3) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.O_JO_Proportion30) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.O_JO_Proportion21) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.O_JO_Proportion12) / s3jozs.Count)
                    </td>
                    <td class="line_r">
                        @(s3jozs.Sum(p => p.O_JO_Proportion03) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_Q_J) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_JJO) / s3jozs.Count)
                    </td>
                    <td class="">
                        @(s3jozs.Sum(p => p.JO_JOJ) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_OJJ) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_JOO) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_OJO) / s3jozs.Count)
                    </td>
                    <td>
                        @(s3jozs.Sum(p => p.JO_OJJ) / s3jozs.Count)
                    </td>
                    <td class="line_r">
                        @(s3jozs.Sum(p => p.JO_Q_O) / s3jozs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.J_Red1))
                    </td>
                    <td class="line_r">
                        @(s3jozs.Max(p => p.O_Red1))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.J_Red2))
                    </td>
                    <td class="line_r">
                        @(s3jozs.Max(p => p.O_Red2))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.J_Red3))
                    </td>
                    <td class="line_r">
                        @(s3jozs.Max(p => p.O_Red3))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.O_JO_Proportion30))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.O_JO_Proportion21))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.O_JO_Proportion12))
                    </td>
                    <td class="line_r">
                        @(s3jozs.Max(p => p.O_JO_Proportion03))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_Q_J))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_JJO))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_JOJ))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_OJJ))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_JOO))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_OJO))
                    </td>
                    <td>
                        @(s3jozs.Max(p => p.JO_OOJ))
                    </td>
                    <td class="line_r">
                        @(s3jozs.Max(p => p.JO_Q_O))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].J_Red1)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].J_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s3jozs[s3jozs.Count - 1].O_Red1)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].J_Red2)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].J_Red2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s3jozs[s3jozs.Count - 1].O_Red2)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_Red2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].J_Red3)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].J_Red3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s3jozs[s3jozs.Count - 1].O_Red3)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_Red3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].O_JO_Proportion30)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_JO_Proportion30)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].O_JO_Proportion21)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_JO_Proportion21)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].O_JO_Proportion12)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_JO_Proportion12)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s3jozs[s3jozs.Count - 1].O_JO_Proportion03)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].O_JO_Proportion03)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_Q_J)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_Q_J)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_JJO)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_JJO)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_JOJ)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_JOJ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_OJJ)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_OJJ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_JOO)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_JOO)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_OJO)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_OJO)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s3jozs[s3jozs.Count - 1].JO_OOJ)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_OOJ)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s3jozs[s3jozs.Count - 1].JO_Q_O)<br>
                        <img width="8px" height="@(s3jozs[s3jozs.Count - 1].JO_Q_O)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td rowspan="2" class="line_r">
                        日期
                    </td>
                    <td rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" class="line_r" colspan="3">
                        开奖号码
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td class="line_r">
                        0:3
                    </td>
                    <td>
                        奇奇奇
                    </td>
                    <td>
                        奇奇偶
                    </td>
                    <td>
                        奇偶奇
                    </td>
                    <td>
                        偶奇奇
                    </td>
                    <td>
                        奇偶偶
                    </td>
                    <td>
                        偶奇偶
                    </td>
                    <td>
                        偶偶奇
                    </td>
                    <td>
                        偶偶偶
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="2" class="line_r">
                        第1位
                    </td>
                    <td colspan="2" class="line_r">
                        第2位
                    </td>
                    <td colspan="2" class="line_r">
                        第3位
                    </td>
                    <td class="line_r" colspan="4">
                        奇偶比
                    </td>
                    <td>
                        全奇
                    </td>
                    <td colspan="3">
                        两奇一偶
                    </td>
                    <td colspan="3">
                        两偶一奇
                    </td>
                    <td>
                        全偶
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {

            var allLines = new Array();
            allLines.push({ line: $(".big"), color: "red" });
            allLines.push({ line: $(".gray1"), color: "#FF590B" });
            allLines.push({ line: $(".tbg1"), color: "#05650E" });
            allLines.push({ line: $(".green1"), color: "#004F00" });
            allLines.push({ line: $(".purple2"), color: "#36006F" });
            var line = new XTLine();
            for (i = 0; i < allLines.length; i++) {
                var l = allLines[i];

                line.color = l.color;
                line.arrayBalls = l.line;
                line.showrect();
            }


            $("#has_line").click(function () {
                line.display(this.checked);
            })
        })
    </script>
