<div id="GD11X5_RX1" style="display:none;">
<h1 class="playprompt"><em class="red">玩法提示：</em>竞猜开奖号码的第一位，选择1个或以上号码投注，奖金:<em class="fred">13</em>元。
    <a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
        <span>     选号：<b class="slnum">01</b>  <br/>
            开奖：<strong class="red"><b class="slnum">01</b> <b>02</b> <b>03</b> <b>04</b> <b>05</b></strong><br/>
        奖金：13元。</span></a>
</h1>
@{Html.RenderPartial("AwardDescription");}
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX2" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX2" value="RX2"/>标准选号</label><label><input
            type="radio" name="gametype" url="RX2DT" value="RX2" way="2"/>胆拖</label>
</div>
<div id="GD11X5_RX2_RX2" class="playtype">
<h1 class="playprompt"><em class="red">任选二：</em>竞猜开奖号码的任意两位，选择2个或以上号码投注，奖金:<em class="fred">6</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：<b class="slnum">01</b>  <b class="slnum">02</b> <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>
        奖金：6元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">2</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="GD11X5_RX2_RX2DT" class="playtype">
<h1 class="playprompt"><em class="red">玩法提示：</em>选1个胆码，选2个或多个拖码投注，命中任意2位即中奖！奖金:<em class="fred">6</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：[胆]<b class="slnum">01</b>  [拖]<b class="slnum">02</b>  11 <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>
        奖金：6元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
</div>

<div id="GD11X5_RX3" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX3" value="RX3" />标准选号</label><label><input
            type="radio" name="gametype" url="RX3DT" value="RX3" way="2" />胆拖</label>
</div>
<div id="GD11X5_RX3_RX3" class="playtype">

<h1 class="playprompt"><em class="red">任选三：</em>竞猜开奖号码的任意三位，选择3个或以上号码投注，奖金:<em class="fred">19</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b><br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b>04</b> <b>05</b></strong><br>
        奖金：19元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">3</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX3_RX3DT" class="playtype">
<h1 class="playprompt"><em class="red">玩法提示：</em>选1-2个胆码，选2个或多个拖码投注，命中任意3位即中奖！奖金:<em class="fred">19</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>     选号：[胆]<b class="slnum">01</b>  [拖]<b class="slnum">02</b>  <b class="slnum">03</b>  11 <br>开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b>04</b> <b>05</b></strong><br>奖金：19元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
</div>

<div id="GD11X5_RX4" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX4" value="RX4" />标准选号</label><label><input
            type="radio" name="gametype" url="RX4DT" value="RX4" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX4SG" value="RX4" way="4" />手工录入</label>
</div>


<div id="GD11X5_RX4_RX4" class="playtype">
<h1 class="playprompt"><em class="red">任选四：</em>竞猜开奖号码的任意四位，选择4个或以上号码投注，奖金:<em class="fred">78</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b><br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b>05</b></strong><br>
        奖金：78元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">4</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX4_RX4DT" class="playtype">
    <h1 class="playprompt"><em class="red">玩法提示：</em>选1-3个胆码，选3个或多个拖码投注，命中任意4位即中奖！奖金:<em class="fred">78</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：[胆]<b class="slnum">01</b> <b class="slnum">02</b>[拖]<b class="slnum">03</b> <b class="slnum">04</b> 11 <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b>05</b></strong><br>
        奖金：78元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_RX4_RX4SG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选四：</b>竞猜开奖号码的任意四位，选择4个或以上号码投注，奖金<b class="red">78</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04 或 01.02.03.04 或 01+02+03+04 或 01020304")
</div>

</div>
</div>

<div id="GD11X5_RX5" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX5" value="RX5" />标准选号</label><label><input
            type="radio" name="gametype" url="RX5DT" value="RX5" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX5SG" value="RX5" way="4" />手工录入</label>
</div>


<div id="GD11X5_RX5_RX5" class="playtype">
<h1 class="playprompt"><em class="red">任选五：</em>竞猜开奖号码的任意五位，选择5个或以上号码投注，奖金:<em class="fred">540</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
            <span>     选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：540元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">5</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>

</div>

<div id="GD11X5_RX5_RX5DT" class="playtype">
    <h1 class="playprompt"><em class="red">玩法提示：</em>选1-4个胆码，选2个或多个拖码投注，命中任意5位即中奖！奖金:<em class="fred">540</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> [拖]<b class="slnum">04</b> <b class="slnum">05</b> 11 <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：540元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_RX5_RX5SG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选五：</b>竞猜全部开奖号码，至少选择5个或以上号码投注，奖金<b class="red">540</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05 或 01.02.03.04.05 或 01+02+03+04+05 或 0102030405")
</div>
</div>
</div>


<div id="GD11X5_RX6" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX6" value="RX6" />标准选号</label><label><input
            type="radio" name="gametype" url="RX6DT" value="RX6" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX6SG" value="RX6" way="4" />手工录入</label>
</div>


<div id="GD11X5_RX6_RX6" class="playtype">
<h1 class="playprompt"><em class="red">任选六：</em>竞猜开奖号码的任意六位，选择6个或以上号码投注，奖金:<em class="fred">90</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> 06<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：90元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">6</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX6_RX6DT" class="playtype">
  <h1 class="playprompt"><em class="red">玩法提示：</em>至少选择6个号码投注，选号中任意5位与开奖号码一致即中奖，奖金:<em class="fred">90</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> 06<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：90元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_RX6_RX6SG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选六：</b>竞猜全部开奖号码，至少选择6个或以上号码投注，任意5个猜中则中奖，奖金<b class="red">90</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06 或 01.02.03.04.05.06 或 01+02+03+04+05+06 或 010203040506")
</div>
</div>
</div>


<div id="GD11X5_RX7" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX7" value="RX7" />标准选号</label><label><input
            type="radio" name="gametype" url="RX7DT" value="RX7" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX7SG" value="RX7" way="4" />手工录入</label>
</div>

<div id="GD11X5_RX7_RX7" class="playtype">
 <h1 class="playprompt"><em class="red">任选七：</em>竞猜开奖号码的任意七位，选择7个或以上号码投注，奖金:<em class="fred">26</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> 06 07<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：26元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">7</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX7_RX7DT" class="playtype">
  <h1 class="playprompt"><em class="red">玩法提示：</em>选1-6个胆码，选2个或多个拖码投注，命中任意2位即中奖！奖金:<em class="fred">26</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> [拖]<b class="slnum">04</b> <b class="slnum">05</b> 06 07 08 <br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：26元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_RX7_RX7SG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选七：</b>竞猜全部开奖号码，至少选择7个或以上号码投注，任意5个猜中则中奖，奖金<b class="red">26</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06,07 或 01.02.03.04,05.06.07 或 01+02+03+04+05+06+07 或 01020304050607")
</div>
</div>
</div>

<div id="GD11X5_RX8" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX8" value="RX8" />标准选号</label><label><input
            type="radio" name="gametype" url="RX8DT" value="RX8" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX8SG" value="RX8" way="4" />手工录入</label>
</div>

<div id="GD11X5_RX8_RX8" class="playtype">
 <h1 class="playprompt"><em class="red">任选八：</em>竞猜开奖号码的任意八位，选择8个或以上号码投注，奖金:<em class="fred">9</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> 06 07 08<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：9元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">8</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_RX8_RX8DT" class="playtype">
  <h1 class="playprompt"><em class="red">玩法提示：</em>选1-7个胆码，选1个或多个拖码投注，命中任意2位即中奖！奖金:<em class="fred">9</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> [拖]<b class="slnum">04</b> <b class="slnum">05</b> 06 07 08<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b></strong><br>
        奖金：9元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_RX8_RX8SG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选八：</b>竞猜全部开奖号码，至少选择8个或以上号码投注，任意5个猜中则中奖，奖金<b class="red">9</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06,07,08 或 01.02.03.04,05.06.07.08 或 01+02+03+04+05+06+07+08 或 0102030405060708")
</div>
</div>
</div>

<div id="GD11X5_Q2ZHIX" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q2ZHIX" value="Q2ZHIX" />标准选号</label><label><input
            type="radio" name="gametype" url="Q2ZHIXSG" value="Q2ZHIX" way="4" />手工录入</label>
</div>

<div id="GD11X5_Q2ZHIX_Q2ZHIX" class="playtype">
<h1 class="playprompt"><em class="red">玩法提示：</em>竞猜开奖号码的前面两位且位置一致，选择2个或以上号码投注，奖金<em class="fred">130</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b><br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>奖金：130元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;每位至少选择<em class="c_cb0505">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">第一位</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">第二位</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_Q2ZHIX_Q2ZHIXSG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>前二直选：</b>竞猜开奖号码的前面两位且位置一致，选择2个或以上号码投注，奖金<b class="red">130</b>元</h1>
    @GameHelper.ImportNumberArea("01,02 或 01.02 或 01+02 或 0102")
</div>
</div>
</div>


<div id="GD11X5_Q2ZUX" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q2ZUX" value="Q2ZUX" />标准选号</label><label>
            <input type="radio" name="gametype" url="Q2ZUXDT" value="Q2ZUX" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="Q2ZUXSG" value="Q2ZUX" way="4" />手工录入</label>
</div>

<div id="GD11X5_Q2ZUX_Q2ZUX" class="playtype">
    <h1 class="playprompt"><em class="red">玩法提示：</em>至少选择2个号码投注，与开奖号码前两位相同（顺序不限）即中奖！奖金:<em class="fred">65</em>元。
    <a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b><br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>奖金：65元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">2</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_Q2ZUX_Q2ZUXDT" class="playtype">
 
    <h1 class="playprompt"><em class="red">玩法提示：</em>选1个胆码，选2个或多个拖码投注，命中前二位即中奖！奖金:<em class="fred">65</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> [拖]<b class="slnum">02</b> 10<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>奖金：65元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_Q2ZUX_Q2ZUXSG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>前二组选：</b>竞猜开奖号码的前面两位，选择2个或以上号码投注，奖金<b class="red">65</b>元</h1>
    @GameHelper.ImportNumberArea("01,02 或 01.02 或 01+02 或 0102")
</div>
</div>
</div>


<div id="GD11X5_Q3ZHIX" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q3ZHIX" value="Q3ZHIX" />标准选号</label><label><input
            type="radio" name="gametype" url="Q3ZHIXSG" value="Q3ZHIX" way="4" />手工录入</label>
</div>


<div id="GD11X5_Q3ZHIX_Q3ZHIX" class="playtype">
<h1 class="playprompt"><em class="red">玩法提示：</em>至少选择3个号码投注，按位置全部命中即中奖！奖金:<em class="fred">1170</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：<b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b><br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b>04</b> <b>05</b></strong><br>奖金：1170元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;每位至少选择<em class="c_cb0505">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">第一位</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">第二位</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">第三位</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_Q3ZHIX_Q3ZHIXSG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>前三直选：</b>竞猜开奖号码的前面三位且位置一致，选择3个或以上号码投注，奖金<b class="red">1170</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03 或 01.02.03 或 01+02+03 或 010203")
</div>
</div>
</div>


<div id="GD11X5_Q3ZUX" style="display:none;">
<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q3ZUX" value="Q3ZUX" />标准选号</label><label>
            <input type="radio" name="gametype" url="Q3ZUXDT" value="Q3ZUX" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="Q3ZUXSG" value="Q3ZUX" way="4" />手工录入</label>
</div>

<div id="GD11X5_Q3ZUX_Q3ZUX" class="playtype">
    <h1 class="playprompt"><em class="red">玩法提示：</em>至少选择3个号码投注，与开奖号码前三位相同（顺序不限）即中奖！奖金:<em class="fred">195</em>元。
    <a href="javascript:" class="szc_notice"><strong class="sl">示例</strong>
        <span>     选号：<b class="slnum">01</b>  <br/>
            开奖：<strong class="red"><b class="slnum">01</b> <b>02</b> <b>03</b> <b>04</b> <b>05</b></strong><br/>
        奖金：13元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;请至少选择<em class="c_cb0505">3</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="help_div">
            <ul class="clearfix ballsfilter">
                <li style="cursor: pointer;"><a href="javascript:;" val="all">全</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="big">大</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="small">小</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="odd">奇</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="even">偶</a></li>
                <li style="cursor: pointer;"><a href="javascript:;" val="clear">清</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="GD11X5_Q3ZUX_Q3ZUXDT" class="playtype">
    <h1 class="playprompt"><em class="red">玩法提示：</em>选1-2个胆码，选2个或多个拖码投注，命中前三位即中奖！奖金:<em class="fred">195</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> [拖]<b class="slnum">02</b> <b class="slnum">03</b> 10<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b class="slnum">03</b> <b>04</b> <b>05</b></strong><br>奖金：195元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>

<div id="GD11X5_Q3ZUX_Q3ZUXSG" class="playtype">
<div class="game-ballsmain">
    <h1 class="playprompt"><b>前三组选：</b>竞猜开奖号码的前面三位，选择3个或以上号码投注，奖金<b class="red">195</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03 或 01.02.03 或 01+02+03 或 010203")
</div>
</div>
</div>


