@{
    var bigbonus = ViewBag.FDList as GameBiz.Core.RankReportCollection_BettingProfit_Sport;
    var game = ViewBag.Game;
}
<div class="tabcon mt10">
    <ul class="tabtitle">
        <li class="li-short">排名</li>
        <li class="li-18">发起人</li>
        <li class="li-18">方案金额</li>
        <li class="li-18">中奖金额</li>
        <li class="li-18">当前期方案</li>
        <li class="li-18 nobg">自动跟单</li>
    </ul>
    @if (bigbonus != null && bigbonus.TotalCount > 0)
    {
        foreach (var item in bigbonus.RankInfoList)
        {
        
        <ul class="tabcontent @(bigbonus.RankInfoList.IndexOf(item) % 2 == 0 ? "ni2" : "")">
             @if (bigbonus.RankInfoList.IndexOf(item) < 3)
            {
                <li class="li-short ico_no_top ico_no_@(bigbonus.RankInfoList.IndexOf(item) + 1)">
                </li>
            }
            else
            {
                <li class="li-short ico_no">@(bigbonus.RankInfoList.IndexOf(item)+1)</li>
            }
            <li class="li-18"><a href="/blog/standings/@item.UserId">@SiteString.HideUserName(item.UserDisplayName,item.UserHideDisplayNameCount)</a></li>
            <li class="li-18">@item.TotalMoney.ToString("N2")</li>
            <li class="li-18">@item.BonusMoney.ToString("N2")</li>
            <li class="li-18"><a href="/blog/current/@item.UserId">查看</a></li>
            <li class="li-18"><a href="/blog/custombill/@item.UserId" class="btn-dz">定制</a></li>
        </ul>
        }
    }
    else
    { 
        <div class="no_result">
            <span>暂无记录</span></div>
    }
</div>