@{
    var hmrqList = ViewBag.FDList as GameBiz.Core.RankReportCollection_RankInfo_HotTogether;
    var game = ViewBag.Game;
}
<div class="tabcon mt10">
    <ul class="ultitle">
        <li class="li-short">排名</li>
        <li class="li-18">发起人</li>
        <li class="li-18">跟单人数</li>
        <li class="li-18">成功方案总数</li>
        <li class="li-18">当前期方案</li>
        <li class="li-18 nobg">自动跟单</li>
    </ul>
    @if (hmrqList != null && hmrqList.TotalCount > 0)
    {
        foreach (var item in hmrqList.RankInfoList)
        {
        <ul class="tabcontent @(hmrqList.RankInfoList.IndexOf(item) % 2 == 0 ? "" : "li_gay")">
            @if (hmrqList.RankInfoList.IndexOf(item) < 3)
            {
                <li class="li-short ico_no_top ico_no_@(hmrqList.RankInfoList.IndexOf(item) + 1)">
                </li>
            }
            else
            {
                <li class="li-short ico_no">@(hmrqList.RankInfoList.IndexOf(item) + 1)</li>
            }
            <li class="li-18"><a href="/blog/standings/@item.UserId">@SiteString.HideUserName(item.UserDisplayName, item.UserHideDisplayNameCount)</a></li>
            <li class="li-18">@item.FollowUserCount</li>
            <li class="li-18">@item.SucessOrderCount</li>
            <li class="li-18"><a href="/blog/standings/@item.UserId">查看</a></li>
            <li class="li-18"><a href="/blog/custombill/@item.UserId" class="btn_dz" >定制</a></li>
        </ul>
        }
    }
    else
    { 
        <div class="no_result">
            暂无记录</div>
    }
</div>
