@{
    ViewBag.Here = "合买帮助";

    ViewBag.Title = "合买帮助 - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "合买帮助, 帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
     @ViewHelpers.css("help.css")
   @ViewHelpers.js("jquery-1.5.2.min.js")
   @ViewHelpers.js("help.js")
}

<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">帮助中心</a> > </li>
        <li>合买帮助</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("left", "help");}
    <div class="new_buy_right">
<div class="help-content f_r">
    <div class="help-list">
        <h1 class="hp-title">合买帮助</h1>
        <h3>1. 什么是合买？</h3>
        <div class="list">
            指由两个或两个以上的个人共同出资购买彩票。合买方案发起人在方案发起时规定每份彩票的金额，参与者根据自身的意愿认购至少一份以上的彩票，方案进度达到100%，方案成交，由本站代理出票。如果参与的合买方案中奖，扣除个人所得税后，根据购买的份额总数计算出每份彩票的奖金，参与者个人所得奖金=购买份数*平均奖金。这种利用募集资金的合买方式能用小资金共同购买大额彩票，降低个人全购高金额彩票的风险。
        </div>
        <h3>2. 什么是合买提成？</h3>
        <div class="list">
            提成是发起人设置的中奖返点，在方案中奖后系统会按用户设置的百分比，在中奖的奖金中提成奖励给发起人。当奖金低于投注本金时，发起人是不会得到提成的；只有奖金大于投注本金有盈利的情况下才可得到提成。发单人可获得的提成=（中奖金额-方案金额）*设定的提成比例。
        </div>
        <h3>3. 各彩种合买提成比例是多少？</h3>
        <div class="list">
            提成比例统一为0%-10%
            @*<p>
                1、胜负彩、任选九场、6场半全场、4场进球<br />
                &nbsp;&nbsp;&nbsp;单式提成比例： 4%<br />
                &nbsp;&nbsp;&nbsp;复式提成比例：无提成
            </p>
            <p>
                2、足球单场<br />
                &nbsp;&nbsp;&nbsp;单式、复式提成比例：0%-4%
            </p>
            <p>
                3、双色球<br />
                &nbsp;&nbsp;&nbsp;单式、复式提成比例：0%-10%
            </p>
            <p>
                4、大乐透、福彩3D、七乐彩、排列三、排列五、七星彩、22选5<br />
                &nbsp;&nbsp;&nbsp;单式提成比例：4%<br />
                &nbsp;&nbsp;&nbsp;复式提成比例：无提成<br />
            </p>*@
        </div>
        <h3>4. 如何发起合买方案？</h3>
        <div class="list">
            1、登录@(SiteString.getHZSiteName(Request))合买代购平台，选择您要发起合买的彩种和玩法；
            <br />
            2、填写您要投注的方案内容，在购彩类型中选择“合买”，确认投注内容；若需要上传方案，则在发起页面选择上传方案或稍后再上传；
            <br />
            3、填写发起方案的相关信息，包括"认购份数、是否保底、提成比例"等，确认无误；
            <br />
            4、用户确认发起方案信息，点击"确认投注"，方案发起成功。
        </div>
        <h3>5. 如何参与方案合买？</h3>
        <div class="list">
            <p>
                1、登录@(SiteString.getHZSiteName(Request))合买代购平台，进入合买中心；
            </p>
            <p>
                2、选择您要跟单的彩种、玩法；
            </p>
            <p>
                3、在彩种列表中选择您要跟单的方案，输入您要认购的份数；或进入该方案详细内容页面，查看方案，并输入您要认购的份数；
            </p>
            <p>
                4、点击购买，用户确认合买跟单信息，点击确认后认购成功。
            </p>
        </div>
        <h3>6. 如何使合买方案尽快满员？</h3>
        <div class="list">
            <p>
                <strong>一、方案发起时间</strong><br>
                尽早发起合买方案，合买发起的时间越早，留给跟单者的时间越长，越容易满员。
            </p>
            <p>
                <strong>二、合买方案描述</strong><br>
                在你发起合买方案的时候，别忘了添加方案描述，宣传合买、引导彩民跟单。方案描述是你展示实力和做单技巧、对合买方案信心指数的重要表现，是吸引更多人关注，让更多彩民跟单的关键所在。
            </p>
            <p>
                <strong>三、战绩</strong><br>
                优秀的战绩是获得彩友关注，提高方案满员的重要保障。金钻和银钻不仅能让你的方案在众多的方案中突出显示，而且能增加彩友对你的信任程度，可以让你得到更多彩民的认可，更容易让大家跟单，促使方案成功满员。
            </p>
            <p>
                <strong>四、合买方案信心指数</strong><br>
                如果你战绩平平，也没有中过大奖，如何才能使更多彩民跟单合买呢?建议您从以下两点入手：<br>
                ①提高自购份额：跟单者从方案发起人自购份额的多少可以看到发起人对该方案的信心指数。发起人自购1%和自购80%，信心指数明显不一样;<br>
                ②有保底：所谓保底，就是方案发起人为保证合买方案成功出票而设置的保障，有保底，更容易使方案成功满员，提高彩民跟单的信心指数。
            </p>
            <p>
                <strong>五、排行榜</strong><br>
                @(SiteString.getHZSiteName(Request))各大排行榜中名列前茅的佼佼者发起的方案也会较容易满员。
            </p>
            <p>
                <strong>六、方案置顶</strong><br>
                置顶的合买方案因为受关注度高，所以更容易满员，置顶详情请参阅"合买方案置顶规则"。
            </p>
            <p>
                <strong>七、自我宣传</strong><br>
                合买方案发起后，用户可以去@(SiteString.getHZSiteName(Request))论坛发帖交流，拉人气参与跟单合买！@(SiteString.getHZSiteName(Request))论坛卧虎藏龙，高手众多，和大家交流培养属于你的忠实"粉丝"。这样，当您发起合买的时候去论坛宣传一番，响应者众多，方案则更快满员。
            </p>
            <p>
                <strong>八、@(SiteString.getHZSiteName(Request))保底10%</strong><br>
                当所有彩种的方案进度达到90%或以上，@(SiteString.getHZSiteName(Request))在截止时全额保底认购。(包括认购进度+保底进度达到90%或以上的方案)
            </p>
        </div>
        <h3>7. 合买中奖后的奖金怎么分配？</h3>
        <div class="list">
            <p>
                合买中奖后，若方案不盈利(即税后奖金小于方案本金)，税后奖金将按参与份额比例分配到该方案的各参与会员的预付款中；
            </p>
            <p>
                若方案盈利(即税后奖金大于方案本金)，则发起人先提成税后奖金的x％作为方案制作返点（返点由发起人在发起方案时设定），余下奖金将按参与份额比例分配到该方案的各参与用户的预付款中。@(SiteString.getHZSiteName(Request))平台不收取任何返点或者手续费。
            </p>
        </div>
        <h3>8. 合买战绩规则有哪些？</h3>
        <div class="list">
            <table width="760" cellspacing="0" cellpadding="3" border="0">
                <tbody>
                    <tr>
                        <td width="50%" align="left">
                            <b>金皇冠</b>：<i class="zj-jhg"></i>&nbsp; <b>金冠</b>：<i class="zj-jg"></i>&nbsp; <b>金钻</b>：<i
                                class="zj-jz"></i>&nbsp; <b>金星</b>：<i class="zj-jx"></i>
                        </td>
                        <td width="50%" align="left">
                            <b>银皇冠</b>：<i class="zj-yhg"></i>&nbsp; <b>银冠</b>：<i class="zj-yg"></i> &nbsp; <b>银钻</b>：<i
                                class="zj-yz"></i> &nbsp; <b>银星</b>：<i class="zj-yx"></i>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">1金皇冠=5金冠 &nbsp; &nbsp;1金冠=5金钻 &nbsp; &nbsp;1金钻=5金星
                        </td>
                        <td align="left">1银皇冠=5银冠 &nbsp; &nbsp;1银冠=5银钻 &nbsp; &nbsp;1银钻=5银星
                        </td>
                    </tr>
                    <tr>
                        <td align="left">1金星：成功方案盈利≥@SiteString.record_money
                        </td>
                        <td align="left">1银星：流产方案盈利≥@SiteString.record_money
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>9. 什么叫方案保底？</h3>
        <div class="list">
            发起人承诺合买截止后，如果方案还没有满员，发起人再投入先前承诺的金额以最大限度让方案成交。最低保底金额为方案总金额的20%。保底时，系统将暂时冻结保底资金，在合买截止时如果方案还未满员的话，系统将会用冻结的保底资金去认购方案。如果在合买截止前方案已经满员，系统会解冻保底资金。
        </div>
        <h3>10. 什么叫方案置顶？</h3>
        <div class="list">
            指该方案在任何排序方式下均列在方案列表的前列，置顶区域用不同颜色以突出显示。进度达到90%以上的置顶方案，在本站合买时间截止后，仍可认购。
        </div>
        <h3>11. 方案置顶有哪些规则？</h3>
        <div class="list">
            <p>
                <strong>自动置顶相关规则：</strong>
            </p>
            <p>
                1、 置顶方案指该方案在任何排序方式下，均在方案列表中排前列的方案（背景色为黄色），置顶方案个数最多为15个；
            </p>
            <p>
                2、 如果同时满足置顶条件的方案个数≥15，自动置顶程序会根据方案金额及进度、用户战绩及过往方案满员率等情况，推荐其中15个方案优先排序；<br>
                备注：根据此规则，如果同时满足置顶条件的方案个数≥15，自动置顶程序会重新作判断，优先排序置顶，已置顶的方案也有可能会换上其他方案
            </p>
            <p>
                3、 同一用户如果有多个方案同时满足置顶条件，自动置顶程序优先置顶发起时间最早的方案，其它方案进行排队等待，如需更换置顶方案请与@(SiteString.getHZSiteName(Request))客服人员联系。
            </p>
            <p>
                4、限制了招股对象的方案将不能置顶；
            </p>
            <p>
                <strong>竞技彩合买方案置顶规则：</strong>
            </p>
            <p>
                <strong>一、胜负彩</strong><br>
                单式合买方案：金额≥10000元，且（进度＋保底）必须≥30%。<br>
                复式合买方案：金额≥1000元，且（进度＋保底）必须≥30%。
            </p>
            <p>
                <strong>二、任选9场</strong><br>
                单式合买方案：金额≥3000元，且（进度＋保底）必须≥30%。<br>
                复式合买方案：金额≥1000元，且（进度＋保底）必须≥30%。<br>
                胆拖合买方案：金额≥1000元，且（进度＋保底）必须≥30%。
            </p>
            <p>
                <strong>三、足球单场</strong><br>
                让球胜平负：金额≥500，且自购比例≥30%；<br>
                进球数：金额≥200，且自购比例≥30%；<br>
                上下单双：金额≥200，且自购比例≥30%；<br>
                比分：金额≥300，且自购比例≥30%；<br>
                半全场：金额≥200，且自购比例≥30%；<br>
                注： 自购比例可以是发起认购、保底，也可以是二次认购、发起后保底，无论哪种方式，只需要满足自己认购比例达到30%。
            </p>
            <p>
                <strong>四、4场进球</strong><br>
                单式合买方案及复式合买方案：金额≥1000元，且（进度＋保底）必须≥30%。
            </p>
            <p>
                <strong>五、6场半全场</strong><br>
                单式合买方案及复式合买方案：金额≥1000元，且（进度＋保底）必须≥30%。
            </p>
            <p>
                <strong>数字彩合买方案置顶规则：</strong>
            </p>
            <p>
                <strong>一、双色球</strong><br>
                单式合买方案：金额≥1000元，且(进度+保底)必须≥30%。<br>
                复式合买方案：金额≥1000元，且(进度+保底)必须≥30%。
            </p>
            <p>
                <strong>二、大乐透</strong><br>
                合买方案：金额≥500元，且(进度+保底)必须≥30%。
            </p>
            <p>
                <strong>三、排列三、福彩3D</strong><br>
                单式合买方案置顶条件：金额≥100元，且(进度+保底)≥于30%。<br>
                复式合买方案置顶条件：金额≥100元，且(进度+保底) ≥30%。
            </p>
            <p>
                <strong>四、七星彩、七乐彩等其它数字玩法</strong><br>
                单式合买方案置顶条件：金额≥100元，且(进度+保底) ≥30%。<br>
                复式合买方案置顶条件：金额≥100元，且(进度+保底) ≥30%。
            </p>
        </div>
        <h3>12. 什么是方案保密？</h3>
        <div class="list">
            <p>
                网站为了满足用户多样化需求，尊重用户的劳动成果，保障用户的隐私权，提供了方案保密的功能选择。<br>
                用户发起或上传单式合买方案时，选择"上传即公开"，则此方案一旦上传会员就能下载浏览，即方案不保密；选择"截止后公开"，则此方案只有在官方截止后，其他会员才能下载浏览，即方案保密。
            </p>
            <p>
                注：<br>
                1. 方案保密，是指对除发起人外的其他会员保密，发起人任何时间都可以下载浏览；<br>
                2. 方案保密，指的是在官方销售时间内的保密，在官方销售截止后，方案对任何会员都是公开的。<br>
                3. 方案保密功能对网站现有所有彩种合买有效。
            </p>
        </div>
        <h3>13. 发起方案的时候没有设置保密，发起之后可以进行修改吗？</h3>
        <div class="list">
            方案保密状态只有在方案发起时能够设置，方案一经发起就不能进行修改。
        </div>
        <h3>14. 什么是方案流产？</h3>
        <div class="list">
            方案流产指合买方案在该期截止后，方案进度＋发起人保底＋网站保底都未能促使方案满员，则该方案自动流产，即未能合买成功。
        </div>
        <h3>15. 方案流产后怎么办？</h3>
        <div class="list">
            方案流产后，系统自动将合买发起人的保底资金和认购金额、各合买跟单人的认购金额自动解冻，返还至用户的帐户中。
        </div>
        <h3>16. 什么是超级红人？</h3>
        <div class="list">
            超级红人就是自动跟单方案的发起人。发起人须先向网站提出申请并审核通过后，才能被放到自动跟单列表中，接受会员的跟单定制，成为超级红人。只要成功发起过足球单场合买方案的用户，就会自动成为足球单场超级红人。双色球和大乐透无需申请超级红人即可接受会员的定制跟单。
        </div>
        <h3>17. 如何申请成为超级红人？</h3>
        <div class="list">
            <p>
                <b>申请条件：</b><br />
                A、由新体网相关业务人员推荐的站外名人，经工作人员审核后可获得合买大红人资格。<br />
                B、有效合买方案跟单人数长期在20个或以上，且发单金额平均不低于500元。（不含自己购买及网站保底）<br />
                C、在一个月内单个方案中奖盈利达到5000元5次或以上。<br />
                D、在一个月内成功发起1000元以上的有效合买方案10次或以上。<br />
                数字彩合买大红人可对B、C、D等3个条件减半要求。<br />
                满足以上任一条件均可成为合买大红人。
            </p>
            <p>
                <b>享受特权：</b><br />
                合买大厅导航栏展示合买大红人名称，新方案提示、提供关注、战绩查询。<br />
                专人服务，为大额合买大红人作详细推荐以及相关页面宣传，提升知名度及形象。<br />
                相关页面推荐、论坛贴高亮、方案置顶等措施，提高出票成功率，降低流产率。<br />
                享受论坛特约嘉宾身份，合买大红人头像，论坛发合买召集受到更多的关注。<br />
                开通网站个人VIP，尊享网站相关VIP服务。
            </p>
        </div>
        <h3>18. 什么是自动跟单？</h3>
        <div class="list">
            用户可提前定购某位发起人的方案的一定分额，则当该发起人发起方案时，系统就自动以用户预定的金额认购该发起人的方案。免去用户守侯跟单、跟不到好单的烦恼。
        </div>
        <h3>19. 如何定制自动跟单？</h3>
        <div class="list">
            <p class="dotted">
                1、登录@(SiteString.getHZSiteName(Request))首页，在左侧的登陆框中选择"购买彩票"；<br>
            </p>
            <p class="dotted">
                2、在左侧的导航栏中选择您要定制自动跟单的彩种（以胜负彩为例）；<br>
            </p>
            <p class="dotted">
                3、在胜负彩页面选择"自动跟单"，若您有确定要跟单的用户，可直接在搜索框内搜索该超级红人；您也可以查看自动跟单定制列表；<br>
            </p>
            <p class="dotted">
                4、在自动跟单定制列表中，您可以选择您要定制的超级红人，已满额发起人无法定制；您还可以选择您要定制的玩法；点击"定制"进入定制该发起人页面；<br>
            </p>
            <p>
                5、在定制跟单页面，填写"每期认购金额"，确认无误后，点击"立即定制"即定制成功。<br>
                您可以在"我的账户"下的"定制跟单"中查看您的自动跟单记录，并可随时对其进行编辑或取消。
            </p>
        </div>
        <h3>20. 哪些彩种玩法已开通自动跟单功能？</h3>
        <div class="list">
            <p>
                胜负彩单式合买、胜负彩复式合买；
            </p>
            <p>
                6场半全场单式合买、6场半全场复式合买；
            </p>
            <p>
                4场进球彩单式合买、4场进球彩复式合买；
            </p>
            <p>
                足球单场五种玩法单式合买、足球单场五种玩法复式合买；
            </p>
            <p>
                双色球单式合买、双色球复式合买；
            </p>
            <p>
                任九单式合买、任九复式合买；
            </p>
            <p>
                大乐透单式合买、大乐透复式合买
            </p>
        </div>
        <h3>21. 各彩种自动跟单的规则有哪些？</h3>
        <div class="list">
            <h3>1、 胜负彩自动跟单规则：
            </h3>
            <p>
                单式合买：最低"每次认购金额"为20元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <p>
                复式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>2、 任九自动跟单规则：</h3>
            <p>
                单式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <p>
                复式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <p>
                胆拖复式：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>3、 6场半全场自动跟单规则：</h3>
            <p>
                单式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <p>
                复式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>4、4场进球彩自动跟单规则：</h3>
            <p>
                单式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <p>
                复式合买：最低"每次认购金额"为2元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>5、 双色球自动跟单规则：
            </h3>
            <p>
                首次自动跟单需2元，以后"每次认购金额"最低为1元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>6、大乐透自动跟单规则：</h3>
            <p>
                首次自动跟单需2元，以后"每次认购金额"最低为1元，可指定人数为10人次，可定制人数为1000人次。
            </p>
            <h3>7、足球单场自动跟单规则：</h3>
            <p>
                最低"每次认购金额"为1元，可指定人数为10人次，可定制人数为1000人次。
            </p>
        </div>
        <h3>22. 自动跟单会员需要注意什么？</h3>
        <div class="list">
            <p>
                1、本站会员均可以自由定制超级红人，自定义跟单金额，成为该超级红人的自动跟单者；但某个彩种玩法下的某个超级红人，每位会员最多只能同时自动跟单一次。
            </p>
            <p>
                2、一旦定制成功，自动跟单会员不能修改跟单金额或份数，但可自由退出跟单。
            </p>
            <p>
                3、如用户帐户余额不足，则视为自愿放弃"自动跟单"资格(指定跟单人除外)。再次申请自动跟单时，须重新定制。
            </p>
            <p>
                4、使用"自动跟单"功能后，会员也可以正常使用其他合买功能。
            </p>
        </div>
        <h3>23. 什么叫方案上传？</h3>
        <div class="list">
            <p>
                方案上传是指单式合买可以先发起后上传方案，但必须在该彩种方案上传截止时间前上传方案；且方案必须严格遵守网站规定的标准格式，否则网站不能保证该方案准确、及时作过关统计。流产方案不符合标准格式不作过关统计。
            </p>
            <p>
                1. 各彩种方案上传截止时间请查看该彩种方案列表页面；
            </p>
            <p>
                2. 系统在合买截止后将自动关闭方案上传功能，如特殊情况上传失败，请及时电话联系本站处理。
            </p>
        </div>
        <h3>24. 方案上传标准格式是怎样？</h3>
        <div class="list">
            <p>
                1. 本合买区只接受后缀为".txt"的记事本文本文档
            </p>
            <p>
                2. 胜负彩单式方案标准格式：一行一注，投注号码不要以空格隔开，文本内除投注号码不允许出现其他文字、号码及符号；特别注意不要有序号。例：胜负彩单式方案：33300010301103
            </p>
            <p>
                3. 进球彩单式方案标准格式：一行一注，投注号码不要以空格隔开，文本内除投注号码外不允许出现其他文字、号码及符号；特别注意不要有序号。例：进球彩单式方案：320110130112
            </p>
            <p>
                4. 任选九场单式方案标准格式：一行一注，投注号码不要以空格隔开，文本内除投注号码、"*"外不允许出现其他文字、号码及符号；特别注意不要有序号。&nbsp;&nbsp;例：九场单式方案：13*0*1*13*30*1
            </p>
            <p>
                5. 双色球单式方案标准格式：一行一注，特别注意投注号之间以空格隔开，红蓝球之间也以空格区别，红蓝球个位数前都必须 加0，文本内除投注号码、空格外不允许出现其他任何文字、号码及符号；特别注意不要有序号。&nbsp;&nbsp;例：双色球单式方案：04
                        12 14 25 28 33 08
            </p>
            <p>
                6. 数字排列单式方案标准格式：一行一注，投注号码不要以空格隔开，文本内除投注号码以外不允许出现其他任何文字、号码及符号；特别注意不要有序号。&nbsp;&nbsp;例：排列3单式方案：184
                        &nbsp;&nbsp;排列5单式方案：18456
            </p>
            <p>
                7. 福彩3D单式方案标准格式：一行一注，投注号码不要以空格隔开，文本内除投注号码以外不允许出现其他任何文字、号码及符号；特别注意不要有序号。&nbsp;&nbsp;例：福彩3D单式方案：286
            </p>
            <p>
                8. 七星彩单式方案标准格式：一行一注，特别注意七星排列投注号码不要以空格隔开，否则过关软件不能正确区别。文本内除投注号码以外不允许出现其他任何文字、号码及符号；特别注意不要有序号。&nbsp;&nbsp;例：七星彩单式方案：5834662
            </p>
        </div>
        <h3>25. 发起人上传错方案如何处理？</h3>
        <div class="list">
            发起人在发现上传方案错误之后，可以及时把正确的方案发到合买邮箱(<a href="mailto:hemai@xinti.com">hemai@xinti.com</a>)，内容注明发起人的用户名、彩种、玩法、方案编号。然后致电给网站工作人员，工作人员收到后可以及时的为用户重传方案。最后，请发起人务必到前台核实方案是否已经重传和重传的方案是否正确，如有问题，请尽快与网站工作人员联系。
        </div>
        <h3>26. 什么是网站保底？</h3>
        <div class="list">
            网站所有彩种的方案进度达到90%或以上，本网在截止时全额无条件保底认购。（包括认购进度+保底进度达到90%或以上的方案）
        </div>
        <h3>27. 什么是资金冻结？</h3>
        <div class="list">
            <p>
                资金冻结是指使资金处于暂时不可用状态。在以下情况下，用户资金将被冻结：
            </p>
            <p>
                发起人保底时，系统将暂时冻结保底资金。如果在合买截止前方案已经满员，系统会解冻保底资金。合买方案流产或发起人撤单，系统自动解冻保底资金。
            </p>
            <p>
                发起人和跟单人认购方案，系统将冻结认购资金。合买方案流产或方案撤单，系统自动解冻认购资金。
            </p>
            <p>
                用户追号，系统将冻结追号所需资金。用户撤销追号，系统将自动解冻追号剩余期数的追号资金。
            </p>
            <p>
                用户提款时，系统将冻结提款资，提款成功后转到用户提款账户，提款不成功系统将自动解冻提款资金。
            </p>
        </div>
        <h3>28. 什么是方案撤单？</h3>
        <div class="list">
            方案撤单指发起人将整个合买方案撤销或跟单人将认购股份撤销。
        </div>
        <h3>29. 对已购买方案的如何撤单？</h3>
        <div class="list">
            <p>
                复式代购和复式合买理论满员（进度＋保底≥90%）方案是不能撤单的，因为满员和理论满员方案，网站就会立即把数据提供给彩票中心出票点，这个时候对满员或者理论满员方案就不能进行撤单处理!
            </p>
            <p>
                对于方案进度＜75%的方案，用户可以点击方案编号进入，有一个发起人撤单的显示出来，选择"点击此处对该方案撤单"就可以对自己认购部分做撤单。
            </p>
            <p>
                对于方案进度≥75％的方案，认购人不能撤单。发起人原则上也不能撤单，要等到合买代购时间截止以后由本站工作人员统一做撤单返款处理。
            </p>
            <p>
                如非常特殊原因发起人需要撤单的，操作流程如下：
            </p>
            <p>
                &nbsp;&nbsp;a、 在论坛投诉申告区发一个撤单请求，具体说明@(SiteString.getHZSiteName(Request))用户名、彩种、期号、玩法、方案编号和撤单原因。如"@(SiteString.getHZSiteName(Request))用户名AAA，胜负彩06016期单式合买，方案编号06016ZC67631，因方案发错地方，请求撤单！"。
            </p>
            <p>
                &nbsp;&nbsp;b、 致电给网站客服人员，因为我们需要确认一下撤单人与发起人的身份是否一致。核对内容包括：发起人的真实姓名和身份证号码，或者通过在线客服人员。如"@(SiteString.getHZSiteName(Request))用户名AAA，真实姓名BBB，身份证号码1111111111111，已经在投诉申告区发起撤单请求，请处理。"
            </p>
            <p>
                &nbsp;&nbsp;c、 要求撤单的发起人在10分钟后到前台确认方案是否已经撤单。正常情况下，在上班时间，请求撤单的会在10分钟之内处理完毕。如果10分钟之后尚未得到处理，请继续与我们工作人员联系。
            </p>
        </div>
        <h3>30. 满员的方案为何会被撤单？</h3>
        <div class="list">
            <p>
                发起人的满员方案，需上传1份符合本站规定格式的单式文本文件，以便在合买成功后能出票，每个方案只有一次上传文本的机会，可能会由于发起人的疏忽，把进球彩的方案上传到胜负彩，如果用户在注册的时候没有留下联系电话，我们工作人员就不能及时联系到你，这个时候满员的方案只能做撤单处理。
            </p>
            <p>
                若发起人上传的单式文本方案注数与发起注数不相符且相差在5注以内，方案比发起金额少5注之内的方案网站有权拷贝发起人最后几注补足，方案比发起金额多5注之内的方案网站有权从发起人的帐户扣除发起人的金额补足，如果少的方案注数跟多的方案注数都大于5注，这个时候网站的工作人员会电话联系发起人，可以要求发起人发一个正确的方案到合买邮箱(<a
                    href="mailto:hemai@xinti.com">hemai@xinti.com</a>)，如果因为发起人没有留下联系电话，这个时候方案也做撤单处理。
            </p>
        </div>
    </div>
</div>
        </div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
    setShow();
</script>
