@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "排列3大小形态走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "排列3大小形态走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "排列3大小形态走势图近" + pageSize + "期,查看更多排列3大小形态走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "排列3大小形态走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "排列3大小形态走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的排列3大小形态走势图,其中包括全大、两大一小、两小一大、全小走势和大小比例分布走势图,让彩民朋友更直观的分析排列3大小形态走势图.";
    }
    var dxxt = ViewBag.DataList as List<LotteryData.Core.PL3_DX_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "dx_pl3" });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1003px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="19">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr id="menuitem" class="tabbg weight">
                    <td width="85" align="center" rowspan="2" class="line_r">
                        日期
                    </td>
                    <td width="50" rowspan="2">
                        期号
                    </td>
                    <td rowspan="2" class="line_r" colspan="3">
                        开奖号码
                    </td>
                    <td width="75" rowspan="2">
                        大小形态
                    </td>
                    <td>
                        全大
                    </td>
                    <td colspan="3">
                        两大一小
                    </td>
                    <td colspan="3">
                        两小一大
                    </td>
                    <td class="line_r">
                        全小
                    </td>
                    <td colspan="5">
                        大小比例分布
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="55">
                        大大大
                    </td>
                    <td width="55">
                        大大小
                    </td>
                    <td width="55">
                        大小大
                    </td>
                    <td width="55">
                        小大大
                    </td>
                    <td width="55">
                        大小小
                    </td>
                    <td width="55">
                        小大小
                    </td>
                    <td width="55">
                        小小大
                    </td>
                    <td width="55" class="line_r">
                        小小小
                    </td>
                    <td width="54">
                        大小比
                    </td>
                    <td width="50">
                        3:0
                    </td>
                    <td width="50">
                        2:1
                    </td>
                    <td width="50">
                        1:2
                    </td>
                    <td width="50">
                        0:3
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in dxxt)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="19">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                        </td>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="20" class="hot12">
                            @item.WinNumber.Substring(0, 1)
                        </td>
                        <td width="20" class="hot12">
                            @item.WinNumber.Substring(2, 1)
                        </td>
                        <td width="20" class="hot12 line_r">
                            @item.WinNumber.Substring(4, 1)
                        </td>
                        @switch (item.DXType)
                        {
                            case "DDD":
                            <td class="cbg3">
                                大大大
                            </td>
                                break;
                            case "DDX":
                            <td class="cbg3">
                                大大小
                            </td>
                                break;
                            case "DXD":
                            <td class="cbg3">
                                大小大
                            </td>
                                break;
                            case "XDD":
                            <td class="cbg3">
                                小大大
                            </td>
                                break;
                            case "DXX":
                            <td class="cbg3">
                                大小小
                            </td>
                                break;
                            case "XDX":
                            <td class="cbg3">
                                小大小
                            </td>
                                break;
                            case "XXD":
                            <td class="cbg3">
                                小小大
                            </td>
                                break;
                            case "XXX":
                            <td class="cbg3">
                                小小小
                            </td>
                                break;
                            default:
                                break;
                        }
                        <td class="@(item.DX_DDD == 0 ? "cbg big" : "y101")">
                            @(item.DX_DDD == 0 ? "大大大" : item.DX_DDD.ToString())
                        </td>
                        <td  class="@(item.DX_DDX == 0 ? "cbg big" : "y101")">
                            @(item.DX_DDX == 0 ? "大大小" : item.DX_DDX.ToString())
                        </td>
                        <td  class="@(item.DX_DXD == 0 ? "cbg big" : "y101")">
                            @(item.DX_DXD == 0 ? "大小大" : item.DX_DXD.ToString())
                        </td>
                        <td  class="@(item.DX_XDD == 0 ? "cbg big" : "y101")">
                            @(item.DX_XDD == 0 ? "小大大" : item.DX_XDD.ToString())
                        </td>
                        <td  class="@(item.DX_DXX == 0 ? "cbg big" : "y101")">
                            @(item.DX_DXX == 0 ? "大小小" : item.DX_DXX.ToString())
                        </td>
                        <td  class="@(item.DX_XDX == 0 ? "cbg big" : "y101")">
                            @(item.DX_XDX == 0 ? "小大小" : item.DX_XDX.ToString())
                        </td>
                        <td  class="@(item.DX_XXD == 0 ? "cbg big" : "y101")">
                            @(item.DX_XXD == 0 ? "小小大" : item.DX_XXD.ToString())
                        </td>
                        <td  class="@(item.DX_XXX == 0 ? "cbg big line_r" : "y101 line_r")">
                            @(item.DX_XXX == 0 ? "小小小" : item.DX_XXX.ToString())
                        </td>
                        <td class="cbg3 line_r">
                            @item.DaoXiaoBi
                        </td>
                        <td  class="@(item.Bi3_0 == 0 ? "cbg orange1" : "y101")">
                            @(item.Bi3_0 == 0 ? "3:0" : item.Bi3_0.ToString())
                        </td>
                        <td  class="@(item.Bi2_1 == 0 ? "cbg orange1" : "y101")">
                            @(item.Bi2_1 == 0 ? "2:1" : item.Bi2_1.ToString())
                        </td>
                        <td  class="@(item.Bi1_2 == 0 ? "cbg orange1" : "y101")">
                            @(item.Bi1_2 == 0 ? "1:2" : item.Bi1_2.ToString())
                        </td>
                        <td  class="@(item.Bi0_3 == 0 ? "cbg orange1" : "y101")">
                            @(item.Bi0_3 == 0 ? "0:3" : item.Bi0_3.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_DDD == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_DDX == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_DXD == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_XDD == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_DXX == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_XDX == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.DX_XXD == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(dxxt.Count(p => p.DX_XXX == 0))
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.Bi3_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.Bi2_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(dxxt.Count(p => p.Bi1_2 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(dxxt.Count(p => p.Bi0_3 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_DDD) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_DDX) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_DXD) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_XDD) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_DXX) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_XDX) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.DX_XXD) / dxxt.Count)
                    </td>
                    <td class="line_r">
                        @(dxxt.Sum(p => p.DX_XXX) / dxxt.Count)
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.Bi3_0) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.Bi2_1) / dxxt.Count)
                    </td>
                    <td class="">
                        @(dxxt.Sum(p => p.Bi1_2) / dxxt.Count)
                    </td>
                    <td class="line_r">
                        @(dxxt.Sum(p => p.Bi0_3) / dxxt.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(dxxt.Max(p => p.DX_DDD))
                    </td>
                    <td class="">
                        @(dxxt.Max(p => p.DX_DDX))
                    </td>
                    <td>
                        @(dxxt.Max(p => p.DX_DXD))
                    </td>
                    <td class="">
                        @(dxxt.Max(p => p.DX_XDD))
                    </td>
                    <td>
                        @(dxxt.Max(p => p.DX_DXX))
                    </td>
                    <td class="">
                        @(dxxt.Max(p => p.DX_XDX))
                    </td>
                    <td>
                        @(dxxt.Max(p => p.DX_XXD))
                    </td>
                    <td class="line_r">
                        @(dxxt.Max(p => p.DX_XXX))
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(dxxt.Max(p => p.Bi3_0))
                    </td>
                    <td>
                        @(dxxt.Max(p => p.Bi2_1))
                    </td>
                    <td>
                        @(dxxt.Max(p => p.Bi1_2))
                    </td>
                    <td class="line_r">
                        @(dxxt.Max(p => p.Bi0_3))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].DX_DDD)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_DDD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(dxxt[dxxt.Count - 1].DX_DDX)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_DDX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].DX_DXD)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_DXD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(dxxt[dxxt.Count - 1].DX_XDD)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_XDD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].DX_DXX)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_DXX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="">
                        @(dxxt[dxxt.Count - 1].DX_XDX)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_XDX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].DX_XXD)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_XXD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(dxxt[dxxt.Count - 1].DX_XXX)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].DX_XXX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].Bi3_0)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].Bi3_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].Bi2_1)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].Bi2_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(dxxt[dxxt.Count - 1].Bi1_2)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].Bi1_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(dxxt[dxxt.Count - 1].Bi0_3)<br>
                        <img width="8px" height="@(dxxt[dxxt.Count - 1].Bi0_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td class="line_r" rowspan="2">
                        日期
                    </td>
                    <td class="line_r" rowspan="2">
                        期号
                    </td>
                    <td colspan="3" rowspan="2" class="line_r">
                        开奖号码
                    </td>
                    <td rowspan="2">
                        大小形态
                    </td>
                    <td>
                        大大大
                    </td>
                    <td>
                        大大小
                    </td>
                    <td>
                        大小大
                    </td>
                    <td>
                        小大大
                    </td>
                    <td>
                        大小小
                    </td>
                    <td>
                        小大小
                    </td>
                    <td>
                        小小大
                    </td>
                    <td class="line_r">
                        小小小
                    </td>
                    <td>
                        大小比
                    </td>
                    <td>
                        3:0
                    </td>
                    <td>
                        2:1
                    </td>
                    <td>
                        1:2
                    </td>
                    <td>
                        0:3
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td>
                        全大
                    </td>
                    <td colspan="3">
                        两大一小
                    </td>
                    <td colspan="3">
                        两小一大
                    </td>
                    <td class="line_r">
                        全小
                    </td>
                    <td colspan="5">
                        大小比例分布
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        var allLines = new Array();
        allLines.push({ line: $(".big"), color: "red" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
