@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "排列3和值走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "排列3和值走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "排列3和值走势图近" + pageSize + "期,查看更多排列3和值走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "排列3和值走势图-排列3出号走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "排列3和值走势图,排列3出号走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的排列3和值走势图,其中包括所有出号和值分布走势,让彩民朋友更直观的分析排列3出号和值分布走势图.";
    }
    var DataList = ViewBag.DataList as List<LotteryData.Core.PL3_HeiZhi_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "hezhi_pl3" });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1003px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="44">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr id="menuitem" class="tabbg weight">
                    <td width="85" rowspan="2" class="line_r">
                        日期
                    </td>
                    <td width="58" rowspan="2">
                        期号
                    </td>
                    <td colspan="3" rowspan="2" class="line_r">
                        开奖号码
                    </td>
                    <td colspan="29" class="line_r">
                        和值分布
                    </td>
                    <td colspan="10">
                        和尾分布
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="30" class="line_r">
                        和值
                    </td>
                    <td width="20">
                        0
                    </td>
                    <td width="20">
                        1
                    </td>
                    <td width="20">
                        2
                    </td>
                    <td width="20">
                        3
                    </td>
                    <td width="20">
                        4
                    </td>
                    <td width="20">
                        5
                    </td>
                    <td width="20">
                        6
                    </td>
                    <td width="20">
                        7
                    </td>
                    <td width="20">
                        8
                    </td>
                    <td width="20">
                        9
                    </td>
                    <td width="20">
                        10
                    </td>
                    <td width="20">
                        11
                    </td>
                    <td width="20">
                        12
                    </td>
                    <td width="20">
                        13
                    </td>
                    <td width="20">
                        14
                    </td>
                    <td width="20">
                        15
                    </td>
                    <td width="20">
                        16
                    </td>
                    <td width="20">
                        17
                    </td>
                    <td width="20">
                        18
                    </td>
                    <td width="20">
                        19
                    </td>
                    <td width="20">
                        20
                    </td>
                    <td width="20">
                        21
                    </td>
                    <td width="20">
                        22
                    </td>
                    <td width="20">
                        23
                    </td>
                    <td width="20">
                        24
                    </td>
                    <td width="20">
                        25
                    </td>
                    <td width="20">
                        26
                    </td>
                    <td width="20" class="line_r">
                        27
                    </td>
                    <td width="20">
                        0
                    </td>
                    <td width="20">
                        1
                    </td>
                    <td width="20">
                        2
                    </td>
                    <td width="20">
                        3
                    </td>
                    <td width="20">
                        4
                    </td>
                    <td width="20">
                        5
                    </td>
                    <td width="20">
                        6
                    </td>
                    <td width="20">
                        7
                    </td>
                    <td width="20">
                        8
                    </td>
                    <td width="20">
                        9
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in DataList)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="44">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                        </td>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="20" class="hot12">
                            @item.WinNumber.Substring(0, 1)
                        </td>
                        <td width="20" class="hot12">
                            @item.WinNumber.Substring(2, 1)
                        </td>
                        <td width="20" class="hot12 line_r">
                            @item.WinNumber.Substring(4, 1)
                        </td>
                        <td align="center" class="line_r">
                            @item.HZ
                        </td>
                        <td  class="@(item.HZ_0 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_0 == 0 ? 0 : item.HZ_0)
                        </td>
                        <td  class="@(item.HZ_1 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_1 == 0 ? 1 : item.HZ_1)
                        </td>
                        <td  class="@(item.HZ_2 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_2 == 0 ? 2 : item.HZ_2)
                        </td>
                        <td  class="@(item.HZ_3 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_3 == 0 ? 3 : item.HZ_3)
                        </td>
                        <td  class="@(item.HZ_4 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_4 == 0 ? 4 : item.HZ_4)
                        </td>
                        <td  class="@(item.HZ_5 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_5 == 0 ? 5 : item.HZ_5)
                        </td>
                        <td  class="@(item.HZ_6 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_6 == 0 ? 6 : item.HZ_6)
                        </td>
                        <td  class="@(item.HZ_7 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_7 == 0 ? 7 : item.HZ_7)
                        </td>
                        <td  class="@(item.HZ_8 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_8 == 0 ? 8 : item.HZ_8)
                        </td>
                        <td  class="@(item.HZ_9 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_9 == 0 ? 9 : item.HZ_9)
                        </td>
                        <td  class="@(item.HZ_10 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_10 == 0 ? 10 : item.HZ_10)
                        </td>
                        <td  class="@(item.HZ_11 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_11 == 0 ? 11 : item.HZ_11)
                        </td>
                        <td  class="@(item.HZ_12 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_12 == 0 ? 12 : item.HZ_12)
                        </td>
                        <td  class="@(item.HZ_13 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_13 == 0 ? 13 : item.HZ_13)
                        </td>
                        <td  class="@(item.HZ_14 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_14 == 0 ? 14 : item.HZ_14)
                        </td>
                        <td  class="@(item.HZ_15 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_15 == 0 ? 15 : item.HZ_15)
                        </td>
                        <td  class="@(item.HZ_16 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_16 == 0 ? 16 : item.HZ_16)
                        </td>
                        <td  class="@(item.HZ_17 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_17 == 0 ? 17 : item.HZ_17)
                        </td>
                        <td  class="@(item.HZ_18 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_18 == 0 ? 18 : item.HZ_18)
                        </td>
                        <td  class="@(item.HZ_19 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_19 == 0 ? 19 : item.HZ_19)
                        </td>
                        <td  class="@(item.HZ_20 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_20 == 0 ? 20 : item.HZ_20)
                        </td>
                        <td  class="@(item.HZ_21 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_21 == 0 ? 21 : item.HZ_21)
                        </td>
                        <td  class="@(item.HZ_22 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_22 == 0 ? 22 : item.HZ_22)
                        </td>
                        <td  class="@(item.HZ_23 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_23 == 0 ? 23 : item.HZ_23)
                        </td>
                        <td  class="@(item.HZ_24 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_24 == 0 ? 24 : item.HZ_24)
                        </td>
                        <td  class="@(item.HZ_25 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_25 == 0 ? 25 : item.HZ_25)
                        </td>
                        <td  class="@(item.HZ_26 == 0 ? "cbg big" : "y101")">
                            @(item.HZ_26 == 0 ? 26 : item.HZ_26)
                        </td>
                        <td  class="@(item.HZ_27 == 0 ? "cbg big line_r" : "y101 line_r")">
                            @(item.HZ_27 == 0 ? 27 : item.HZ_27)
                        </td>
                        <td  class="@(item.HW_0 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_0 == 0 ? 0 : item.HW_0)
                        </td>
                        <td  class="@(item.HW_1 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_1 == 0 ? 1 : item.HW_1)
                        </td>
                        <td  class="@(item.HW_2 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_2 == 0 ? 2 : item.HW_2)
                        </td>
                        <td  class="@(item.HW_3 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_3 == 0 ? 3 : item.HW_3)
                        </td>
                        <td  class="@(item.HW_4 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_4 == 0 ? 4 : item.HW_4)
                        </td>
                        <td  class="@(item.HW_5 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_5 == 0 ? 5 : item.HW_5)
                        </td>
                        <td  class="@(item.HW_6 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_6 == 0 ? 6 : item.HW_6)
                        </td>
                        <td  class="@(item.HW_7 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_7 == 0 ? 7 : item.HW_7)
                        </td>
                        <td  class="@(item.HW_8 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_8 == 0 ? 8 : item.HW_8)
                        </td>
                        <td  class="@(item.HW_9 == 0 ? "cbg tbg1" : "y101")">
                            @(item.HW_9 == 0 ? 9 : item.HW_9)
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_8 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_12 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_13 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_14 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_15 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_16 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_17 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_18 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_19 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_20 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_21 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_22 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_23 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_24 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_25 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HZ_26 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.HZ_27 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(DataList.Count(p => p.HW_8 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(DataList.Count(p => p.HW_9 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_0) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_5) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_6) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_7) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_8) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_9) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_10) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_11) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_12) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_13) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_14) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_15) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_16) / DataList.Count)
                    </td>
                    <td class="">
                        @(DataList.Sum(p => p.HZ_17) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_18) / DataList.Count)
                    </td>
                    <td class="">
                        @(DataList.Sum(p => p.HZ_19) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_20) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_21) / DataList.Count)
                    </td>
                    <td class="">
                        @(DataList.Sum(p => p.HZ_22) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_23) / DataList.Count)
                    </td>
                    <td class="">
                        @(DataList.Sum(p => p.HZ_24) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_25) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HZ_26) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.HZ_27) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_0) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_1) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_2) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_3) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_4) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_5) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_6) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_7) / DataList.Count)
                    </td>
                    <td>
                        @(DataList.Sum(p => p.HW_8) / DataList.Count)
                    </td>
                    <td class="line_r">
                        @(DataList.Sum(p => p.HW_9) / DataList.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_0))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_4))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_5))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_6))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_7))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_8))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_9))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_10))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_11))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_12))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_13))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_14))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_15))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_16))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_17))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_18))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_19))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_20))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_21))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_22))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_23))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_24))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_25))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HZ_26))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.HZ_27))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_0))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_1))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_2))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_3))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_4))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_5))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_6))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_7))
                    </td>
                    <td>
                        @(DataList.Max(p => p.HW_8))
                    </td>
                    <td class="line_r">
                        @(DataList.Max(p => p.HW_9))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_0)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_1)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_2)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_3)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_4)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_5)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_6)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_6)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_7)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_7)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_8)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_8)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_9)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_9)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_10)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_10)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_11)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_11)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_12)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_12)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_13)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_13)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_14)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_14)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_15)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_15)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_16)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_16)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_17)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_17)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_18)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_18)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_19)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_19)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_20)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_20)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_21)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_21)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_22)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_22)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_23)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_23)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_24)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_24)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_25)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_25)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HZ_26)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_26)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(DataList[DataList.Count - 1].HZ_27)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HZ_27)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_0)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_1)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_2)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_3)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_4)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_5)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_6)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_6)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_7)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_7)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(DataList[DataList.Count - 1].HW_8)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_8)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(DataList[DataList.Count - 1].HW_9)<br>
                        <img width="8px" height="@(DataList[DataList.Count - 1].HW_9)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td class="line_r" rowspan="2">
                        日期
                    </td>
                    <td class="line_r" rowspan="2">
                        期号
                    </td>
                    <td colspan="3" class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td class="line_r">
                        和值
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        13
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        15
                    </td>
                    <td>
                        16
                    </td>
                    <td>
                        17
                    </td>
                    <td>
                        18
                    </td>
                    <td>
                        19
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        21
                    </td>
                    <td>
                        22
                    </td>
                    <td>
                        23
                    </td>
                    <td>
                        24
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        26
                    </td>
                    <td class="line_r">
                        27
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        9
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="29" class="line_r">
                        和值分布
                    </td>
                    <td colspan="10">
                        和尾分布
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".tbg1"), color: "#05650E" });

        allLines.push({ line: $(".big"), color: "red" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
