@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "山东十一选五前二形态走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东十一选五前二形态走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "山东十一选五前二形态走势图近" + pageSize + "期,查看更多请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "山东十一选五前二形态走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "山东十一选五前二形态走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的山东11选5前二形态走势图,其中包括第一位和第二位开奖号码的大小走势、012路走势等,让彩民朋友更直观的分析山东11选5前二形态走势图.";
    }
    var q2xtzs = ViewBag.DataList as LotteryData.Core.YDJ11_Q2XTZS_InfoCollection;
    var a = 0;  
}
@{Html.RenderAction("ThendLink", "lotteryTrend");}
<div id="container">
    <div class="cont_box">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" align="center" class="table_box"
            style="width: 1002px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="28">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="76" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" class="line_r">
                        出号
                    </td>
                    <td colspan="4" class="line_r">
                        第一位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第一位012
                    </td>
                    <td colspan="4" class="line_r">
                        第二位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第二位012
                    </td>
                    <td colspan="4" class="line_r">
                        大小组合
                    </td>
                    <td colspan="4" class="line_r">
                        单双组合
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td width="36">
                        大单
                    </td>
                    <td width="36">
                        大双
                    </td>
                    <td width="36">
                        小单
                    </td>
                    <td width="36" class="line_r">
                        小双
                    </td>
                    <td width="36">
                        0
                    </td>
                    <td width="36">
                        1
                    </td>
                    <td width="36" class="line_r">
                        2
                    </td>
                    <td width="36">
                        大单
                    </td>
                    <td width="36">
                        大双
                    </td>
                    <td width="36">
                        小单
                    </td>
                    <td width="36" class="line_r">
                        小双
                    </td>
                    <td width="36">
                        0
                    </td>
                    <td width="36">
                        1
                    </td>
                    <td width="36" class="line_r">
                        2
                    </td>
                    <td width="36">
                        大大
                    </td>
                    <td width="36">
                        大小
                    </td>
                    <td width="36">
                        小大
                    </td>
                    <td width="36" class="line_r">
                        小小
                    </td>
                    <td width="36">
                        单单
                    </td>
                    <td width="36">
                        单双
                    </td>
                    <td width="36">
                        双单
                    </td>
                    <td width="36" class="line_r">
                        双双
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata" style="font-size: 12px; font-family: '宋体',Tahoma,Consolas,Arial,Simsun;">
                @foreach (var item in q2xtzs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="28">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td align="center" class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[0]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[1]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[2]
                        </td>
                        <td class="hot12">
                            @item.WinNumber.Split(',')[3]
                        </td>
                        <td class="hot12 line_r">
                            @item.WinNumber.Split(',')[4]
                        </td>
                        <td class="@(item.DDan == 0 ? "cbg tbg1" : "y101")">
                            @(item.DDan == 0 ? "大单" : item.DDan.ToString())
                        </td>
                        <td class="@(item.DS == 0 ? "cbg tbg1" : "y101")">
                            @(item.DS == 0 ? "大双" : item.DS.ToString())
                        </td>
                        <td class="@(item.XDan == 0 ? "cbg tbg1" : "y101")">
                            @(item.XDan == 0 ? "小单" : item.XDan.ToString())
                        </td>
                        <td class="@(item.XS == 0 ? "cbg tbg1 line_r" : "y101 line_r")">
                            @(item.XS == 0 ? "小双" : item.XS.ToString())
                        </td>
                        <td class="@(item.C3_0 == 0 ? "cbg orange1" : "y101")">
                            @(item.C3_0 == 0 ? "0" : item.C3_0.ToString())
                        </td>
                        <td class="@(item.C3_1 == 0 ? "cbg orange1" : "y101")">
                            @(item.C3_1 == 0 ? "1" : item.C3_1.ToString())
                        </td>
                        <td class="@(item.C3_2 == 0 ? "cbg orange1 line_r" : "y101 line_r")">
                            @(item.C3_2 == 0 ? "2" : item.C3_2.ToString())
                        </td>
                        <td class="@(item.DDan1 == 0 ? "cbg green1" : "y101")">
                            @(item.DDan1 == 0 ? "大单" : item.DDan1.ToString())
                        </td>
                        <td class="@(item.DS1 == 0 ? "cbg green1" : "y101")">
                            @(item.DS1 == 0 ? "大双" : item.DS1.ToString())
                        </td>
                        <td class="@(item.XDan1 == 0 ? "cbg green1" : "y101")">
                            @(item.XDan1 == 0 ? "小单" : item.XDan1.ToString())
                        </td>
                        <td class="@(item.XS1 == 0 ? "cbg green1 line_r" : "y101 line_r")">
                            @(item.XS1 == 0 ? "小双" : item.XS1.ToString())
                        </td>
                        <td class="@(item.C31_0 == 0 ? "cbg purple1" : "y101")">
                            @(item.C31_0 == 0 ? "0" : item.C31_0.ToString())
                        </td>
                        <td class="@(item.C31_1 == 0 ? "cbg purple1" : "y101")">
                            @(item.C31_1 == 0 ? "1" : item.C31_1.ToString())
                        </td>
                        <td class="@(item.C31_2 == 0 ? "cbg purple1 line_r" : "y101 line_r")">
                            @(item.C31_2 == 0 ? "2" : item.C31_2.ToString())
                        </td>
                        <td class="@(item.DX_DD == 0 ? "cbg purple2" : "y101")">
                            @(item.DX_DD == 0 ? "大大" : item.DX_DD.ToString())
                        </td>
                        <td class="@(item.DX_DX == 0 ? "cbg purple2" : "y101")">
                            @(item.DX_DX == 0 ? "大小" : item.DX_DX.ToString())
                        </td>
                        <td class="@(item.DX_XD == 0 ? "cbg purple2" : "y101")">
                            @(item.DX_XD == 0 ? "小大" : item.DX_XD.ToString())
                        </td>
                        <td class="@(item.DX_XX == 0 ? "cbg purple2 line_r" : "y101 line_r")">
                            @(item.DX_XX == 0 ? "小小" : item.DX_XX.ToString())
                        </td>
                        <td class="@(item.DS_DD == 0 ? "cbg gray1" : "y101")">
                            @(item.DS_DD == 0 ? "单单" : item.DS_DD.ToString())
                        </td>
                        <td class="@(item.DS_DS == 0 ? "cbg gray1" : "y101")">
                            @(item.DS_DS == 0 ? "单双" : item.DS_DS.ToString())
                        </td>
                        <td class="@(item.DS_SD == 0 ? "cbg gray1" : "y101")">
                            @(item.DS_SD == 0 ? "双单" : item.DS_SD.ToString())
                        </td>
                        <td class="@(item.DS_SS == 0 ? "cbg gray1 line_r" : "y101 line_r")">
                            @(item.DS_SS == 0 ? "双双" : item.DS_SS.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DDan == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.DS == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.XDan == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.XS == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.C3_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.C3_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.C3_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DDan1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.DS1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.XDan1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.XS1 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.C31_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.C31_1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.C31_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DX_DD == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.DX_DX == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DX_XD == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DX_XX == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DS_DD == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(q2xtzs.Count(p => p.DS_DS == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DS_SD == 0))
                    </td>
                    <td class="bdtop">
                        @(q2xtzs.Count(p => p.DS_SS == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DDan) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DS) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.XDan) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.XS) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.C3_0) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.C3_1) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.C3_2) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DDan1) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DS1) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.XDan1) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.XS1) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.C31_0) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.C31_1) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.C31_2) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DX_DD) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DX_DX) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DX_XD) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.DX_XX) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DS_DD) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DS_DS) / q2xtzs.Count)
                    </td>
                    <td class="">
                        @(q2xtzs.Sum(p => p.DS_SD) / q2xtzs.Count)
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Sum(p => p.DS_SS) / q2xtzs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DDan))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.DS))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.XDan))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.XS))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.C3_0))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.C3_1))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.C3_2))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DDan1))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.DS1))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.XDan1))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.XS1))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.C31_0))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.C31_1))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.C31_2))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DX_DD))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.DX_DX))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DX_XD))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.DX_XX))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DS_DD))
                    </td>
                    <td class="">
                        @(q2xtzs.Max(p => p.DS_DS))
                    </td>
                    <td>
                        @(q2xtzs.Max(p => p.DS_SD))
                    </td>
                    <td class="line_r">
                        @(q2xtzs.Max(p => p.DS_SS))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DDan)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DS)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].XDan)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].XDan)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].XS)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].XS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].C3_0)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C3_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].C3_1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C3_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].C3_2)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C3_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DDan1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DDan1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DS1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].XDan1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].XDan1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].XS1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].XS1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].C31_0)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C31_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].C31_1)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C31_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].C31_2)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].C31_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DX_DD)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DX_DD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DX_DX)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DX_DX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DX_XD)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DX_XD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].DX_XX)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DX_XX)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DS_DD)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS_DD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DS_DS)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS_DS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(q2xtzs[q2xtzs.Count - 1].DS_SD)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS_SD)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(q2xtzs[q2xtzs.Count - 1].DS_SS)<br>
                        <img width="8px" height="@(q2xtzs[q2xtzs.Count - 1].DS_SS)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg weight">
                    <td width="76" rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" colspan="5" class="line_r">
                        出号
                    </td>
                    <td width="36">
                        大单
                    </td>
                    <td width="36">
                        大双
                    </td>
                    <td width="36">
                        小单
                    </td>
                    <td width="36" class="line_r">
                        小双
                    </td>
                    <td width="36">
                        0
                    </td>
                    <td width="36">
                        1
                    </td>
                    <td width="36" class="line_r">
                        2
                    </td>
                    <td width="36">
                        大单
                    </td>
                    <td width="36">
                        大双
                    </td>
                    <td width="36">
                        小单
                    </td>
                    <td width="36" class="line_r">
                        小双
                    </td>
                    <td width="36">
                        0
                    </td>
                    <td width="36">
                        1
                    </td>
                    <td width="36" class="line_r">
                        2
                    </td>
                    <td width="36">
                        大大
                    </td>
                    <td width="36">
                        大小
                    </td>
                    <td width="36">
                        小大
                    </td>
                    <td width="36" class="line_r">
                        小小
                    </td>
                    <td width="36">
                        单单
                    </td>
                    <td width="36">
                        单双
                    </td>
                    <td width="36">
                        双单
                    </td>
                    <td width="36" class="line_r">
                        双双
                    </td>
                </tr>
                <tr class="tabbg weight">
                    <td colspan="4" class="line_r">
                        第一位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第一位012
                    </td>
                    <td colspan="4" class="line_r">
                        第二位大小单双
                    </td>
                    <td colspan="3" class="line_r">
                        第二位012
                    </td>
                    <td colspan="4" class="line_r">
                        大小组合
                    </td>
                    <td colspan="4" class="line_r">
                        单双组合
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        var allLines = new Array();
        allLines.push({ line: $(".big"), color: "red" });
        allLines.push({ line: $(".cbg5"), color: "E7E7E7" });
        var allLines = new Array();
        allLines.push({ line: $(".tbg1"), color: "#05650E" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        allLines.push({ line: $(".green1"), color: "#004F00" });
        allLines.push({ line: $(".purple1"), color: "#0000FE" });
        allLines.push({ line: $(".purple2"), color: "#36006F" });
        allLines.push({ line: $(".gray1"), color: "#FF590B" });



        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
