@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "重庆时时彩一星走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆时时彩一星走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "重庆时时彩一星走势图近" + pageSize + "期,查看更多请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "重庆时时彩一星走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "重庆时时彩一星走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的重庆时时彩一星直选走势图,其中包括个位开奖号码的走势分布及大小、奇偶、质合、除3余数等分布情况,让彩民朋友更直观的分析重庆时时彩一星直选走势图.";
    }
    var s1zs = ViewBag.DataList as List<LotteryData.Core.CQSSC_1X_ZS_Info>;
    var a = 0;
    var phasseOrder = ViewBag.PhasseOrder;
    string id = "s1zs_cqssc_" + phasseOrder;
    var size = string.IsNullOrEmpty(pageSize) ? ViewBag.PageSize : pageSize;
    string url = string.Format("/statichtml/lotteryTrend/CQSSC/s1zs{0}_up.html", size);
    if (phasseOrder == "up")
    {
        url = string.Format("/statichtml/lotteryTrend/CQSSC/s1zs{0}.html", size);
    }
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = id });}
<div id="container">
    <div class="cont_box" style="width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1009px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="22">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="39" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" width="107" rowspan="2">
                        期号
                         @if (phasseOrder == "down")
                        {
                            <a href="@url">
                                <img id="phaseOrder" class="th_order_up" src=@ViewHelpers.img("lotterytrend/down.png") alt/>
                            </a>
                        }
                        else
                        {
                            <a href="@url">
                                <img id="phaseOrder" class="th_order_up" src=@ViewHelpers.img("lotterytrend/up.png") alt/>
                            </a>
                        }
                    </td>
                    <td class="line_r" width="72" rowspan="2">
                        开奖号码
                    </td>
                    <td class="line_r" colspan="10">
                        个位
                    </td>
                    <td class="line_r" colspan="2">
                        大小
                    </td>
                    <td class="line_r" colspan="2">
                        奇偶
                    </td>
                    <td class="line_r" colspan="2">
                        质合
                    </td>
                    <td colspan="3">
                        除3余数
                    </td>
                </tr>
                <tr class="tabbg">
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td class="line_r">
                        9
                    </td>
                    <td>
                        大
                    </td>
                    <td class="line_r">
                        小
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in s1zs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="22">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="line_r">
                            @a
                        </td>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td class="line_r hot12" align="center">
                            @item.RedBall1
                        </td>
                        <td class="@(item.Red_G0 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G0 == 0 ? "0" : item.Red_G0.ToString())
                        </td>
                        <td class="@(item.Red_G1 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G1 == 0 ? "1" : item.Red_G1.ToString())
                        </td>
                        <td class="@(item.Red_G2 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G2 == 0 ? "2" : item.Red_G2.ToString())
                        </td>
                        <td class="@(item.Red_G3 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G3 == 0 ? "3" : item.Red_G3.ToString())
                        </td>
                        <td class="@(item.Red_G4 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G4 == 0 ? "4" : item.Red_G4.ToString())
                        </td>
                        <td class="@(item.Red_G5 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G5 == 0 ? "5" : item.Red_G5.ToString())
                        </td>
                        <td class="@(item.Red_G6 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G6 == 0 ? "6" : item.Red_G6.ToString())
                        </td>
                        <td class="@(item.Red_G7 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G7 == 0 ? "7" : item.Red_G7.ToString())
                        </td>
                        <td class="@(item.Red_G8 == 0 ? "cbg hot01" : "y101")">
                            @(item.Red_G8 == 0 ? "8" : item.Red_G8.ToString())
                        </td>
                        <td class="@(item.Red_G9 == 0 ? "cbg hot01 line_r" : "y101 line_r")">
                            @(item.Red_G9 == 0 ? "9" : item.Red_G9.ToString())
                        </td>
                        <td class="@(item.D_Red1 == 0 ? "cbg tbg1" : "y101")">
                            @(item.D_Red1 == 0 ? "大" : item.D_Red1.ToString())
                        </td>
                        <td class="@(item.X_Red1 == 0 ? "cbg tbg1 line_r" : "y101 line_r")">
                            @(item.X_Red1 == 0 ? "小" : item.X_Red1.ToString())
                        </td>
                        <td class="@(item.J_Red1 == 0 ? "cbg orange1" : "y101")">
                            @(item.J_Red1 == 0 ? "奇" : item.J_Red1.ToString())
                        </td>
                        <td class="@(item.O_Red1 == 0 ? "cbg orange1 line_r" : "y101 line_r")">
                            @(item.O_Red1 == 0 ? "偶" : item.O_Red1.ToString())
                        </td>
                        <td class="@(item.Z_Red1 == 0 ? "cbg green1" : "y101")">
                            @(item.Z_Red1 == 0 ? "质" : item.Z_Red1.ToString())
                        </td>
                        <td class="@(item.H_Red1 == 0 ? "cbg green1 line_r" : "y101 line_r")">
                            @(item.H_Red1 == 0 ? "合" : item.H_Red1.ToString())
                        </td>
                        <td class="@(item.O_Red1_0 == 0 ? "cbg purple1" : "y101")">
                            @(item.O_Red1_0 == 0 ? "0" : item.O_Red1_0.ToString())
                        </td>
                        <td class="@(item.O_Red1_1 == 0 ? "cbg purple1" : "y101")">
                            @(item.O_Red1_1 == 0 ? "1" : item.O_Red1_1.ToString())
                        </td>
                        <td class="@(item.O_Red1_2 == 0 ? "cbg purple1" : "y101")">
                            @(item.O_Red1_2 == 0 ? "2" : item.O_Red1_2.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r" colspan="2">
                        出现次数
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G0 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G2 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G3 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G4 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G5 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G6 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G7 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Red_G8 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s1zs.Count(p => p.Red_G9 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.D_Red1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s1zs.Count(p => p.X_Red1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.J_Red1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s1zs.Count(p => p.O_Red1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.Z_Red1 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s1zs.Count(p => p.H_Red1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.O_Red1_0 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s1zs.Count(p => p.O_Red1_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s1zs.Count(p => p.O_Red1_2 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        平均遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G0) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G1) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G2) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G3) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G4) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G5) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G6) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G7) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Red_G8) / s1zs.Count)
                    </td>
                    <td class="line_r">
                        @(s1zs.Sum(p => p.Red_G9) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.D_Red1) / s1zs.Count)
                    </td>
                    <td class="line_r">
                        @(s1zs.Sum(p => p.X_Red1) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.J_Red1) / s1zs.Count)
                    </td>
                    <td class="line_r">
                        @(s1zs.Sum(p => p.O_Red1) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.Z_Red1) / s1zs.Count)
                    </td>
                    <td class="line_r">
                        @(s1zs.Sum(p => p.H_Red1) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.O_Red1_0) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.O_Red1_1) / s1zs.Count)
                    </td>
                    <td>
                        @(s1zs.Sum(p => p.O_Red1_2) / s1zs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        最大遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G0))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G1))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G2))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G3))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G4))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G5))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G6))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G7))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Red_G8))
                    </td>
                    <td class="line_r">
                        @(s1zs.Max(p => p.Red_G9))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.D_Red1))
                    </td>
                    <td class="line_r">
                        @(s1zs.Max(p => p.X_Red1))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.J_Red1))
                    </td>
                    <td class="line_r">
                        @(s1zs.Max(p => p.O_Red1))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.Z_Red1))
                    </td>
                    <td class="line_r">
                        @(s1zs.Max(p => p.H_Red1))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.O_Red1_0))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.O_Red1_1))
                    </td>
                    <td>
                        @(s1zs.Max(p => p.O_Red1_2))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r" colspan="2">
                        当前遗漏
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G0)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G2)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G3)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G4)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G5)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G6)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G6)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G7)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G7)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s1zs[s1zs.Count - 1].Red_G8)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G8)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s1zs[s1zs.Count - 1].Red_G9)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Red_G9)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].D_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].D_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r">
                        @(s1zs[s1zs.Count - 1].X_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].X_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].J_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].J_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r">
                        @(s1zs[s1zs.Count - 1].O_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].O_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].Z_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].Z_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td class="line_r">
                        @(s1zs[s1zs.Count - 1].H_Red1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].H_Red1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].O_Red1_0)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].O_Red1_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].O_Red1_1)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].O_Red1_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td>
                        @(s1zs[s1zs.Count - 1].O_Red1_2)<br>
                        <img width="8px" height="@(s1zs[s1zs.Count - 1].O_Red1_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg">
                    <td width="39" class="line_r" rowspan="2">
                        序号
                    </td>
                    <td align="center" class="line_r" rowspan="2">
                        期号
                    </td>
                    <td class="line_r" rowspan="2">
                        开奖号码
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td class="line_r">
                        9
                    </td>
                    <td>
                        大
                    </td>
                    <td class="line_r">
                        小
                    </td>
                    <td>
                        奇
                    </td>
                    <td class="line_r">
                        偶
                    </td>
                    <td>
                        质
                    </td>
                    <td class="line_r">
                        合
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr class="tabbg">
                    <td class="line_r" colspan="10">
                        个位
                    </td>
                    <td class="line_r" colspan="2">
                        大小
                    </td>
                    <td class="line_r" colspan="2">
                        奇偶
                    </td>
                    <td class="line_r" colspan="2">
                        质合
                    </td>
                    <td colspan="3">
                        除3余数
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".tbg1"), color: "#05650E" });
        allLines.push({ line: $(".orange1"), color: "#FF590B" });
        allLines.push({ line: $(".green1"), color: "#004F00" });
        allLines.push({ line: $(".purple1"), color: "#0000FE" });
        allLines.push({ line: $(".hot01"), color: "#7EBD8C" });
        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
