<div id="footer">
    <div class="link">
        <ul>
            <li><a href="/help/business1" target="_blank">
                <img src="@ViewHelpers.img("/home/wzba.jpg")" /></a></li>
            <li><a href="http://net.china.com.cn/index.htm" target="_blank">
                <img src="@ViewHelpers.img("/home/blxx.jpg")" /></a></li>
            <li><a href="http://www.lottery.gov.cn" target="_blank">
                <img src="@ViewHelpers.img("/home/tczx.jpg")" /></a></li>
            <li><a href="http://www.cwl.gov.cn" target="_blank">
                <img src="@ViewHelpers.img("/home/fczx.jpg")" /></a></li>
            <li><a href="https://ss.knet.cn/verifyseal.dll?sn=e14122550010357020fcgq000000&ct=df&a=1&pa=0.09965953300707042"
                target="_blank">
                <img src="@ViewHelpers.img("/home/kxwz.jpg")" /></a></li>
            <li><a href="http://zhanzhang.anquan.org/physical/report/?domain=" + SiteString.getHZSiteUrl(Request) + "" target="_blank">
                <img src="@ViewHelpers.img("/home/aqlm.jpg")" /></a></li>
            <li><a href="http://webscan.360.cn/index/checkwebsite?url=" + SiteString.getHZSiteUrl(Request) + "" target="_blank">
                <img src="@ViewHelpers.img("/home/wlsh.jpg")" /></a></li>
            <li><a href="http://beian.cqwa.gov.cn/open/showRecord?id=50010302000267" target="_blank">
                <img src="@ViewHelpers.img("/home/wjba.png")" /></a></li>
        </ul>
    </div>
    <div style="clear: both;">
    </div>
    <div class="huodong_copyright">
        © 2007-@DateTime.Now.Year <a href="@SiteString.root(Request)" title="@SiteString.getHZSiteName(Request)">
            @SiteString.getHZSiteUrl(Request)</a> All Rights Reserved <em>|</em> ICP备案：<a href="javascript:;" onclick="window.open('http://www.miibeian.gov.cn/')">@SiteString.icp</a>
        <em>|</em> 免费客服热线：@SiteString.tel (09:00-24:00)
        <br />
        <b>郑重提示：</b>网上买彩票需理性，请选择诚信的彩票代购网站，@(SiteString.getHZSiteName(Request))不向未满18周岁的青少年出售彩票及提供彩票代购服务<br />
        <span class="f-link"><a href="/help/abtus" target="_blank" title="关于我们">关于我们</a>|<a
            href="/statichtml/register.html" target="_blank" title="">用户注册</a>|<a href="/help/websiteMap"
                target="_blank" title="">网站地图</a>|<a href="/help/links" target="_blank" title="">友情链接</a>
        </span>
    </div>
</div>
