@using GameBiz.Core;
@using app.lottery.site.Models;
@{ 
    ViewBag.Title = "代购订单详情 - 用户中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.keywords = "代购订单详情, 用户中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
    //订单详情
    var Scheme = ViewBag.SchemeInfo as Sports_SchemeQueryInfo;
    //查询足彩订单投注列表
    var anteList = ViewBag.AnteList as Sports_AnteCodeQueryInfoCollection;
    //单式上传
    var singleInfo = ViewBag.SingleInfo as SingleScheme_AnteCodeQueryInfo;
    var SportsTicket = ViewBag.SportsTicket as List<Sports_TicketQueryInfo>;
    //当前用户
    var user = ViewBag.user as CurrentUserInfo;
    //方案截止时间
    var schemeStopTime = SiteString.ConvertDateTimeInt(Scheme != null ? Scheme.StopTime : DateTime.Now);

    var atIndex = Scheme != null ? OrderManager.Progress_StatusIndex(Scheme.ProgressStatus, Scheme.TicketStatus, Scheme.BonusStatus, Scheme.IsPrizeMoney) : 0;
    var statusName = Scheme != null ? OrderManager.OrderStatusName(Scheme.SchemeType, Scheme.ProgressStatus, Scheme.TicketStatus, Scheme.BonusStatus, Scheme.IsPrizeMoney) : "";
    var schemestatus = Scheme != null ? OrderManager.OrderStatusName(Scheme.SchemeType, Scheme.ProgressStatus, Scheme.TicketStatus, Scheme.BonusStatus, Scheme.IsPrizeMoney, true, Scheme.IsVirtualOrder) : "";
    var sign = Request["sign"];
    var orderDetail = ViewBag.OrderDetail as BettingOrderInfo;
    var AddAwardNum = Scheme != null ? string.IsNullOrEmpty(Scheme.ExtensionOne) ? "" : (Scheme.ExtensionOne.Split('_').Length >= 2) ? Scheme.ExtensionOne.Split('_')[1] : "" : "";//加奖方案
}
@if (Scheme != null)
{
    <div class="crumb">
        <ul>
            <li class="a">您当前的位置：</li>
            <li><a href="/">首页</a> > </li>
            <li>@*@(Scheme.SchemeType == SchemeType.SingleCopy ? "抄单" : "普通")订单详情*@
                @{
    if (Scheme.SchemeType == SchemeType.SingleCopy)
    {
                    @(new HtmlString("抄单"))
    }
    else if (Scheme.SchemeType == SchemeType.SaveScheme)
    {
                    @(new HtmlString("保存订单"))
    }
    else if (Scheme.SchemeType == SchemeType.SingleTreasure)
    {
                    @(new HtmlString("神单分享"))
    }
    else
    {
                    @(new HtmlString("普通"))
    }
                }
                订单详情
                @(Scheme != null ? (Scheme.SchemeBettingCategory == SchemeBettingCategory.YouHua ? "- 奖金优化" : Scheme.SchemeBettingCategory == SchemeBettingCategory.SingleBetting ? "- 单式上传" : Scheme.SchemeBettingCategory == SchemeBettingCategory.FilterBetting ? "- 方案过滤" : Scheme.SchemeBettingCategory == SchemeBettingCategory.HunHeDG ? "单关固定" : "") : "")
            </li>
        </ul>
    </div>
    <div class="xq_split clearfix">
        <b></b>
        <div class="line-01 clearfix">
            <span>方案信息</span> <i></i>
        </div>
    </div>
    <div class="xqtop clearfix">
        <div class="xqtitle clearfix">
            <div class="fl xq_tab">
                <ul>
                    <li class="li_0"><span>发&nbsp;&nbsp;起&nbsp;人：</span> <span><a href="/blog/standings/@Scheme.UserId" class="td_blue" target="_blank">
                        @SiteString.HideUserName(Scheme.UserDisplayName, Scheme.HideDisplayNameCount)</a>
                        @if (user == null || user.LoginInfo.UserId != Scheme.UserId)
                        {
                            <a href="javascript:void(0)" class="btn_gz underline" onclick=" user.attentionLogin(true, '@Scheme.UserId'); ">
                                关注</a>
                        }
                    </span></li>
                    <li class="li_1"><span class="span_0"><a class="td_blue" onclick=" docBox.init({ userName: '@SiteString.HideUserName(Scheme.UserDisplayName, Scheme.HideDisplayNameCount)', userId: '@Scheme.UserId', gameCode: '@Scheme.GameCode', gameName: '@SiteConvert.GameName(Scheme.GameCode, Scheme.GameType)', gameType: '@Scheme.GameType' }); ">
                        定制跟单：</a> </span><span>
                            @(ViewBag.FollowedCount)人 <a class="btn_copy underline" onclick=" Tool.CopyText(location.href); ">
                                复制方案连接</a> </span></li>
                    <li class="li_2"><span class="span_0">截止时间：</span> <span class="td_time">
                        @(Scheme.StopTime.ToString("yyyy-MM-dd HH:mm:ss"))
                        @if (Scheme.StopTime < DateTime.Now)
                        {
                            <em>(已截止)</em>
                        }
                    </span></li>
                </ul>
                <ul>
                    <li><span>方案编号：</span> <span class="scheme_span">@Scheme.SchemeId</span> </li>
                    <li><span class="span_0">彩种期号：</span> <span class="game_issuse">@SiteConvert.GameName(Scheme.GameCode, Scheme.GameType)&nbsp;第@(Scheme.IssuseNumber)期(代购方案)
                    </span></li>
                    @if (orderDetail.SchemeType != SchemeType.SingleCopy)
                    {
                        <li>
                            @{
                        var serIndex = 1;
                        switch (Scheme.Security)
                        {
                            case TogetherSchemeSecurity.Unkown:
                            case TogetherSchemeSecurity.Public:
                                serIndex = 1;
                                break;

                            case TogetherSchemeSecurity.JoinPublic:
                                serIndex = 2;
                                break;
                            case TogetherSchemeSecurity.FirstMatchStopPublic:
                            case TogetherSchemeSecurity.CompletePublic:
                                serIndex = 3;
                                break;
                            case TogetherSchemeSecurity.KeepSecrecy:
                                serIndex = 4;
                                break;
                            case TogetherSchemeSecurity.UpLoadSchemePublic:
                                serIndex = 4;
                                break;
                            default:
                                serIndex = 1;
                                break;
                        }
                            }
                            <span class="ser ser_@(serIndex)"><i></i><b>@OrderManager.SecurityName(Scheme.Security)</b>
                            </span></li>
                    }
                    @if (Scheme.SchemeSource == SchemeSource.Android)
                    {
                        <li><span class="source_android"></span></li>

                    }
                    else if (Scheme.SchemeSource == SchemeSource.Touch)
                    {
                        <li><span class="source_touch"></span></li>
                    }
                    else if (Scheme.SchemeSource == SchemeSource.Iphone)
                    {
                        <li><span class="source_iphone"></span></li>
                    }
                </ul>
            </div>
            <div class="fr">
                <ul class="tab_ul">
                    <li class="liw_0"><cite>中</cite> <cite>奖</cite> <cite>信</cite> <cite>息</cite> </li>
                    <li class="liw_2"><span class="@(Scheme.BonusStatus == BonusStatus.Win ? "bonuswin" : Scheme.BonusStatus == BonusStatus.Waitting ? "watibonuse" : "")">
                    </span></li>
                    <li class="liw_3">
                        @if (OrderManager.IsAward(Scheme.BonusStatus))
                        {
                            if (Scheme.BonusStatus == BonusStatus.Win)
                            {
                                //var premoney = Scheme.PreTaxBonusMoney > 10000 ? (Scheme.PreTaxBonusMoney / 10000) + "万" : Scheme.PreTaxBonusMoney.ToString("N2");
                                //var aftermoney = Scheme.AfterTaxBonusMoney > 10000 ? (Scheme.AfterTaxBonusMoney / 10000) + "万" : Scheme.AfterTaxBonusMoney.ToString("N2");
                                var premoney = Scheme.PreTaxBonusMoney.ToString("N2");
                                var aftermoney = Scheme.AfterTaxBonusMoney.ToString("N2");
                            <p>
                                税前金额：<em>@(premoney)元</em></p>
                            <p>
                                税后金额：<em>@(aftermoney)元</em></p>
                            <p>
                                加奖金额：<em>@(Scheme.AddMoney.ToString("N2"))元
                                    @if (Scheme.RedBagAwardsMoney > 0)
                                    {
                                        @(new HtmlString("(红包)"))
                                    }
                                    else if (Scheme.BonusAwardsMoney > 0)
                                    {
                                        @(new HtmlString("(奖金)"))
                                    }
                                </em>
                            </p>
                            }
                            else
                            {
                            <p style="margin-top: 23px;">
                                很遗憾，该方案没有中奖哦</p>
                            }
                        }
                        else
                        {
                            if ((Scheme.GameCode.ToLower() == "bjdc" || Scheme.GameCode.ToLower() == "jczq" || Scheme.GameCode.ToLower() == "jclq") && (Scheme.MaxBonusMoney > 0M && Scheme.MinBonusMoney > 0M))
                            {
                            <p>
                                <span class="gray">我们在核对赔率后会即时派发奖金</span>
                            </p>
                            <p>
                                <span style="color: #fe8127;">预测奖金：</span> <span style="color: Red; font-weight: bold">@Scheme.MinBonusMoney.ToString("N2")
                                    ~ @Scheme.MaxBonusMoney.ToString("N2")</span>元
                            </p>
                            }
                            else
                            {
                            <p style="margin-top: 23px;">
                                <span>我们在核对赔率后会即时派发奖金</span></p>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="xqname ">
            <table class="xq_name_tab">
                <colgroup>
                    <col width="100" />
                    <col width="450" />
                    <col width="80" />
                    <col width="100" />
                    <col width="125" />
                    <col width="145" />
                </colgroup>
                <thead>
                    <tr>
                        <td>
                            投注金额
                        </td>
                        <td>
                            过关方式
                        </td>
                        <td>
                            倍数
                        </td>
                        <td>
                            注数
                        </td>
                        <td>
                            方案状态
                        </td>
                        <td>
                            中奖金额
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        ￥<em class="totalmoney">
                            @Scheme.TotalMoney.ToString("0")
                        </em>
                    </td>
                    <td>@SiteConvert.PlayTypeName(Scheme.PlayType)
                    </td>
                    <td>@(Scheme.Amount)倍
                    </td>
                    <td>@(Scheme.BetCount)注
                    </td>
                    <td>
                        @{
                        //保存订单可以购买
                        if (Scheme.SchemeType == SchemeType.SaveScheme || Scheme.SchemeType == SchemeType.SingleTreasure)
                        {
@*if (user != null && Scheme.UserId == user.LoginInfo.UserId && Scheme.StopTime > DateTime.Now)
                                {
                                    <a  id="save_buy" class="status_btn status_win" style="cursor: pointer"  onclick=" delbuy('@Scheme.GameCode', '@Scheme.BetCount', '@Scheme.Amount', '@Scheme.TotalMoney.ToString("f")', '@Scheme.SchemeId') ">
                                        购买</a>
                                }
                                else
                                {
                                    <a id="save_buy" class="status_btn status_waiting" style="cursor: pointer">保存订单</a>
                                }*@
                            <a id="save_buy" class="status_btn status_waiting" style="cursor: pointer">@(Scheme.SchemeType == SchemeType.SaveScheme ? "保存订单" : "神单分享")
                            </a>

                        }
                        else if ((Scheme.BonusStatus == BonusStatus.Lose || Scheme.BonusStatus == BonusStatus.Win))
                        {

                            <a class="status_btn @(Scheme.BonusStatus == BonusStatus.Win ? "status_win" : "status_lose") " style="cursor: pointer" >
                                @(Scheme.BonusStatus == BonusStatus.Win ? "已中奖" : "未中奖")
                            </a>
@*if (user != null && user.LoginInfo.UserId == Scheme.UserId && !Scheme.IsVirtualOrder)
                                {
                                    if (Scheme.SchemeId.ToLower().StartsWith("jczq") || Scheme.SchemeId.ToLower().StartsWith("jclq") || Scheme.SchemeId.ToLower().StartsWith("ctzq") || Scheme.SchemeId.ToLower().StartsWith("dlt") || Scheme.SchemeId.ToLower().StartsWith("pl3"))
                                    {
                                        <a class="status_btn status_tick" id="oas-sqpy">@(ViewBag.SampleTicket == null ? "票样申请" : "票样查询")</a>
                                    }
                                }*@
                        }
@*else if (Scheme.SchemeType == SchemeType.SingleTreasure)
                            {
                                        <a id="save_buy" class="status_btn status_waiting" style="cursor: pointer">神单分享</a>
                            }*@
                        else
                        {
                            if (Scheme.SchemeType == SchemeType.ExperterScheme)
                            {
                            <a class="status_btn status_win" style="cursor: pointer">推荐方案</a>
                            }
                            else
                            {
                                if (SiteString.UserIdList().Contains(Scheme.UserId) && schemestatus.Contains("撤单"))
                                {
                            <a class="status_btn status_waiting" style="cursor: pointer">@statusName</a>
                                }
                                else if (Scheme.StopTime < DateTime.Now && Scheme.TicketStatus == TicketStatus.Waitting)
                                {
                            <a class="status_btn status_lose" style="cursor: pointer">已过期</a>
                                }
                                else
                                {
                            <a class="status_btn status_waiting" style="cursor: pointer">@schemestatus</a>
                                }
                            }
                        }
                        }
                    </td>
                    <td>
                        @if ((Scheme.AfterTaxBonusMoney + Scheme.AddMoney) < 0M)
                        {
                            <span>退票</span>
                        }
                        else
                        {
                            @((Scheme.AfterTaxBonusMoney + Scheme.AddMoney).ToString("N2"))
                            <span class="red">
                                @{
                            if (Scheme.RedBagAwardsMoney > 0)
                            {
                                    @(new HtmlString("(加奖红包:" + Scheme.RedBagAwardsMoney.ToString("N2") + ")"))
                            }
                            else if (Scheme.BonusAwardsMoney > 0)
                            {
                                    @(new HtmlString("(加奖奖金:" + Scheme.BonusAwardsMoney.ToString("N2") + ")"))
                            }
                                }
                            </span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
                        if (Scheme.SchemeType != SchemeType.SaveScheme && Scheme.SchemeType != SchemeType.SingleTreasure)
                        {
    <div class="xq_split clearfix">
        <b class="fajd_icon"></b>
        <div class="line-01 clearfix">
            <span>方案进度</span> <i></i>
        </div>
    </div>
    <div class="ztbox clearfix">
        @if (!string.IsNullOrEmpty(AddAwardNum) && int.Parse(AddAwardNum) == 0)
        {
            <div class="ztbox_jj">
                <span></span>
            </div>
        }
        <div class="ztboxL @(!string.IsNullOrEmpty(AddAwardNum) && int.Parse(AddAwardNum) == 0 ? "jj_show" : "") clearfix">
            @OrderHelper.NewOrderProgressView(atIndex, Scheme.SchemeType, Scheme.CreateTime, (Scheme.TicketTime.HasValue ? Scheme.TicketTime.Value.ToString("MM-dd HH:mm") : ""), Scheme.ComplateDateTime, Scheme.StopTime, Scheme.TicketStatus)
        </div>
    </div>
                        }

                        if (Scheme.SchemeType == SchemeType.SingleCopy)
                        {
    <div class="xq_split clearfix">
        <b class="fajd_icon"></b>
        <div class="line-01 clearfix">
            <span>神单分享方案</span> <i></i>
        </div>
    </div>
    <div class="ztbox clearfix">
        <div class="ztboxL clearfix">
            <div class="bdfx_main">
                @{
                            var serIndex = 1;
                            switch (Scheme.Security)
                            {
                                case TogetherSchemeSecurity.Unkown:
                                case TogetherSchemeSecurity.Public:
                                    serIndex = 1;
                                    break;
                                case TogetherSchemeSecurity.JoinPublic:

                                    serIndex = 2;
                                    break;
                                case TogetherSchemeSecurity.FirstMatchStopPublic:
                                case TogetherSchemeSecurity.CompletePublic:
                                    serIndex = 3;
                                    break;
                                case TogetherSchemeSecurity.KeepSecrecy:
                                    serIndex = 4;
                                    break;
                                case TogetherSchemeSecurity.UpLoadSchemePublic:
                                    serIndex = 4;
                                    break;
                                default:
                                    serIndex = 1;
                                    break;
                            }

                            var BDFXCommision = ViewBag.BDFXCommision as BDFXCommisionInfo;
                            var tcmoney = ((orderDetail.AfterTaxBonusMoney - orderDetail.TotalMoney) * BDFXCommision.Commission) / 100;

                            tcmoney = Math.Truncate(tcmoney * 100) / 100;

                            tcmoney = tcmoney < 0 ? 0 : tcmoney;
                            var gmrsdmoney = orderDetail.AfterTaxBonusMoney - tcmoney;

                }
                <span>神单作者：@BDFXCommision.UserName
                </span><span>奖金盈利提成：<label class="font_fd6c00">
                    @(BDFXCommision.Commission.ToString("N0"))%</label></span> <span>提成金额：<label class="font_fd6c00">@(tcmoney.ToString("F2"))
                        元</label>
                    </span><span>购买人奖金实得金额：<label class="font_fd6c00">@(gmrsdmoney.ToString("F2"))元</label></span>
                <span class="ser ser_@(serIndex) bdfxendspan"><i></i><b>@OrderManager.SecurityName(Scheme.Security)</b>
                </span>
            </div>
        </div>
    </div>
                        }

    <div class="xq_split clearfix">
        <b class="faxq_icon"></b>
        <div class="line-01">
            <span>方案详情</span> <i></i>
        </div>
    </div>
                        if (Scheme.SchemeType == SchemeType.SingleTreasure && Scheme.Security == TogetherSchemeSecurity.FirstMatchStopPublic && Scheme.StopTime > DateTime.Now && (user == null || (user != null && Scheme.UserId != user.LoginInfo.UserId)))
                        {
    <div class="ztbox clearfix">
        <div class="bdfx_main" style="text-align: center">
            距离内容公开时间还有：<span id="stoptimeBdfx"> <em>00</em>天<em>00</em>时<em>00</em>分<em>00</em>秒</span>
        </div>
    </div>
                        }
                        else if (Scheme.SchemeType == SchemeType.SingleCopy && Scheme.Security == TogetherSchemeSecurity.FirstMatchStopPublic && Scheme.StopTime > DateTime.Now)
                        {
    <div class="ztbox clearfix">
        <div class="bdfx_main" style="text-align: center">
            距离内容公开时间还有：<span id="stoptimeBdfx"> <em>00</em>天<em>00</em>时<em>00</em>分<em>00</em>秒</span>
        </div>
    </div>
                        }
                        else
                        {

    <div class="xqmain clearfix">
        @if (((Scheme.SchemeBettingCategory == SchemeBettingCategory.GeneralBetting || Scheme.SchemeBettingCategory == SchemeBettingCategory.ErXuanYi) && anteList != null) || (singleInfo != null))
        {
            switch (OrderManager.GameCategory(Scheme.GameCode))
            {
                case GameCategory.北单竞彩:
            @OrderHelper.AnteListView_NewBDJC(Scheme.GameCode, Scheme.GameType, Scheme.BetCount, Scheme.Amount, Scheme.PlayType, anteList, Scheme.SchemeBettingCategory, singleInfo, Scheme.IssuseNumber)
       break;
                case GameCategory.传统足球:
            @OrderHelper.AnteListView_NewCTZQ(Scheme.GameCode, Scheme.GameType, anteList, Scheme.SchemeBettingCategory, singleInfo, Scheme.IssuseNumber)
       break;
                case GameCategory.数字彩:
            @OrderHelper.AnteListView_NewSZC(Scheme.GameCode, anteList, Scheme.Amount, Scheme.IsAppend)
       break;
                case GameCategory.欧洲杯:
            @OrderHelper.AnteListView_OZB(Scheme.GameType, Scheme.Amount, anteList);
                                                                                 break;
                case GameCategory.世界杯:
            @OrderHelper.AnteListView_SJB(Scheme.GameType, Scheme.Amount, anteList);
                                                                                   break;
            }
        }
        else if ((Scheme.SchemeBettingCategory == SchemeBettingCategory.YouHua || Scheme.SchemeBettingCategory == SchemeBettingCategory.HunHeDG) && anteList != null && !string.IsNullOrEmpty(Scheme.Attach))
        {

            @OrderHelper.AnteListView_YouHua(anteList, Scheme.PlayType, Scheme.Attach)
        }
        else
        {
            <div style="text-align: center">
                @OrderManager.SecurityName(Scheme.Security)
            </div>
        }
    </div>

                        }

                        if (anteList != null)
                        {
                            //Scheme.SchemeType == SchemeType.SingleTreasure 不显示保单分享、保存订单
                            if (Scheme != null && Scheme.SchemeType != SchemeType.SaveScheme && Scheme.SchemeType != SchemeType.SingleTreasure && ((Scheme.GameCode.ToLower().IndexOf("jc") >= 0 && anteList != null && Scheme.TicketStatus == TicketStatus.Ticketed) || (SportsTicket.Count > 0)))
                            {
    <div class="xq_split clearfix">
        <b class="facf_icon"></b>
        <div class="line-01">
            <span>方案拆分明细
                @if (orderDetail.TotalMoney != orderDetail.CurrentBettingMoney)
                {
                    <em class="font_fd6c00">(由于限号或场次停售原因该订单实际出票金额为:@orderDetail.CurrentBettingMoney.ToString("f2")
                        元)</em>
                }
            </span><i></i>
        </div>
    </div>
                if (Scheme.SchemeType == SchemeType.SingleTreasure && Scheme.Security == TogetherSchemeSecurity.FirstMatchStopPublic && Scheme.StopTime > DateTime.Now && (user == null || (user != null && Scheme.UserId != user.LoginInfo.UserId)))
                {
    <div class="ztbox clearfix">
        <div class="bdfx_main" style="text-align: center">
            距离内容公开时间还有：<span id="stoptimeBdfxfzcfmx"> <em>00</em>天<em>00</em>时<em>00</em>分<em>00</em>秒</span>
        </div>
    </div>
                }
                else if (Scheme.SchemeType == SchemeType.SingleCopy && Scheme.Security == TogetherSchemeSecurity.FirstMatchStopPublic && Scheme.StopTime > DateTime.Now)
                {
    <div class="ztbox clearfix">
        <div class="bdfx_main" style="text-align: center">
            距离内容公开时间还有：<span id="stoptimeBdfxfzcfmx"> <em>00</em>天<em>00</em>时<em>00</em>分<em>00</em>秒</span>
        </div>
    </div>
                }
                else
                {

    <div class="facfbox cl">
        @if (Scheme.GameCode.ToLower().IndexOf("jc") >= 0 && anteList != null && Scheme.TicketStatus == TicketStatus.Ticketed)
        {
            @OrderHelper.SpliteTicketView(anteList, Scheme.GameCode, Scheme.GameType, Scheme.PlayType, Scheme.BetCount, Scheme.Amount, Scheme.TotalMoney, Scheme.AfterTaxBonusMoney, Scheme.SchemeBettingCategory)
        }
        <div class="showtick">
        </div>
    </div>
                }


                            }
                        }

}
else
{
    <div id="lay_bg">
        <div class=" clearfix" id="lay_bg_img">
            <div class="new_f_top">
            </div>
            <a href="/">去@(SiteString.getHZSiteName(Request))首页</a>
        </div>
    </div>


}
<div style="display: none; z-index: 60123; *z-index: 0; top: 0px; left: 0px; position: fixed;
    height: 100%; width: 100%; opacity: 0.3; background-color: #000; filter: alpha(opacity=20)"
    id="pop-mask-st">
</div>
<div class="sampletickets">
</div>
@{Html.RenderPartial("box_confirm_gg");}
<script type="text/javascript">
    $(".showtick").html("<div class=\"load-bs\">正在加载中,请稍等...</div>");
    $(".showtick").load("/user/sportsticket", { SchemeId: "@(Scheme == null ? "" : Scheme.SchemeId)", userId: "@(Scheme == null ? "" : Scheme.UserId)", schemeStatus: "@(schemestatus)", Amount: @(Scheme == null ? 1 : Scheme.Amount) });
    $(".xq_split").click(function () {
        if ($(this).hasClass("xq_show")) {
            $(this).next("div").slideDown();
            $(this).removeClass("xq_show");
        } else {
            $(this).next("div").slideUp();
            $(this).addClass("xq_show");
        }
    });
    //索票
    $("#oas-sqpy").click(function() {
        user.isLogin(function(islogin) {
            if (!islogin) {
                loginDialog.Show();
                user.LoginCallBack = function() {
                    window.location.href = window.location.href;
                };
            } else {
                $("#pop-mask-st").show();
                $(".sampletickets").load("/user/requestsampletickets", { id: "@(Scheme == null ? "" : Scheme.SchemeId)" });
            }
        });
    });
    var delbuy = function(gameCode, ggcount, multiple, ggmoney, schemeId) {
        user.isLogin(function(isLogin) {
            if (!isLogin) {
                user.LoginCallBack = function() {
                    showdetails
                };
                loginDialog.Show(gameCode, ggcount, multiple, ggmoney, schemeId);
                $("#userName").focus();
            } else {
                showdetails(gameCode, ggcount, multiple, ggmoney, schemeId);
            }
        });
    };
    var showdetails = function(gameCode, ggcount, multiple, ggmoney, schemeId) {
        confirmTipGg(function() {
            $("#bet_confirm_content_gg").load("/single?g=" + gameCode + "&r=" + Math.random(), function(response, status, xhr) {
                if (status == "success") {
                    $("#ggcount").html(ggcount); //注数
                    $("#ggmutiply").html(multiple); //倍数
                    $("#ggmoney").html(ggmoney); //金额

                    confirmLightBoxGg.Show();
                    document.getElementById("btn_confirm_yes_gg").onclick = function() {
                        //先验证是否输入了资金密码
                        if (user.info.isNeedBetPwd) {
                            var password = $("#balancepwd");
                            if (password.val() == "" || password.val().length == 0) {
                                alertTip("您设置了资金密码，请输入资金密码", "ok");
                                return;
                            }
                        }
                        buy(schemeId);
                    };
                }
            });
        }, function() {});
    };
    //投注
    var buy = function(sid) {
        if (!$("#userAgent0").is(":checked")) {
            alertTip("您必须选择“我已阅读了 《用户合买代购协议》 并同意其中条款。”才能继续投注！！");
            return;
        }
        if (!$("#lotteryLimit0").is(":checked")) {
            alertTip("您必须选中“我已阅读了 《竞彩投注风险须知》 并同意其中条款。”才能继续投注！！");
            return;
        }
        var betobj = {
            bpwd: $("#balancepwd").val(),
            schemeId: sid
        };
        progress("正在出票...");
        
        $.post("/save_spotts", betobj, function(result) {
            endprogress();
            if (result.IsSuccess) {
                confirmLightBoxGg.Close();
                alertTip("<b class='big yellow'>您的保存方案已购买成功，祝您好运！</b><br/>方案编号：<a class='blue under' href='/user/scheme/" + sid + "' target='_black'>" + sid + "</a> <br/><br/><em class='gray'>提示：方案将分配到具有销售资质的投注站出票。</em>", "ok");
                $("#boxAlertOkButton").click(function() {
                    window.location.href = window.location.href;
                });
            } else {
                alertTip(result.Message, "err");
            }
        });

    };

     var stopTime = "@schemeStopTime";
    var BdfxCountdown = function () {     
        var list = [],     
            interval;

        return function(id, time) {
            if (!interval)
                interval = setInterval(go, 1000);
            list.push({ ele: document.getElementById(id), time: time });
        };     
    
        function go() {     
            for (var i = 0; i < list.length; i++) {     
                list[i].ele.innerHTML = getTimerString(list[i].time ? list[i].time -= 1 : 0);     
                if (!list[i].time)     
                    list.splice(i--, 1);     
            }     
        }     
    
        function getTimerString(time) {     
                d = Math.floor(time / 86400),     
                h = Math.floor((time % 86400) / 3600),     
                m = Math.floor(((time % 86400) % 3600) / 60),     
                s = Math.floor(((time % 86400) % 3600) % 60);     
            if (time>0)     
                return "<em>" + d + "</em>天<em>" + h + "</em>时<em>" + m + "</em>分<em>" + s + "</em>秒";      
              
            else return "未知";     
        }     
    } ();

    if ($('#stoptimeBdfx').get(0)) {
         BdfxCountdown("stoptimeBdfx", stopTime);     
    }
     if ($('#stoptimeBdfxfzcfmx').get(0)) {
          BdfxCountdown("stoptimeBdfxfzcfmx", stopTime);        
    }
</script>
