@using GameBiz.Core
@{
    var SportsTicket = ViewBag.SportsTicket as List<Sports_TicketQueryInfo>;
    var totalCount = (int)ViewBag.TotalTicketCount;
    var userId = ViewBag.UserId;
    var status = ViewBag.schemeStatus;
    var schemeId = ViewBag.SchemeId;
}
@if (SportsTicket != null && SportsTicket.Count > 0)
{
    <table class="mtable" width="100%" cellspacing="0" cellpadding="0" bordercolor="#d3d3d3"
        border="1" align="center" style="border-collapse: collapse; margin-top: 10px;">
        <tr class="thbg">
            <th width="5%">
                序号
            </th>
            <th>
                出票内容
            </th>
            <th width="5%">
                倍数
            </th>
            <th>
                过关方式
            </th>
            <th width="15%">
                出票状态
            </th>
            <th width="15%">
                奖金预测
            </th>
            @*<th width="15%">
                出票时间
            </th>*@
        </tr>
        <tbody>
            @foreach (var item in SportsTicket)
            {
                var str = new List<string>();
                if (string.IsNullOrEmpty(item.LocOdds))
                {
                    if (!string.IsNullOrEmpty(item.BetContent))
                    {
                        var BetContent = item.BetContent.Split('/');
                        if ("BJDC" == item.GameCode)
                        {
                            foreach (var betitem in BetContent)
                            {
                                var it = betitem.Split('_');
                                if (it.Count() == 2)
                                {
                                    var ct = it[1].Split(',');
                                    var temp = it[0] + "&nbsp;";
                                    temp = ct.Aggregate(temp, (current, c) => current + (SiteString.ANTECODES_NAME(item.GameType, c) + "&nbsp;"));
                                    str.Add(temp + "<br/>");
                                }
                            }
                        }
                        else if ("CQSSC" == item.GameCode && "DXDS" == item.GameType)
                        {
                            var it = item.BetContent.Split(',');
                            str.AddRange(it.Select(i => SiteString.CqsscCode(i) + "&nbsp;"));
                        }
                        if (item.GameCode == "SDKLPK3")
                        {
                            str.Add(SiteString.SDKLPK3(item.GameType, item.BetContent));
                        }
                        else if (item.GameCode == "JSKS")
                        {
                            if (item.GameType == "3THTX" || item.GameType == "3LHTX")
                            {
                                str.Add(WCFService.GameTypeList(item.GameCode, item.GameType));
                            }
                            else
                            {
                                foreach (var betitem in BetContent)
                                {
                                    str.Add(betitem + "</br>");
                                }
                            }
                        }
                        else
                        {
                            foreach (var betitem in BetContent)
                            {
                                str.Add(betitem + "</br>");
                            }
                        }
                    }
                    else
                    {
                        str.Add("暂无票数据");
                    }
                }
                else
                {

                    if (item.GameCode == "OZB")
                    {
                        var ozbCodeArray = item.BetContent.Split(',');
                        var oddsArray = item.LocOdds.Split('/');
                        var maxOdd = 1M;
                        if (ozbCodeArray.Length == oddsArray.Length)
                        {
                <tr>
                    <td>
                        @Convert.ToInt32(item.TicketId.Split('|')[1])
                    </td>
                    <td style="text-align: left; padding-left: 10px;">
                        @for (int i = 0; i < ozbCodeArray.Length; i++)
                        {
                            var c = ozbCodeArray[i];
                            var matchName = SiteConvert.GetOZB_MatchName(item.GameType, c);
                            var odd = decimal.Parse(oddsArray[i].Replace(c + "|", ""));
                            if (odd > maxOdd)
                            {
                                maxOdd = odd;
                            }
                            <div>
                                <i class="cblue2">@string.Format("{0}({1})", matchName, c)</i> <span class="clue3">_[@odd]</span>
                            </div>
                        }
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        单关
                    </td>
                    <td class="@(item.TicketStatus == TicketStatus.Error ? "font_red" : item.BonusStatus == BonusStatus.Win ? "font-green" : "font_fd6c00")">
                        @if (SiteString.UserIdList().Contains(userId) || !status.Contains("撤单"))
                        {
                            @Html.Raw(SiteConvert.TicketStatusName(item.TicketStatus) + "/" + SiteConvert.BonusStatusName(item.BonusStatus) + (item.BonusStatus == BonusStatus.Win ? "<br>(中奖金额:￥" + item.PreTaxBonusMoney.ToString("N2") + "元)" : ""))
                        }
                        else
                        {
                            <span>撤单</span>
                        }
                    </td>
                    <td class="font_fd6c00 blod size">
                        @string.Format("￥{0}", maxOdd * 2M * item.Amount)
                    </td>
                </tr>
                        }
                        continue;
                    }
                    else if (item.GameCode == "SJB")
                    {
                        var ozbCodeArray = item.BetContent.Split(',');
                        var oddsArray = item.LocOdds.Split('/');
                        var maxOdd = 1M;
                        if (ozbCodeArray.Length == oddsArray.Length)
                        {
                <tr>
                    <td>
                        @Convert.ToInt32(item.TicketId.Split('|')[1])
                    </td>
                    <td style="text-align: left; padding-left: 10px;">
                        @for (int i = 0; i < ozbCodeArray.Length; i++)
                        {
                            var c = ozbCodeArray[i];
                            var matchName = SiteConvert.GetSJB_MatchName(item.GameType, c);
                            var odd = decimal.Parse(oddsArray[i].Replace(c + "|", ""));
                            if (odd > maxOdd)
                            {
                                maxOdd = odd;
                            }
                            <div>
                                <i class="cblue2">@string.Format("{0}({1})", matchName, c)</i> <span class="clue3">_[@odd]</span>
                            </div>
                        }
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        单关
                    </td>
                    <td class="@(item.TicketStatus == TicketStatus.Error ? "font_red" : item.BonusStatus == BonusStatus.Win ? "font-green" : "font_fd6c00")">
                        @if (SiteString.UserIdList().Contains(userId) || !status.Contains("撤单"))
                        {
                            @Html.Raw(SiteConvert.TicketStatusName(item.TicketStatus) + "/" + SiteConvert.BonusStatusName(item.BonusStatus) + (item.BonusStatus == BonusStatus.Win ? "<br>(中奖金额:￥" + item.PreTaxBonusMoney.ToString("N2") + "元)" : ""))
                        }
                        else
                        {
                            <span>撤单</span>
                        }
                    </td>
                    <td class="font_fd6c00 blod size">
                        @string.Format("￥{0}", maxOdd * 2M * item.Amount)
                    </td>
                </tr>
                        }
                        continue;
                    }

                    if (string.IsNullOrEmpty(item.BetContent)) { continue; }
                    var BetContent = item.BetContent.Split('/');
                    if (string.IsNullOrEmpty(item.LocOdds)) { continue; }
                    var LocOdds = item.LocOdds.Split('/');
                    var oldissues = "";
                    var type = "";
                    foreach (var items in BetContent)
                    {
                        var Issues = "";
                        string[] splist;

                        if (items.Split('_').Length > 2)
                        {
                            str.Add(SiteConvert.GameName(item.GameCode, items.Split('_')[0]) + (string.IsNullOrEmpty(item.GameCode) ? "" : "_"));
                            Issues = items.Split('_')[1]; //期号
                            splist = (items.Split('_')[items.Split('_').Length - 1]).Split(',');
                            type = items.Split('_')[0];
                        }
                        else
                        {
                            str.Add(SiteConvert.GameName(item.GameCode, "") + (string.IsNullOrEmpty(item.GameCode) ? "" : "_"));
                            if (items.Split('_').Length > 0)
                            {

                                Issues = items.Split('_')[0]; //期号
                                splist = items.Split('_')[1].Split(',');
                            }
                            else
                            {
                                continue;
                            }
                            type = item.GameType;

                        }
                        var index = 0;
                        foreach (var item3 in splist)
                        {
                            index++;
                            foreach (var item2 in LocOdds)
                            {
                                if (Issues == item2.Split('_')[0])
                                {
                                    var sp = item2.Split('_')[1].Split(',');

                                    if (sp != null)
                                    {
                                        foreach (var spitem in sp)
                                        {
                                            var x = spitem.Split('|')[0];
                                            if (item3 == x)
                                            {

                                                var num = string.IsNullOrEmpty(spitem.Split('|')[1]) ? "0.000" : double.Parse(spitem.Split('|')[1]).ToString("0.000");
                                                var qz = string.IsNullOrEmpty(item.GameCode) ? "" : (item.GameCode.ToLower() == "jczq" && type.ToLower() == "spf" ? "让球" : item.GameCode.ToLower() == "jclq" && type.ToLower() == "rfsf" ? "让分" : "");
                                                if (oldissues != Issues)
                                                {
                                                    var dt1 = Issues.Substring(0, Issues.Length - 3);
                                                    var dt = "20" + dt1;
                                                    DateTime time = DateTime.ParseExact(dt, "yyyyMMdd", System.Globalization.CultureInfo.CurrentCulture);

                                                    string[] weekdays = { "周日", "周一", "周二", "周三", "周四", "周五", "周六" };

                                                    var issuesName = weekdays[Convert.ToInt32(time.DayOfWeek)];

                                                    var matchnum = Issues.Substring(dt1.Length);

                                                    str.Add("<i class='cblue2'>" + issuesName + matchnum + "</i><span class='clue3'>_" + qz + SiteString.ANTECODES_NAME(type, item3) + "[" + num.Substring(0, (num.IndexOf('.') + 3)) + "]</span>");
                                                }
                                                else
                                                {
                                                    str.Add(",<span class='clue3'>" + qz + SiteString.ANTECODES_NAME(type, item3) + "[" + num.Substring(0, num.IndexOf('.') + 3) + "]</span>");
                                                }
                                                // totalMoney *= decimal.Parse(num);
                                                if (index == splist.Length)
                                                {
                                                    str.Add("</br>");
                                                }
                                                oldissues = Issues;
                                                break;
                                            }
                                        }
                                    }
                                    break;
                                }
                            }
                        }
                    }
                }
                var playtype = string.IsNullOrEmpty(item.GameCode) ? "" : item.GameCode == "JCZQ" || item.GameCode == "JCLQ" ? item.PlayType.Substring(1, item.PlayType.Length - 1).Replace("_", "串") : WCFService.GameTypeList(item.GameCode, item.GameType);
                <tr>
                    <td>
                        @Convert.ToInt32(item.TicketId.Split('|')[1])
                    </td>
                    <td style="text-align: left; padding-left: 10px;">
                        @Html.Raw(string.Join("", str.ToArray()))
                    </td>
                    <td class="cblue blod">
                        @item.Amount
                    </td>
                    <td>@("BJDC" == item.GameCode ? item.PlayType.Substring(1, item.PlayType.Length - 1).Replace("_", "串") : playtype)
                    </td>
                    <td class="@(item.TicketStatus == TicketStatus.Error ? "font_red" : item.BonusStatus == BonusStatus.Win ? "font-green" : "font_fd6c00")">
                        @if (SiteString.UserIdList().Contains(userId) || !status.Contains("撤单"))
                        {
                            @Html.Raw(SiteConvert.TicketStatusName(item.TicketStatus) + "/" + SiteConvert.BonusStatusName(item.BonusStatus) + (item.BonusStatus == BonusStatus.Win ? "<br>(中奖金额:￥" + item.PreTaxBonusMoney.ToString("N2") + "元)" : ""))
                        }
                        else
                        {
                            <span>撤单</span>
                        }
                    </td>
                    @if (!string.IsNullOrEmpty(item.GameCode) && (item.GameCode.ToLower() == "jclq" || item.GameCode.ToLower() == "jczq"))
                    {
                        var minMoney = 0M;
                        var maxMoney = 0M;

                        //var winMoneyList = string.IsNullOrEmpty(item.BetContent) || string.IsNullOrEmpty(item.LocOdds) ? null : Common.Utilities.UsefullHelper.GetTicketMinMoneyOrMaxMoney(item.BetContent, item.LocOdds, out minMoney, out maxMoney);

                        //(string.IsNullOrEmpty(item.BetContent) || string.IsNullOrEmpty(item.LocOdds)) ? null : Common.Utilities.UsefullHelper.GetTicketMinMoneyOrMaxMoney_MN(item.PlayType.Replace("P", ""), item.BetContent, item.LocOdds, out minMoney, out maxMoney);
                        var playCount = 0;
                        if (!string.IsNullOrEmpty(item.PlayType))
                        {
                            var tempArray = item.PlayType.Replace("P", "").Split('_');
                            if (tempArray.Length >= 2)
                            {
                                playCount = Convert.ToInt32(tempArray[1]);
                            }
                        }
                        if (string.IsNullOrEmpty(item.PlayType) || playCount <= 1)
                        {
                            var winMoneyList = string.IsNullOrEmpty(item.BetContent) || string.IsNullOrEmpty(item.LocOdds) ? null : Common.Utilities.UsefullHelper.GetTicketMinMoneyOrMaxMoney(item.BetContent, item.LocOdds, out minMoney, out maxMoney);
                        }
                        else
                        {
                            Common.Utilities.UsefullHelper.GetTicketMinMoneyOrMaxMoney_MN(item.PlayType.Replace("P", ""), item.BetContent, item.LocOdds, out minMoney, out maxMoney);
                        }
                        
                        <td class="font_fd6c00 blod size">
                            ￥@if (minMoney == maxMoney)
                             {
                                @((minMoney * item.Amount).ToString("N2"))
                             }
                             else
                             {
                                @((minMoney * item.Amount).ToString("N2") + "-" + (maxMoney * item.Amount).ToString("N2"))
                             }
                        </td>
                    }
                    else
                    { 
                        <td class="font_red blod size">
                            请以实际奖金为准
                        </td>
                    }
                    @*<td>
                        @(item.PrintDateTime.HasValue ? item.PrintDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align: right">
        @ViewHelpers.Pager5("getTicket", ViewBag.PageIndex, ViewBag.PageSize, totalCount)
    </div>
    <script type="text/javascript">
        function getTicket(pageIndex, pageSize) {
            var href = "/user/SportsTicket?pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&SchemeId=@schemeId";
            $(".showtick").load(href);
        }
    </script>
}
