@using app.lottery.site.Models
@using External.Core.Agnet
@using GameBiz.Core
@{    
    Layout = "../Shared/_LayoutFoud.cshtml";
    ViewBag.Title = "返点记录";
    ViewBag.keywords = "返点记录";
    var list = ViewBag.OCAgentPayDetail as OCAgentPayDetailInfoCollection;
    var user = ViewBag.CurrentUser as app.lottery.site.Models.CurrentUserInfo;
}
<div class="center mt10">
    @{Html.RenderPartial("Mycommenu", "Member");}
    @{Html.RenderPartial("toptipFoud", "Member");}
    <div class="new_buy_right">
        <div class="betorder_top">
            <ul>
                @if (user.LoginInfo.IsAgent)
                {
                    <li><a href="/member/generalizeUser">返点用户</a></li>
                    <li class="betorder_topSelected"><a href="/member/CommissionRecord">返点结算</a></li>
                    <li><a href="/member/StatisticsQuery">统计查询</a></li>
                    <li><a href="/member/SchemeManage">方案管理</a></li> 
                }
            </ul>
        </div>
        <div class="betorder_con clearfix">
            <div class="scheme" style="border-bottom: 1px solid #d4eaff">
                <div class="scheme-show xzscheme">
                    <a href="/member/CommissionRecord"><i></i>返点结算</a>
                </div>
            </div>
            <div class="scheme-titile">
                <span class="dot"></span>
                <label class="lbfa">
                    我的返点记录</label>
            </div>
            <div class="tab_box">
                <div style="width: 620px !important 540px; float: left; height: 40px; line-height: 40px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;日期：@ViewHelpers.Calendar3("begin", ViewBag.Begin)至 @ViewHelpers.Calendar3("end", ViewBag.End)&nbsp;
                    <input class="search_btn" type="button" value="查询" onclick="getOCAgentPayDetail(0,10)"></div>
                <table border="0" cellpadding="0" cellspacing="0" class="betorder_table">
                    <thead>
                        <tr class="tr_head">
                            <th width="88">
                                时间
                            </th>
                            <th width="125">
                                交易类型
                            </th>
                            <th width="85">
                                彩种
                            </th>
                            <th width="60">
                                玩法
                            </th>
                            <th width="65">
                                返点
                            </th>
                            <th width="75">
                                返利返点
                            </th>
                            <th width="110">
                                备注
                            </th>
                        </tr>
                    </thead>
                    @if (list != null && list.DetailList.Count > 0)
                    {
                        foreach (var item in list.DetailList)
                        {
                        <tr>
                            <td>
                                @(item.CreateTime.ToString() == "0001/1/1 0:00:00" ? "" : item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"))
                            </td>
                            <td>
                                @SiteConvert.SchemeTypeName(item.SchemeType)
                            </td>
                            <td>
                                @SiteConvert.GameName(item.GameCode)
                            </td>
                            <td>
                                @SiteConvert.GameName(item.GameCode, item.GameType)
                            </td>
                            <td class="orderId">
                                @item.Rebate.ToString("N2")
                            </td>
                            <td class="ye">
                                @item.PayMoney.ToString("N2")
                            </td>
                            <td style="text-align: left">
                                @item.Remark
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                暂时没有找到你要的数据哦
                            </td>
                        </tr>
                    }
                </table>
                <p class="tip" style="margin-top: 10px;">
                    注意：返点结算最多可查询一个月数据</p>
                <div style="margin-top: -15px;">
                    @ViewHelpers.Pager6("getOCAgentPayDetail", ViewBag.pageNo, 10, list == null ? 0 : list.TotalCount)
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".commissionR-table tr:odd:gt(0)").css("backgroundColor", "#f9f9f9");
    });
    function getOCAgentPayDetail(pageNo, pageSize) {
        var begin = $("#begin").val();
        var end = $("#end").val();
        var search = "pageNo=" + pageNo + "&pageSize=" + pageSize + "&begin=" + begin + "&end=" + end + "&r=" + Math.random().toFixed(5);
        location.search = search;
    }   
</script>
<div class="clearfix">
</div>
