@{
    Layout = "~/Views/lotteryTrend/_Layout.cshtml";
    var pageSize = Request["pageSize"];
    if (pageSize != "" && pageSize != null)
    {
        ViewBag.Title = "江西时时彩和值走势图近" + pageSize + "期" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西时时彩和值走势图近" + pageSize + "期";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "江西时时彩和值走势图近" + pageSize + "期,查看更多江西时时彩和值走势图请登录" + SiteString.getHZSiteName(Request) + "彩票网.";
    }
    else
    {
        ViewBag.Title = "江西时时彩和值走势图-" + SiteString.getHZSiteName(Request);
        ViewBag.Keywords = "江西时时彩和值走势图";
        ViewBag.Description = SiteString.getHZSiteName(Request) + "彩票网提供最新的江西时时彩和值走势图,其中包括所有开奖号码的和值走势分布,让彩民朋友更直观的分析江西时时彩和值走势图.";
    }
    var s5hzzs = ViewBag.DataList as List<LotteryData.Core.JXSSC_5X_HZZS_Info>;
    var a = 0;  
}
@{Html.RenderAction("ThendLink_2", "lotteryTrend", new { id = "s5hzzs_jxssc" });}
<div id="container">
    <div class="cont_box" style="overflow-x: scroll; overflow-y: hidden; width: 1003px;">
        <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table_box"
            style="width: 1100px;" id="chartsTable">
            <tbody>
                <tr>
                    <td align="center" class="tab_top" colspan="52">
                        标注形式选择：
                        <input type="checkbox" checked="checked" id="c_yl">
                        <label for="c_yl">
                            遗漏</label>
                        <input type="checkbox" checked="checked" id="has_line">
                        <label for="has_line">
                            折线</label>
                        <input type="checkbox" checked="checked" id="help_line">
                        <label for="help_line">
                            分隔线</label>
                        <input type="checkbox" id="yl_zhu">
                        <label for="yl_zhu">
                            遗漏分层</label>
                    </td>
                </tr>
                <tr class="tabbg">
                    <td class="line_r" rowspan="2" width="10%">
                        期号
                    </td>
                    <td class="line_r" rowspan="2" colspan="5" width="10%">
                        开奖号码
                    </td>
                    <td colspan="46">
                        五星和值分布
                    </td>
                </tr>
                <tr class="tabbg">
                    <td width="1%">
                        0
                    </td>
                    <td width="1%">
                        1
                    </td>
                    <td width="1%">
                        2
                    </td>
                    <td width="1%">
                        3
                    </td>
                    <td width="1%">
                        4
                    </td>
                    <td width="1%">
                        5
                    </td>
                    <td width="1%">
                        6
                    </td>
                    <td width="1%">
                        7
                    </td>
                    <td width="1%">
                        8
                    </td>
                    <td width="1%">
                        9
                    </td>
                    <td width="1%">
                        10
                    </td>
                    <td width="1%">
                        11
                    </td>
                    <td width="1%">
                        12
                    </td>
                    <td width="1%">
                        13
                    </td>
                    <td width="1%">
                        14
                    </td>
                    <td width="1%">
                        15
                    </td>
                    <td width="1%">
                        16
                    </td>
                    <td width="1%">
                        17
                    </td>
                    <td width="1%">
                        18
                    </td>
                    <td width="1%">
                        19
                    </td>
                    <td width="1%">
                        20
                    </td>
                    <td width="1%">
                        21
                    </td>
                    <td width="1%">
                        22
                    </td>
                    <td width="1%">
                        23
                    </td>
                    <td width="1%">
                        24
                    </td>
                    <td width="1%">
                        25
                    </td>
                    <td width="1%">
                        26
                    </td>
                    <td width="1%">
                        27
                    </td>
                    <td width="1%">
                        28
                    </td>
                    <td width="1%">
                        29
                    </td>
                    <td width="1%">
                        30
                    </td>
                    <td width="1%">
                        31
                    </td>
                    <td width="1%">
                        32
                    </td>
                    <td width="1%">
                        33
                    </td>
                    <td width="1%">
                        34
                    </td>
                    <td width="1%">
                        35
                    </td>
                    <td width="1%">
                        36
                    </td>
                    <td width="1%">
                        37
                    </td>
                    <td width="1%">
                        38
                    </td>
                    <td width="1%">
                        39
                    </td>
                    <td width="1%">
                        40
                    </td>
                    <td width="1%">
                        41
                    </td>
                    <td width="1%">
                        42
                    </td>
                    <td width="1%">
                        43
                    </td>
                    <td width="1%">
                        44
                    </td>
                    <td width="1%">
                        45
                    </td>
                </tr>
            </tbody>
            <tbody id="tdata">
                @foreach (var item in s5hzzs)
                {
                    a++;
                    if (a % 5 == 0)
                    {
                    <tr class="tdbck">
                        <td colspan="52">
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="line_r">
                            @item.IssuseNumber
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall1
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall2
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall3
                        </td>
                        <td width="23" class="hot12">
                            @item.RedBall4
                        </td>
                        <td width="23" class="hot12 line_r">
                            @item.RedBall5
                        </td>
                        <td class="@(item.HZ_0 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_0 == 0 ? "0" : item.HZ_0.ToString())
                        </td>
                        <td class="@(item.HZ_1 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_1 == 0 ? "1" : item.HZ_1.ToString())
                        </td>
                        <td class="@(item.HZ_2 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_2 == 0 ? "2" : item.HZ_2.ToString())
                        </td>
                        <td class="@(item.HZ_3 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_3 == 0 ? "3" : item.HZ_3.ToString())
                        </td>
                        <td class="@(item.HZ_4 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_4 == 0 ? "4" : item.HZ_4.ToString())
                        </td>
                        <td class="@(item.HZ_5 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_5 == 0 ? "5" : item.HZ_5.ToString())
                        </td>
                        <td class="@(item.HZ_6 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_6 == 0 ? "6" : item.HZ_6.ToString())
                        </td>
                        <td class="@(item.HZ_7 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_7 == 0 ? "7" : item.HZ_7.ToString())
                        </td>
                        <td class="@(item.HZ_8 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_8 == 0 ? "8" : item.HZ_8.ToString())
                        </td>
                        <td class="@(item.HZ_9 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_9 == 0 ? "9" : item.HZ_9.ToString())
                        </td>
                        <td class="@(item.HZ_10 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_10 == 0 ? "10" : item.HZ_10.ToString())
                        </td>
                        <td class="@(item.HZ_11 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_11 == 0 ? "11" : item.HZ_11.ToString())
                        </td>
                        <td class="@(item.HZ_12 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_12 == 0 ? "12" : item.HZ_12.ToString())
                        </td>
                        <td class="@(item.HZ_13 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_13 == 0 ? "13" : item.HZ_13.ToString())
                        </td>
                        <td class="@(item.HZ_14 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_14 == 0 ? "14" : item.HZ_14.ToString())
                        </td>
                        <td class="@(item.HZ_15 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_15 == 0 ? "15" : item.HZ_15.ToString())
                        </td>
                        <td class="@(item.HZ_16 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_16 == 0 ? "16" : item.HZ_16.ToString())
                        </td>
                        <td class="@(item.HZ_17 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_17 == 0 ? "17" : item.HZ_17.ToString())
                        </td>
                        <td class="@(item.HZ_18 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_18 == 0 ? "18" : item.HZ_18.ToString())
                        </td>
                        <td class="@(item.HZ_19 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_19 == 0 ? "19" : item.HZ_19.ToString())
                        </td>
                        <td class="@(item.HZ_20 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_20 == 0 ? "20" : item.HZ_20.ToString())
                        </td>
                        <td class="@(item.HZ_21 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_21 == 0 ? "21" : item.HZ_21.ToString())
                        </td>
                        <td class="@(item.HZ_22 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_22 == 0 ? "22" : item.HZ_22.ToString())
                        </td>
                        <td class="@(item.HZ_23 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_23 == 0 ? "23" : item.HZ_23.ToString())
                        </td>
                        <td class="@(item.HZ_24 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_24 == 0 ? "24" : item.HZ_24.ToString())
                        </td>
                        <td class="@(item.HZ_25 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_25 == 0 ? "25" : item.HZ_25.ToString())
                        </td>
                        <td class="@(item.HZ_26 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_26 == 0 ? "26" : item.HZ_26.ToString())
                        </td>
                        <td class="@(item.HZ_27 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_27 == 0 ? "27" : item.HZ_27.ToString())
                        </td>
                        <td class="@(item.HZ_28 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_28 == 0 ? "28" : item.HZ_28.ToString())
                        </td>
                        <td class="@(item.HZ_29 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_29 == 0 ? "29" : item.HZ_29.ToString())
                        </td>
                        <td class="@(item.HZ_30 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_30 == 0 ? "30" : item.HZ_30.ToString())
                        </td>
                        <td class="@(item.HZ_31 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_31 == 0 ? "31" : item.HZ_31.ToString())
                        </td>
                        <td class="@(item.HZ_32 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_32 == 0 ? "32" : item.HZ_32.ToString())
                        </td>
                        <td class="@(item.HZ_33 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_33 == 0 ? "33" : item.HZ_33.ToString())
                        </td>
                        <td class="@(item.HZ_34 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_34 == 0 ? "34" : item.HZ_34.ToString())
                        </td>
                        <td class="@(item.HZ_35 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_35 == 0 ? "35" : item.HZ_35.ToString())
                        </td>
                        <td class="@(item.HZ_36 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_36 == 0 ? "36" : item.HZ_36.ToString())
                        </td>
                        <td class="@(item.HZ_37 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_37 == 0 ? "37" : item.HZ_37.ToString())
                        </td>
                        <td class="@(item.HZ_38 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_38 == 0 ? "38" : item.HZ_38.ToString())
                        </td>
                        <td class="@(item.HZ_39 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_39 == 0 ? "39" : item.HZ_39.ToString())
                        </td>
                        <td class="@(item.HZ_40 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_40 == 0 ? "40" : item.HZ_40.ToString())
                        </td>
                        <td class="@(item.HZ_41 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_41 == 0 ? "41" : item.HZ_41.ToString())
                        </td>
                        <td class="@(item.HZ_42 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_42 == 0 ? "42" : item.HZ_42.ToString())
                        </td>
                        <td class="@(item.HZ_43 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_43 == 0 ? "43" : item.HZ_43.ToString())
                        </td>
                        <td class="@(item.HZ_44 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_44 == 0 ? "44" : item.HZ_44.ToString())
                        </td>
                        <td class="@(item.HZ_45 == 0 ? "cbg hot03" : "y101")">
                            @(item.HZ_45 == 0 ? "45" : item.HZ_45.ToString())
                        </td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td align="center" class="bdtop line_r">
                        出现次数
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop">
                    </td>
                    <td class="bdtop line_r">
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_0 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_1 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_2 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_3 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_4 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_5 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_6 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_7 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_8 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_9 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_10 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_11 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_12 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_13 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_14 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_15 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_16 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_17 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_18 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_19 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_20 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_21 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_22 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_23 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_24 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_25 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_26 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_27 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_28 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_29 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_30 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_31 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_32 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_33 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_34 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_35 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_36 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_37 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_38 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_39 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_40 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_41 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_42 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_43 == 0))
                    </td>
                    <td class="bdtop">
                        @(s5hzzs.Count(p => p.HZ_44 == 0))
                    </td>
                    <td class="bdtop line_r">
                        @(s5hzzs.Count(p => p.HZ_45 == 0))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        平均遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_0) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_1) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_2) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_3) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_4) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_5) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_6) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_7) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_8) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_9) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_10) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_11) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_12) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_13) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_14) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_15) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_16) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_17) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_18) / s5hzzs.Count)
                    </td>
                    <td class="">
                        @(s5hzzs.Sum(p => p.HZ_19) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_20) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_21) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_22) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_23) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_24) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_25) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_26) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_27) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_28) / s5hzzs.Count)
                    </td>
                    <td class="">
                        @(s5hzzs.Sum(p => p.HZ_29) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_30) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_31) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_32) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_33) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_34) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_35) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_36) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_37) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_38) / s5hzzs.Count)
                    </td>
                    <td class="">
                        @(s5hzzs.Sum(p => p.HZ_39) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_40) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_41) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_42) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_43) / s5hzzs.Count)
                    </td>
                    <td>
                        @(s5hzzs.Sum(p => p.HZ_44) / s5hzzs.Count)
                    </td>
                    <td class="line_r">
                        @(s5hzzs.Sum(p => p.HZ_45) / s5hzzs.Count)
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        最大遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_0))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_1))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_2))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_3))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_4))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_5))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_6))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_7))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_8))
                    </td>
                    <td class="">
                        @(s5hzzs.Max(p => p.HZ_9))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_10))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_11))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_12))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_13))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_14))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_15))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_16))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_17))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_18))
                    </td>
                    <td class="">
                        @(s5hzzs.Max(p => p.HZ_19))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_20))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_21))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_22))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_23))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_24))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_25))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_26))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_27))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_28))
                    </td>
                    <td class="">
                        @(s5hzzs.Max(p => p.HZ_29))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_30))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_31))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_32))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_33))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_34))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_35))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_36))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_37))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_38))
                    </td>
                    <td class="">
                        @(s5hzzs.Max(p => p.HZ_39))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_40))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_41))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_42))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_43))
                    </td>
                    <td>
                        @(s5hzzs.Max(p => p.HZ_44))
                    </td>
                    <td class="line_r">
                        @(s5hzzs.Max(p => p.HZ_45))
                    </td>
                </tr>
                <tr>
                    <td align="center" class="line_r">
                        当前遗漏
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="line_r">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_0)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_0)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_1)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_1)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_2)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_2)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_3)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_3)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_4)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_4)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_5)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_5)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_6)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_6)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_7)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_7)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_8)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_8)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_9)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_9)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_10)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_10)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_11)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_11)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_12)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_12)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_13)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_13)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_14)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_14)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_15)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_15)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_16)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_16)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_17)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_17)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_18)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_18)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_19)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_19)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_20)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_20)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_21)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_21)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_22)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_22)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_23)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_23)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_24)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_24)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_25)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_25)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_26)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_26)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_27)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_27)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_28)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_28)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_29)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_29)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_30)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_30)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_31)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_31)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_32)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_32)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_33)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_33)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_34)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_34)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_35)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_35)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_36)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_36)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_37)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_37)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_38)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_38)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_39)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_39)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_40)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_40)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_41)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_41)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_42)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_42)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_43)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_43)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_44)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_44)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                    <td valign="bottom" class="line_r">
                        @(s5hzzs[s5hzzs.Count - 1].HZ_45)<br>
                        <img width="8px" height="@(s5hzzs[s5hzzs.Count - 1].HZ_45)px" src="@ViewHelpers.img("/trend/zzt02.gif")">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tabbg">
                    <td rowspan="2" class="line_r">
                        期号
                    </td>
                    <td rowspan="2" class="line_r" colspan="5">
                        开奖号码
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        13
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        15
                    </td>
                    <td>
                        16
                    </td>
                    <td>
                        17
                    </td>
                    <td>
                        18
                    </td>
                    <td>
                        19
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        21
                    </td>
                    <td>
                        22
                    </td>
                    <td>
                        23
                    </td>
                    <td>
                        24
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        26
                    </td>
                    <td>
                        27
                    </td>
                    <td>
                        28
                    </td>
                    <td>
                        29
                    </td>
                    <td>
                        30
                    </td>
                    <td>
                        31
                    </td>
                    <td>
                        32
                    </td>
                    <td>
                        33
                    </td>
                    <td>
                        34
                    </td>
                    <td>
                        35
                    </td>
                    <td>
                        36
                    </td>
                    <td>
                        37
                    </td>
                    <td>
                        38
                    </td>
                    <td>
                        39
                    </td>
                    <td>
                        40
                    </td>
                    <td>
                        41
                    </td>
                    <td>
                        42
                    </td>
                    <td>
                        43
                    </td>
                    <td>
                        44
                    </td>
                    <td>
                        45
                    </td>
                </tr>
                <tr class="tabbg">
                    <td colspan="47">
                        和尾分布
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {

        var allLines = new Array();
        allLines.push({ line: $(".hot03"), color: "#0170B6" });

        var line = new XTLine();
        for (i = 0; i < allLines.length; i++) {
            var l = allLines[i];

            line.color = l.color;
            line.arrayBalls = l.line;
            line.showrect();
        }


        $("#has_line").click(function () {
            line.display(this.checked);
        })
    })
</script>
